artisan_assistant-sycwjBb53c0gxZtb.json
{"createdAt":"2025-11-27T12:04:43.521Z","updatedAt":"2025-11-27T16:36:18.000Z","id":"sycwjBb53c0gxZtb","name":"artisan_assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8cd1ec96-b262-4641-a9bf-d8eb3d2643a3","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-672,-112],"id":"079db523-67e1-483b-ab36-1b44ccc98fef","name":"Webhook","webhookId":"8cd1ec96-b262-4641-a9bf-d8eb3d2643a3"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-400,-112],"id":"1f13b0c9-c599-4cd1-8366-3fc0b73d8bdf","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","tableId":"test-collaborateur","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[720,-160],"id":"58f52921-7ff0-4feb-93df-418700f7e11b","name":"Get many rows in Supabase","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"test-chantier","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[848,-160],"id":"60533cb2-90fa-4a94-8f89-f5fc86c7968f","name":"Get many rows in Supabase1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1424,-400],"id":"06455e6a-7e81-4fe3-afe4-d0b234e3b0ce","name":"Respond to Webhook"},{"parameters":{"options":{"responseCode":500}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[528,304],"id":"6b3ca1a9-4eea-46c3-bb50-8dde6f5c26c9","name":"Respond to Webhook1"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"tu es l'assistant input tu analyse si la demande est légitime ou pas.S'il s'agit de modifier le planning pour un chantier pour un ou plusieurs salarié c'est 'ok', sinon c'est 'ko'"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-112,-304],"id":"c8cfd26f-bca5-45c5-8902-27073d344b41","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-192,-96],"id":"2cbbbcde-5eb1-400e-a4b9-5436598828d5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdd24af9-28cb-4f74-9ec3-077d423d2ffa","leftValue":"={{ $json.text }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-384],"id":"52871a81-2ba8-4b6c-8244-6d9cdc6ea044","name":"If1"},{"parameters":{"promptType":"define","text":"={{ $('Transcribe a recording').item.json.text }}","hasOutputParser":true,"options":{"systemMessage":"=Tu es l'agent expert dans l'identification du chantier et des collaborateurs dont on parle, et des dates.\nTu as 2 outils supabase pour retrouver leurs ID (message = \"ok\" + id_chantier + id_collaborateur) sinon message = \"ko\" + description \"pourquoi ça n'a pas marché\" )\n\npour les dates aujourd'hui nous sommes le {{ new Date().toISOString() }} tu dois identifier si c'est le matin (9h - 12h) ou l'après-midi (14h-17h).\nTu ne peux faire que des créneaux de demi-journées, et donc une journée devient un créneau matin et un créneau après midi.\nDéfinit autant de créneaux que nécessaire.\n","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[656,-400],"id":"b416fc10-ad18-4ce5-a3a8-ee3991d5f3d8","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[464,-160],"id":"e5c661f1-46af-4f8e-b315-b79b1da6217a","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[576,-160],"id":"5f658102-b94c-4f93-a0e2-d1d8d9880d0f","name":"Simple Memory2"},{"parameters":{"jsonSchemaExample":"{\n\t\"message\": \"ok\",\n  \t\"id_chantier\": \"lkscdlksjlsdkj\",\n\t\"id_collaborateur\": \"4354654654654\",\n  \t\"creneaux\": [{\n      \"debut\": \"2025-11-04 08:00:00+00\",\n      \"fin\": \"2025-11-04 11:00:00+00\"},\n    {\n      \"debut\": \"2025-11-05 08:00:00+00\",\n      \"fin\": \"2025-11-05 11:00:00+00\"}\n    ]\n\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[976,-160],"id":"be92a06a-cd99-485a-881e-c7166a6f6341","name":"Structured Output Parser1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[240,-496],"id":"05a8faa7-343c-4db7-a818-8600d74fd357","name":"When chat message received","webhookId":"5fdbcf0f-8cc6-429e-b682-592d760ad56c"},{"parameters":{"jsCode":"const { id_chantier, id_collaborateur, creneaux } = items[0].json.output;\n\nreturn creneaux.map(c => {\n  return {\n    json: {\n      id_chantier,\n      id_collaborateur,\n      debut: c.debut,\n      fin: c.fin\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,-400],"id":"f217abf0-2ddc-4e22-ad70-e9b1c71786da","name":"Code"},{"parameters":{"tableId":"test-intervention","fieldsUi":{"fieldValues":[{"fieldId":"chantier_id","fieldValue":"={{ $json.id_chantier }}"},{"fieldId":"collaborateur_id","fieldValue":"={{ $json.id_collaborateur }}"},{"fieldId":"date_debut","fieldValue":"={{ $json.debut }}"},{"fieldId":"date_fin","fieldValue":"={{ $json.fin }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1216,-400],"id":"190d74ef-6b32-4eb4-8a6d-608d00f828b7","name":"Create a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Get many rows in Supabase":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get many rows in Supabase1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"When chat message received":{"main":[[]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7eca1ae-d4b5-4f21-b18d-e0d370dbd55d","triggerCount":2,"shared":[{"createdAt":"2025-11-27T12:04:43.526Z","updatedAt":"2025-11-27T12:04:43.526Z","role":"workflow:owner","workflowId":"sycwjBb53c0gxZtb","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}