artisan_assistant-copy-yWpwuQBfpEugwZUS.json
{"createdAt":"2025-11-28T12:29:04.204Z","updatedAt":"2025-11-28T12:29:04.204Z","id":"yWpwuQBfpEugwZUS","name":"artisan_assistant copy","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"62ff2e98-3395-4b09-bda8-5216e838f482","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-688,-336],"id":"34e9a31a-c029-4290-b8e3-4e376c0b37f4","name":"Webhook","webhookId":"62ff2e98-3395-4b09-bda8-5216e838f482"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-416,-336],"id":"67eb74f8-5af9-4024-bacf-d588c953f0c6","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","tableId":"test-collaborateur","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[880,-160],"id":"c464f48b-2e4a-4a41-861a-7c7476a45e3b","name":"Get many rows in Supabase","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"test-chantier","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1008,-160],"id":"227fd70b-c7ff-426f-878c-685644597dac","name":"Get many rows in Supabase1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1632,-400],"id":"c5dd3088-9fe5-458b-b939-824032f36634","name":"Respond to Webhook"},{"parameters":{"options":{"responseCode":500,"responseHeaders":{"entries":[{"name":"message","value":"Désolé je suis incapabled e traiter cette demande, veuillez vous limiter à des demandes de planning."}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,128],"id":"1595d50f-0ffa-4ece-ada3-552adf3a1d32","name":"Respond to Webhook1"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"Tu es l'assistant input tu analyse si la demande est légitime ou pas pour des raisons de sécurité.\n\nToutes les demandes qui consistent à créer, modifier ou supprimer des interventions dans le planning sont acceptées et tu renvoies \"ok\" sinon tu renvoies \"error\" et le motif de ton refus dans un message.\n\nFormat de sortie JSON obligatoire\n{\n  \"message\": \"ok\" | \"error\",\n  \"error_detail\": string | null\n}\nTrès important : \nNe jamais utiliser de backticks, pas de ```json, pas de blocs de code.\nTu dois répondre en JSON brut, sans markdown, sans texte autour."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-192,-336],"id":"b955a75d-175f-4886-bb87-d62e4efd00b9","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-192,-160],"id":"b120e6ee-700b-40b9-b7db-0d407200d8ac","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdd24af9-28cb-4f74-9ec3-077d423d2ffa","leftValue":"={{ $json.message }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[352,-336],"id":"7f0ffee6-8add-4859-9953-61c426d25058","name":"If1"},{"parameters":{"options":{"systemMessage":"=## Rôle\n\nTu es l'agent expert planning, on va te demander de créer, modifier ou supprimer des interventions qui sont stockées dans supabase.\n\n## Capacités\n\n## Règle fondamentale\nTu dois TOUJOURS analyser et comprendre toi-même :\n- les dates,\n- les demi-journées (matin/après-midi),\n- les déplacements,\n- les suppressions,\n- la segmentation en créneaux.\n\n❗️L’identification des créneaux NE dépend jamais des tools.\nTu dois la faire immédiatement, avant tout tool call.\n\nLes tools servent UNIQUEMENT à récupérer des identifiants (id_collaborateur, id_chantier, id_intervention) dans Supabase.\nles noms des tables \ntest-chantier, test-collaborateur, test-intervention\n\n### les ID\n 1. **Création** :tu sais retrouver les collaborateur_id, chantier_id dans supabase en fonction du texte fourni quand il s'agit de créer des interventions.\nSi tu n'as pas collaborateur_id et chantier_id tu ne peux pas créer : tu renvoies le prompt et le message d'erreur\nsi as ce qu'il faut tu utilise le tool supabase de create pour faire ce qu'il faut.\n\n 2.**Déplacement ou suppression** : parfois s'il s'agit de modifier ou supprimer des interventions tu dois d'abord identifier de qui on parle pour quel chantier (collaborateur_id et chantier_id) puis retrouver les intervention_id qui correspondent à cela dans les créneaux de date indiqués.\n\n  - Pour déplacer un ou des créneau(x) tu dois modifier les les créneaux selon les mêmes règles de demi-journées plus bas.\n\n  - Pour supprimer un ou des créneau(x) tu dois utiliser le tool de suppression supabase pour les créneaux que tu as identifié.\n\nsi tu n'as aucun intervention_id tu renvoies le prompt et pourquoi tu n'as pas réussi.\n\n**n'invente jamais un id**\n\nTu as 3 outils supabase pour retrouver ces ID, chacun capable de faire un GET MANY avec un critère.\n\n### les dates\nConcernant les dates aujourd'hui nous sommes le {{ new Date().toISOString() }} et tu dois toujours identifier si on parle du matin (9h - 12h) ou de l'après-midi (14h-17h).\n\nTu ne peux faire que des créneaux de demi-journées, et donc une journée devient un créneau matin et un créneau après midi.\n\nQuand tu dois créer des interventions définit autant de créneaux que nécessaire.\n\n## Format de réponse\nTu dois TOUJOURS répondre en JSON valide.\nMême si l'utilisateur se trompe, même si une donnée manque, même si tu veux signaler une erreur.\nJamais de texte hors JSON.\n\n⚠️ IMPORTANT ⚠️\n- Lorsque tu appelles un tool → NE DONNE PAS de JSON.\n- Le JSON final n’est **PAS** un tool call.\n- Les tools servent uniquement à collecter des données depuis Supabase.\n- Le format JSON final ne doit arriver qu’à la toute fin, jamais avant.\n\nFORMAT OBLIGATOIRE :\n{\n  \"message\": \"ok\" | \"error\",\n  \"chantier_id\": string | null,\n  \"collaborateur_id\": string | null,\n  \"creneaux\": [\n    { \"debut\": string, \"fin\": string },\n    ...\n  ],\n  \"error_detail\": string | null\n}\n\nSi une information manque, mets \"message\": \"error\" et explique dans error_detail.\n\n⚠️ Le JSON final NE doit contenir que ce contenu,\nsans texte autour, sans markdown, sans backticks.","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[896,-400],"id":"f2d082e2-20d8-4121-bf75-5e1a6d90331e","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,-160],"id":"751c5aa8-1c51-4e76-96d1-82bc13c20d49","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[736,-160],"id":"e8323576-1f32-48db-9be0-a6e63f4e5f4a","name":"Simple Memory2"},{"parameters":{"options":{},"path":"7df1e3e8-0109-4628-9785-633d84472c6a"},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[544,-528],"id":"6be09d49-a392-4ac8-a408-f78026b63411","name":"When chat message received","webhookId":"7df1e3e8-0109-4628-9785-633d84472c6a"},{"parameters":{"jsCode":"// --------------------------------------------------------\n// ULTIMATE JSON SANITIZER v2\n// Pour un agent planning Supabase (création / maj / suppression)\n// --------------------------------------------------------\n\n// 1️⃣ Récupère la sortie brute (adapté à tous les nodes OpenAI)\nlet raw =\n  $json.text ||\n  $json.response ||\n  $json.data ||\n  $json.answer ||\n  $json.output ||\n  JSON.stringify($json);\n\n// Force en string\nraw = String(raw).trim();\n\n// 2️⃣ Supprime tous les backticks éventuels\nraw = raw.replace(/```json|```/gi, '').trim();\n\n// 3️⃣ Extrait uniquement le JSON entre { ... }\n//    (utile si l'agent envoie \"Voici la réponse:\\n{...}\\nMerci\")\nconst firstBrace = raw.indexOf('{');\nconst lastBrace = raw.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  raw = raw.substring(firstBrace, lastBrace + 1).trim();\n}\n\n// Validation / structure attendue\nfunction normalize(obj) {\n  return {\n    message:\n      obj.message === \"ok\" || obj.message === \"error\"\n        ? obj.message\n        : \"error\",\n\n    id_chantier:\n      typeof obj.id_chantier === \"string\" ? obj.id_chantier : null,\n\n    id_collaborateur:\n      typeof obj.id_collaborateur === \"string\"\n        ? obj.id_collaborateur\n        : null,\n\n    creneaux: Array.isArray(obj.creneaux)\n      ? obj.creneaux.filter(\n          (c) =>\n            c &&\n            typeof c.debut === \"string\" &&\n            typeof c.fin === \"string\"\n        )\n      : [],\n\n    error_detail:\n      typeof obj.error_detail === \"string\"\n        ? obj.error_detail\n        : null,\n  };\n}\n\nlet parsed;\n\n// 4️⃣ Tentative de parsing\ntry {\n  parsed = JSON.parse(raw);\n\n  // Case: l’agent renvoie un tableau au lieu d’un objet\n  if (Array.isArray(parsed) && parsed.length === 1 && typeof parsed[0] === \"object\") {\n    parsed = parsed[0];\n  }\n\n  // Case: la réponse n'est pas un objet JSON\n  if (typeof parsed !== \"object\" || parsed === null || Array.isArray(parsed)) {\n    throw new Error(\"Réponse JSON non conforme\");\n  }\n\n  // 🟢 Normalisation stricte selon TON format\n  parsed = normalize(parsed);\n\n} catch (e) {\n  // 5️⃣ Mode erreur maximale : le workflow ne casse pas\n  parsed = {\n    message: \"error\",\n    id_chantier: null,\n    id_collaborateur: null,\n    creneaux: [],\n    error_detail: \"Réponse non parsable ou invalide\",\n    raw: raw\n  };\n}\n\n// 6️⃣ Retourne un JSON 100 % propre\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-400],"id":"c91d4c97-342e-4eb4-a091-77c7e0333ede","name":"Code"},{"parameters":{"tableId":"test-intervention","fieldsUi":{"fieldValues":[{"fieldId":"chantier_id","fieldValue":"={{ $json.id_chantier }}"},{"fieldId":"collaborateur_id","fieldValue":"={{ $json.id_collaborateur }}"},{"fieldId":"date_debut","fieldValue":"={{ $json.debut }}"},{"fieldId":"date_fin","fieldValue":"={{ $json.fin }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,-400],"id":"6552605a-cceb-41ab-b7c3-9d114d57c3b4","name":"Create a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"disabled":true},{"parameters":{"operation":"getAll","tableId":"test-intervention","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1120,-160],"id":"465974b3-92fe-4f1d-aebc-b526dd6dc5f3","name":"Get many interventions","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"test-intervention","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1360,-160],"id":"65ab32d5-56e9-4e45-b83a-c5829baf858a","name":"delete many interventions","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"test-intervention","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1232,-160],"id":"4f1c5440-9ad2-4fae-964f-b95adecc5636","name":"update intervention","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"// 1️⃣ Récupère la réponse brute de l'agent (champ 'text' ou équivalent)\nlet raw = $json.text || $json.response || $json.data || JSON.stringify($json);\n\n// 2️⃣ Force la valeur en string\nraw = String(raw).trim();\n\n// 3️⃣ Supprime tous les backticks éventuels\nraw = raw.replace(/```json|```/gi, '').trim();\n\n// 4️⃣ Supprime les éventuels préfixes/postfixes non JSON (ex: \"Voici votre réponse : { ... }\")\nconst firstBrace = raw.indexOf('{');\nconst lastBrace = raw.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  raw = raw.substring(firstBrace, lastBrace + 1).trim();\n}\n\n// 5️⃣ Tentative de parsing JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n\n  // 6️⃣ Normalisation : si les clés attendues ne sont pas là, on les crée\n  if (typeof parsed !== 'object' || Array.isArray(parsed)) {\n    throw new Error(\"La réponse n'est pas un objet JSON\");\n  }\n\n  parsed.message = parsed.message ?? \"error\";\n  parsed.error_detail = parsed.error_detail ?? null;\n\n} catch (e) {\n  // 7️⃣ Sauvegarde en mode erreur propre si parsing impossible\n  parsed = {\n    message: \"error\",\n    error_detail: \"Réponse non parsable ou invalide\",\n    raw: raw\n  };\n}\n\n// 8️⃣ Retourne un JSON propre et exploitable\nreturn [\n  {\n    json: parsed\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-336],"id":"d697a71f-b0d8-49d6-9a59-533d20e3c410","name":"Code1"},{"parameters":{"tableId":"test-intervention","fieldsUi":{"fieldValues":[{"fieldId":"chantier_id","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"},{"fieldId":"collaborateur_id","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"},{"fieldId":"date_debut","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"},{"fieldId":"date_fin","fieldValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1488,-160],"id":"ad89cfe4-1227-4ebc-9b7b-a81dfb0c700d","name":"create intervention","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Get many rows in Supabase":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Get many rows in Supabase1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get many interventions":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"delete many interventions":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"update intervention":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Code1":{"main":[[{"node":"If1","type":"main","index":0}]]},"create intervention":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eurekia-solutions.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","content-length":"256820","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryrznxcNYLvBZR83Yx","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"86.202.224.51","x-forwarded-host":"n8n.eurekia-solutions.com","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"timestamp":"2025-11-28T11:22:23.080Z","sessionId":"session-1764248999735-l1y34f6","messageCount":"32"},"webhookUrl":"https://n8n.eurekia-solutions.com/webhook/8cd1ec96-b262-4641-a9bf-d8eb3d2643a3","executionMode":"production"}}]},"versionId":"d708e631-d99e-4baf-beb0-6be907317b8c","triggerCount":2,"shared":[{"createdAt":"2025-11-28T12:29:04.211Z","updatedAt":"2025-11-28T12:29:04.211Z","role":"workflow:owner","workflowId":"yWpwuQBfpEugwZUS","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}