artisan_assistant-sycwjBb53c0gxZtb.json
{"createdAt":"2025-11-27T12:04:43.521Z","updatedAt":"2025-11-28T17:41:25.000Z","id":"sycwjBb53c0gxZtb","name":"artisan_assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8cd1ec96-b262-4641-a9bf-d8eb3d2643a3","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-816,288],"id":"079db523-67e1-483b-ab36-1b44ccc98fef","name":"Webhook","webhookId":"8cd1ec96-b262-4641-a9bf-d8eb3d2643a3"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-592,288],"id":"1f13b0c9-c599-4cd1-8366-3fc0b73d8bdf","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Analyse ce texte {{ $json.text }}, \n","hasOutputParser":true,"messages":{"messageValues":[{"message":"=## Role\nTu es l'assistant input tu analyse si la demande est légitime ou pas pour des raisons de sécurité, et si OK tu en extraies les informations utiles et retrouve les identifiants.\n\n - l'action demandée create | delete | modify\n - le nom du collaborateur concerné\n - le nom du chantier concerné\n - les créneaux dont on parle\n\n### récupère les id\nune fois que tu as récupéré les noms de chantier et nom de collaborateur, retrouve leur id en fonction des listes du prompt.\n\n### les dates/créneaux des interventions\nConcernant les dates aujourd'hui nous sommes le {{ new Date().toISOString() }} et tu dois toujours identifier si on parle du matin (9h - 12h) ou de l'après-midi (14h-17h).\n\nTu ne peux faire que des créneaux de demi-journées, et donc une journée devient un créneau matin et un créneau après midi.\n\n### format de date\ntoujours sous ce format impérativement \"2025-11-29T09:00:00.000Z\" par exemple.\n\nDéfinit autant de créneaux que nécessaire dans la limite de 28 sinon renvoie une erreur 'trop de créneaux'.\n\nToutes les demandes qui consistent à créer, modifier ou supprimer des interventions dans le planning sont acceptées et tu renvoies \"ok\" sinon tu renvoies \"error\" et le motif de ton refus dans un message.\n\nLes créneaux dans le passé on en dehors des dates de chantier sont tout à fait autorisés\n\n\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-144,288],"id":"c8cfd26f-bca5-45c5-8902-27073d344b41","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-144,512],"id":"2cbbbcde-5eb1-400e-a4b9-5436598828d5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1376,1232],"id":"e5c661f1-46af-4f8e-b315-b79b1da6217a","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1504,1232],"id":"5f658102-b94c-4f93-a0e2-d1d8d9880d0f","name":"Simple Memory2"},{"parameters":{"jsonSchemaExample":"{\n  \"message\": \"ok\",\n  \"action\": \"create\",\n  \"error_detail\": \"\",\n  \"collaborateurNom\": \"Paul Dupont\",\n\n  \"chantierNom\": \"ravalement de la façade\",\n\n  \"interventions\": [\n    {\"debut\":\"2025-11-26 09:00:00\" , \"fin\": \"2025-11-26 12:00:00\"},\n     {\"debut\":\"2025-11-26 14:00:00\" , \"fin\": \"2025-11-26 17:00:00\"}\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-16,512],"id":"6dbc66be-8c27-410f-955f-dab29bee068d","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Cherche le collaborateur {{ $json.output.collaborateurNom }} puis le chantier {{ $json.output.chantierNom }} grace aux tools supabase","hasOutputParser":true,"options":{"systemMessage":"=## Rôle\n\nTu es l'agent création planning, on va te demander de créer, des interventions qui sont stockées dans supabase.\n\ntu dois retrouver les id selon les noms avec une tolérance de collaborateurs et chantiers fournis\n\nsi tu n'en trouve pas message = \"error\" sinon message = \"ok\"","maxIterations":10}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1472,944],"id":"b416fc10-ad18-4ce5-a3a8-ee3991d5f3d8","name":"AI Agent Create"},{"parameters":{"operation":"getAll","tableId":"test-collaborateur","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1632,1232],"id":"58f52921-7ff0-4feb-93df-418700f7e11b","name":"Get many collab","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"test-chantier","limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[1760,1232],"id":"60533cb2-90fa-4a94-8f89-f5fc86c7968f","name":"Get many chantier","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"message\": \"ok\",\n\t\"collaborateur_id\": \"465465465\",\n  \t\"chantier_id\": \"465465465\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1888,1232],"id":"d6fc9320-7590-4a66-979f-d7913294d64d","name":"Structured Output Parser1"},{"parameters":{"content":"## création","width":1488},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1312,-192],"id":"1fcd3d5f-e679-40b3-b54f-886ef8a21091","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"52c15f23-382a-431a-a49a-cdbf8a56f5bb","name":"sessionId","value":"={{ $('Webhook').item.json.body.sessionId }}","type":"string"},{"id":"c003230b-d446-41c1-a775-dcf1e331ed91","name":"chantiers","value":"={{ $('Webhook').item.json.body.chantiers }}","type":"array"},{"id":"05312bc6-869f-4c15-b4d3-273ba6428ac1","name":"collaborateurs","value":"={{ $('Webhook').item.json.body.collaborateurs }}","type":"array"},{"id":"5c50dfdd-de49-4127-be0e-11ac0111f476","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,288],"id":"87a75650-8239-4280-868b-d59774f21776","name":"datas"},{"parameters":{"promptType":"define","text":"=\nrécupère les identifiants les plus probables pour \nchantier_id de ce chantier {{ $json.output.chantierNom }}\n\nparmi cette liste: {{ JSON.stringify($('datas').item.json.chantiers)}}\n\ncollaborateur_id de  {{ $json.output.collaborateurNom }}\n\nparmi cette liste : {{ JSON.stringify( $('datas').item.json.collaborateurs) }}\n\nrenvoie message = \"ok\" si tu as réussi et \"error\" sinon, avec le message d'erreur dans \"error_detail\"\n\nn'invente jamais un id, trouve une correspondance avec le nom avec une petite tolérance, mais si tu ne trouvez pas eh bien ne renvoie rien.\n\n","hasOutputParser":true,"messages":{"messageValues":[{"message":"=On t'appelle le retrouver d'id\ntu retrouves les chantier_id et collaborateur_id grace à un tableau JSON qui t'est fourni.\ntu as un nom et tu dois retrouver l'id qui correspond.\n\nPour le collaborateur si on te cite le prenom ou le nom et qu'il est unique c'est OK que ramènes l'id."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[464,128],"id":"7a858938-b60f-43ea-bb5a-5e15c2a9a5d0","name":"Basic LLM Chain1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[448,512],"id":"3fa2a851-b656-4164-aaa1-86106b0f7efd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n    \"message\": \"ok\",\n    \"error_detail\": \"\",\n\t\"collaborateur_id\": \"lsdhlhlkdhlds\",\n\t\"chantier_id\": \"lsdhlhlkdhlds\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[576,512],"id":"40b471fb-027a-4ce9-a4de-e37f937e3b10","name":"Structured Output Parser2"},{"parameters":{"assignments":{"assignments":[{"id":"b4278622-a4d0-4d8c-8a11-768ad8a3c7ce","name":"collaborateur_id","value":"={{ $json.output.collaborateur_id }}","type":"string"},{"id":"c2c2c83c-ffb0-481d-a391-f8b4fa436b83","name":"chantier_id","value":"={{ $json.output.chantier_id }}","type":"string"},{"id":"25db3d20-3e07-4f6e-9409-d4a4007cc219","name":"sessionId","value":"={{ $('datas').item.json.sessionId }}","type":"string"},{"id":"93bcb87e-bb99-4a7c-bc0c-507e1ce704ed","name":"text","value":"={{ $('Transcribe a recording').item.json.text }}","type":"string"},{"id":"010b8220-3ac6-41ca-b67f-60c0c29dbfaf","name":"collaborateurNom","value":"={{ $('Basic LLM Chain').item.json.output.collaborateurNom }}","type":"string"},{"id":"ca753d2e-887e-4ed1-8986-daf0d55960f8","name":"chantierNom","value":"={{ $('Basic LLM Chain').item.json.output.chantierNom }}","type":"string"},{"id":"67cf74f0-3993-4e48-84d1-a25a1dfd4e6b","name":"action","value":"={{ $('Basic LLM Chain').item.json.output.action }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,288],"id":"57a87a07-03b3-4153-8b49-a77a397f5a71","name":"data2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdd24af9-28cb-4f74-9ec3-077d423d2ffa","leftValue":"={{ $json.output.message }}","rightValue":"ok","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,288],"id":"7eae9847-f2c9-4302-9e5b-25c3989d4005","name":"If"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"},"id":"d054b752-eb50-4b2a-b109-3c1da7d03352"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e606bef-a2bd-4a51-9d3b-5b33c1b68d50","leftValue":"={{ $json.action }}","rightValue":"delete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b57ed42-8a9f-4614-88f1-f9011fa4888e","leftValue":"={{ $json.action }}","rightValue":"modify","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1056,256],"id":"dfd25b36-ac7e-491b-a309-24fc476ba962","name":"Switch1"},{"parameters":{"tableId":"test-intervention","fieldsUi":{"fieldValues":[{"fieldId":"chantier_id","fieldValue":"={{ $json.chantier_id }}"},{"fieldId":"collaborateur_id","fieldValue":"={{ $json.collaborateur_id }}"},{"fieldId":"date_debut","fieldValue":"={{ $json.debut }}"},{"fieldId":"date_fin","fieldValue":"={{ $json.fin }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,96],"id":"7c1b1d81-6ba6-49c8-b35a-d1d9044d5b58","name":"Create a row1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"// IDs + noms + action venant de l'input direct\nconst current = $json;\n\n// Output du Basic LLM Chain (récupéré par nom du node)\nconst llm = $items(\"Basic LLM Chain\").at(0).json.output;\n\n// Sécurité si zéro intervention\nconst interventions = llm.interventions || [];\n\n// Génération d'un item par intervention\nreturn interventions.map(inter => ({\n  json: {\n    collaborateur_id: current.collaborateur_id,\n    chantier_id: current.chantier_id,\n    collaborateurNom: current.collaborateurNom,\n    chantierNom: current.chantierNom,\n    action: current.action || llm.action || \"create\",\n    debut: inter.debut,\n    fin: inter.fin\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,96],"id":"c9e7c8ff-23dd-477c-ad8f-ba9d4e1831bd","name":"Code2"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2912,224],"id":"90dcbe58-c980-4987-94a1-9c45fc314d5c","name":"Respond to Webhook"},{"parameters":{"options":{"responseCode":500,"responseHeaders":{"entries":[{"name":"error_detail","value":"\"L'action demandée n'est pas repertoriée comme possible\""}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1872,656],"id":"b2b094e1-8b71-4edc-929a-ba3779024c48","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// IDs + noms + action venant de l'input direct\nconst current = $json;\n\n// Output du Basic LLM Chain (récupéré par nom du node)\nconst llm = $items(\"Basic LLM Chain\").at(0).json.output;\n\n// Sécurité si zéro intervention\nconst interventions = llm.interventions || [];\n\n// Génération d'un item par intervention\nreturn interventions.map(inter => ({\n  json: {\n    collaborateur_id: current.collaborateur_id,\n    chantier_id: current.chantier_id,\n    collaborateurNom: current.collaborateurNom,\n    chantierNom: current.chantierNom,\n    action: current.action || llm.action || \"create\",\n    debut: inter.debut,\n    fin: inter.fin\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,272],"id":"1537f8cb-a280-4ccb-bb70-8f74a4a770a0","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1696,272],"id":"1d9a7eaf-284c-401e-b751-a45d921e3dfc","name":"Loop Over Items"},{"parameters":{"operation":"delete","tableId":"test-intervention","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,368],"id":"fb408d23-4131-458e-8cb1-3f6574c788d8","name":"Delete a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"get","tableId":"test-intervention","filters":{"conditions":[{"keyName":"chantier_id","keyValue":"={{ $json.chantier_id }}"},{"keyName":"collaborateur_id","keyValue":"={{ $json.collaborateur_id }}"},{"keyName":"date_debut","keyValue":"={{$json.debut}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1904,368],"id":"4e7c1c19-17ce-4766-9918-2ee294ef87dc","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc753e2c-b303-4c44-9a47-7f44e6c7378b","leftValue":"=  {{ $json.id}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,368],"id":"38ee659f-393f-4231-99c8-d87472d4ac81","name":"If1"}],"connections":{"Webhook":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"datas","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent Create","type":"ai_languageModel","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent Create","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"AI Agent Create":{"main":[[]]},"Get many collab":{"ai_tool":[[{"node":"AI Agent Create","type":"ai_tool","index":0}]]},"Get many chantier":{"ai_tool":[[{"node":"AI Agent Create","type":"ai_tool","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent Create","type":"ai_outputParser","index":0}]]},"datas":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"data2","type":"main","index":0}]]},"If":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"data2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code","type":"main","index":0}],[],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Delete a row","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.eurekia-solutions.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36","content-length":"215906","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7","content-type":"multipart/form-data; boundary=----WebKitFormBoundaryV0YWvOUplMLhcVyH","origin":"http://localhost:3000","priority":"u=1, i","referer":"http://localhost:3000/","sec-ch-ua":"\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"86.202.224.51","x-forwarded-host":"n8n.eurekia-solutions.com","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"timestamp":"2025-11-28T16:52:05.599Z","sessionId":"session-1764248999735-l1y34f6","messageCount":"101","chantiers":"[{\"id\":\"9c9e2a3d-b081-4ba3-9c9c-2ce190e20cfc\",\"nom\":\"Refonte du parti\"},{\"id\":\"afbff7f6-8630-4e61-8069-350c3d415905\",\"nom\":\"Ménage de la cuisine\"},{\"id\":\"bba436b7-7259-4f1c-90c5-172cb9c85a1d\",\"nom\":\"rénovation piscine\"}]","collaborateurs":"[{\"id\":\"023e131c-c9b1-458e-8fca-b60fcc9a5184\",\"nom\":\"Thomas Dubois\"},{\"id\":\"91db9368-69b6-4a52-80c3-6e0c0c845a43\",\"nom\":\"Sarah Martin\"},{\"id\":\"af62ce18-bd8c-421b-96e0-e83a3873b8ee\",\"nom\":\"Lucas Bernard\"}]"},"webhookUrl":"https://n8n.eurekia-solutions.com/webhook/8cd1ec96-b262-4641-a9bf-d8eb3d2643a3","executionMode":"production"}}]},"versionId":"768b4617-d71f-4a81-a08b-37ce5124c5ae","triggerCount":1,"shared":[{"createdAt":"2025-11-27T12:04:43.526Z","updatedAt":"2025-11-27T12:04:43.526Z","role":"workflow:owner","workflowId":"sycwjBb53c0gxZtb","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}