chat-vers-poème,-email-et-supabase-IaeqpsdIqMRj2z6i.json
{"createdAt":"2025-08-25T15:44:14.485Z","updatedAt":"2025-08-26T08:55:22.000Z","id":"IaeqpsdIqMRj2z6i","name":"Chat vers Poème, Email et Supabase","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"chat_1","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[256,304],"typeVersion":1,"webhookId":"cc57d74a-c4bc-4075-ac36-a5c3e06b1c28"},{"parameters":{"resource":"chat","model":"gpt-4o","prompt":{"messages":[{"role":"system","content":"tu transformes de simples phrases en une strophe de poème"},{"content":"={{ $json.chatInput }}"}]},"options":{},"requestOptions":{}},"id":"openai_1","name":"OpenAI","type":"n8n-nodes-base.openAi","position":[464,304],"typeVersion":1,"credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"sendTo":"martial888@gmail.com","subject":"Votre poème","emailType":"text","message":"={{ $json.message.content }}","options":{}},"id":"gmail_1","name":"Gmail","type":"n8n-nodes-base.gmail","position":[656,208],"typeVersion":2.1,"webhookId":"fc6c725d-575f-497b-9229-bb626686a3fd"},{"parameters":{"tableId":"test","fieldsUi":{"fieldValues":[{"fieldId":"text","fieldValue":"={{ $json.message.content }}"}]}},"id":"supabase_1","name":"Supabase","type":"n8n-nodes-base.supabase","position":[656,400],"typeVersion":1,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}}],"connections":{"OpenAI":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"timezone":"Europe/Paris","executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"saveDataSuccessExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"17073905-1e37-44ab-8e0f-0769688425c7","triggerCount":0,"shared":[{"createdAt":"2025-08-25T15:44:14.489Z","updatedAt":"2025-08-25T15:44:14.489Z","role":"workflow:owner","workflowId":"IaeqpsdIqMRj2z6i","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}