ecoconst-test-pdf4me-UtGACBVCsUdIrKBq.json
{"createdAt":"2025-10-24T08:23:03.073Z","updatedAt":"2025-10-24T12:44:07.000Z","id":"UtGACBVCsUdIrKBq","name":"ecoconst test PDF4me","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,-208],"id":"65f67be1-05f2-4b94-a2bd-eb27c4336e61","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"value":"INBOX.pdf4me","mode":"list","cachedResultName":"INBOX.pdf4me"},"emailDateRange":{},"emailFlags":{},"emailSearchFilters":{}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[-64,-208],"id":"ba5e3c47-c2af-44bc-b9b6-4c7c793d9e7b","name":"GetEmailsList email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"downloadAttachment","mailboxPath":{"__rl":true,"value":"INBOX.pdf4me","mode":"list","cachedResultName":"INBOX.pdf4me"},"emailUid":"={{ $json.uid }}","allAttachments":true,"includeInlineAttachments":true},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[176,-208],"id":"f43c70c7-ca42-405b-9dbf-69e12cd5f5d3","name":"DownloadAttachment email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"operation":"Extract Attachment From PDF","binaryPropertyName":"attachment_0","advancedOptions":{}},"type":"n8n-nodes-pdf4me.PDF4me","typeVersion":1,"position":[432,-208],"id":"f0299381-f421-4e02-9d53-0c7af59584a2","name":"PDF4me","credentials":{"pdf4meApi":{"id":"dlwUe7X0hvdRdcZM","name":"PDF4ME account"}}},{"parameters":{"operation":"toText","sourceProperty":"outputDocuments[0].streamFile","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,-704],"id":"8eb36671-2214-4db1-8a72-5379819e5f0f","name":"Convert to File"},{"parameters":{"jsCode":"// Récupération du fichier encodé en Base64\nconst encoded = $json.outputDocuments[0].streamFile;\n\n// Décodage du Base64 vers un Buffer\nconst buffer = Buffer.from(encoded, 'base64');\n\n// Ré-encodage du Buffer en Base64 (n8n attend une string Base64 ici)\nconst base64Data = buffer.toString('base64');\n\n// Retourner un binaire valide reconnu par n8n\nreturn [\n  {\n    json: {\n      fileName: $json.outputDocuments[0].fileName || 'factur-x.xml',\n      note: 'Fichier XML converti depuis Base64'\n    },\n    binary: {\n      data: {\n        data: base64Data, // ✅ Doit être une string base64, pas un Buffer\n        mimeType: 'application/xml',\n        fileName: $json.outputDocuments[0].fileName || 'factur-x.xml'\n      }\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,-496],"id":"f7f02de5-9afb-4a30-9bb8-2490dd3a6069","name":"base64Decode"},{"parameters":{"dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[1248,-208],"id":"356269ee-ff41-48ce-9f62-e9e33d268b0a","name":"XML"},{"parameters":{"operation":"toBinary","sourceProperty":"outputDocuments[0].streamFile","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[688,-208],"id":"30155b72-0dbf-4025-b671-3ab22354bc38","name":"base64 to xml binary"},{"parameters":{"operation":"xml","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[928,-208],"id":"3a337f82-0059-4fd6-bf30-180e89dcc43f","name":"Extract from File"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"GetEmailsList email","type":"main","index":0}]]},"GetEmailsList email":{"main":[[{"node":"DownloadAttachment email","type":"main","index":0}]]},"DownloadAttachment email":{"main":[[{"node":"PDF4me","type":"main","index":0}]]},"PDF4me":{"main":[[{"node":"base64 to xml binary","type":"main","index":0}]]},"base64Decode":{"main":[[]]},"base64 to xml binary":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"782e4bff-a1e2-4be6-b795-73d08d252fe2","triggerCount":0,"shared":[{"createdAt":"2025-10-24T08:23:03.078Z","updatedAt":"2025-10-24T08:23:03.078Z","role":"workflow:owner","workflowId":"UtGACBVCsUdIrKBq","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}