error_tracking-4xKLB9RPfrowY9h4.json
{"createdAt":"2025-09-06T07:19:56.481Z","updatedAt":"2025-09-06T07:56:29.000Z","id":"4xKLB9RPfrowY9h4","name":"ERROR_tracking","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"48f9a379-3869-4611-8fab-8ceb516dd5a0","name":"Error Trigger"},{"parameters":{"chatId":"8112227389","text":"=Workflow : {{ $('Error Trigger').item.json.workflow.name }}\n\nMessage : {{ $('Error Trigger').item.json.execution.error.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[304,112],"id":"5b018eec-0201-401a-ac22-e3331ee40c7a","name":"Telegram","webhookId":"4d8674c5-366d-41c1-a583-3ec718b53e89","credentials":{"telegramApi":{"id":"GvEae9Br1eNzkl8i","name":"jarvis"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"266bbe5a-99a1-804c-b612-c9518cb015d7","mode":"list","cachedResultName":"Error Tracking n8n","cachedResultUrl":"https://www.notion.so/266bbe5a99a1804cb612c9518cb015d7"},"title":"={{ $json.workflow.name }}","propertiesUi":{"propertyValues":[{"key":"error_message|rich_text","textContent":"={{ $json.execution.error.message }}"},{"key":"Execution mode|rich_text","textContent":"={{ $json.execution.mode }}"},{"key":"execution_id|title","title":"={{ String($json.execution.id) }}"},{"key":"execution_url|url","urlValue":"={{ $json.execution.url }}"},{"key":"last_node_executed|rich_text","textContent":"={{ $json.execution.lastNodeExecuted }}"},{"key":"workflow_id|rich_text","textContent":"={{ $json.workflow.id }}"},{"key":"workflow_name|rich_text","textContent":"={{ $json.workflow.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[288,-96],"id":"6d229bdb-31d0-47eb-b884-a1343df7b24a","name":"Create a database page","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Create a database page","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]},"Telegram":{"main":[[],[]]},"Create a database page":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18b1ea8b-46e6-453f-894a-1972029a92f7","triggerCount":0,"shared":[{"createdAt":"2025-09-06T07:19:56.485Z","updatedAt":"2025-09-06T07:19:56.485Z","role":"workflow:owner","workflowId":"4xKLB9RPfrowY9h4","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}