ffb_analysecandidature-E0kIyPUycvEJAMm6.json
{"createdAt":"2025-08-26T08:21:59.366Z","updatedAt":"2025-09-16T14:23:15.000Z","id":"E0kIyPUycvEJAMm6","name":"FFB_analyseCandidature","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1008,-80],"id":"4a7b7f62-b88d-4117-b922-bc85525664f5","name":"Extract from File"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[128,608],"id":"ff48002a-47d4-4dbd-97e3-d047ff9860a6","name":"Get a message","webhookId":"614fe02e-01ab-4698-a16b-b87b1ec3d3be","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=tu es un DRH dans le bâtiment, tu as publié cette offre d'emploi.\nTu as publié cette fiche de poste : \n\n---- debut fiche de poste ----\n{{ $('Fiche de Poste').item.json.ficheDePoste }}\n---- fin fiche de poste ----\n\nTâches à effectuer :\n\n1. Noter les CV.\n* Dans \"plus\" tu listes les 1, 2 ou 3 avantages de la candidature par rapport au profil de poste, max 35 mots\n* Dans \"moins\" tu listes les 1, 2 ou 3 limites de la candidature par rapport au profil de poste, max 35 mots\n* Dans \"Flou\" tu listes les 1, 2 ou 3 questions évidentes à préciser par le candidat par rapport au profil de poste, max 45 mots\nla zone de flou doit être au maximum quantifiable (une certification demandée, un permis de conduire, un nombre d'années d'expérience dans un poste, une zone géographique)\n* Dans \"Note\" : Donne une note en % à la candidature.\n\n2. Extraire les infos.\nj'aimerais également que tu extraies les infos personnelles pertinente de la personne qui candidate :\n- nom et prenom\n- adresse\n- téléphone\n- email\n\n**important** : toutes les informations doivent êtres renseignées, si tu n'en trouves pas une mais \"non défini\" mais ne laisse pas vide.\n\n3. Rédiger les questions\n\nSur la base de \"plus\", \"moins\" et \"Flou\" Rédige de façons claire (interligne et indentation) le texte d'une email, sans les formules de politesse de début et de fin, qui donne le plus de chance de collecter les raponses aux questions posées dans \"flou\". \nMet ce texte dans \"emailComplement\"\n\n\n\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1232,-80],"id":"2ebc41d8-def6-4206-a3ca-c4d0278ed14e","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1248,160],"id":"acb37faf-390d-4c89-b27c-1a54df026401","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\"nomPrenom\": \"DUPOND Eric\",\n\"adresse\": \"23 rue de la soif\\r69006 LYON\",\n\"tel\": \"06 25 85 89 87\",\n\"email\": \"e.dupond@test.fr\",\n\"plus\": \"15 ans d’expérience, dont 9 ans comme chef de chantier, maîtrise sécurité, gestion d’équipes (jusqu’à 50 personnes)\",\n\"moins\": \" Dernier poste à Paris, pas de mention explicite de chantiers à Lyon depuis 2015.\",\n\"flou\": \"Disponibilité à court terme, mobilité géographique, outils numériques réellement utilisés.\",\n\"emailComplement\": \"Nous vous remercions pour l’intérêt que vous avez porté à notre entreprise et pour le temps consacré à votre candidature.\\rAprès examen attentif de votre profil, nous aimerions avoir quelques précisions :....\",\n  \n\"note\": 85\n\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1376,160],"id":"592a4506-0aea-4633-90c1-658c5b0262ff","name":"Structured Output Parser"},{"parameters":{"tableId":"candidats","fieldsUi":{"fieldValues":[{"fieldId":"nom_prenom","fieldValue":"={{ $json.output.nomPrenom }}"},{"fieldId":"adresse","fieldValue":"={{ $json.output.adresse }}"},{"fieldId":"tel","fieldValue":"={{ $json.output.tel }}"},{"fieldId":"email","fieldValue":"={{ $json.output.email }}"},{"fieldId":"plus","fieldValue":"={{ $json.output.plus }}"},{"fieldId":"moins","fieldValue":"={{ $json.output.moins }}"},{"fieldId":"flou","fieldValue":"={{ $json.output.flou }}"},{"fieldId":"note","fieldValue":"={{ $json.output.note }}"},{"fieldId":"threadId","fieldValue":"={{ $('Get many messages').item.json.threadId }}"},{"fieldId":"statut","fieldValue":"nouveau"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1584,-160],"id":"656be371-570a-4c35-815f-1ec11d0773a9","name":"Create a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"763666b3-3a6c-4980-8d3a-1fa027301cf9","leftValue":"={{ $json.note }}","rightValue":50,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbc88d7e-aa09-4d6b-b763-abbc506b99ae","leftValue":"={{ $json.flou }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1808,-176],"id":"dafb7e69-bcdc-4bf0-abcc-8a47f623b334","name":"Switch"},{"parameters":{"sendTo":"=martial@eurekia.io","subject":"Réponse à votre candidature","emailType":"text","message":"=Bonjour {{ $('Create a row').item.json.nom_prenom }},\n\nNous vous remercions pour l’intérêt que vous avez porté à notre entreprise et pour le temps consacré à votre candidature.\nAprès examen attentif de votre profil, nous ne pouvons malheureusement pas y donner une suite favorable.\n\nNous vous souhaitons pleine réussite dans vos projets professionnels.\n\nCordialement,\n\nAline MARTIN\nResponsable RH\nBâtiment Services Construction","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2096,-368],"id":"23828163-a44f-4b0a-a974-beec42c51206","name":"email refus","webhookId":"9dae3f40-1fcc-48a1-9765-57d03e4c1c07","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"sendTo":"=martial@eurekia.io","subject":"Réponse à votre candidature","emailType":"text","message":"=Bonjour {{ $('Create a row').item.json.nom_prenom }},\n\nNous vous remercions pour l’intérêt porté à notre entreprise et pour votre candidature.\n\nNous allons l’étudier avec attention et reviendrons vers vous prochainement.\n\nCordialement,\n\nAline MARTIN\nResponsable RH\nBâtiment Services Construction","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2096,16],"id":"c847f6eb-456f-4c36-a422-c661b72f05c2","name":"email ok","webhookId":"9dae3f40-1fcc-48a1-9765-57d03e4c1c07","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"sendTo":"=martial@eurekia.io","subject":"=Réponse à votre candidature ref : {{ $('Get many messages').item.json.threadId }}","emailType":"text","message":"=Bonjour {{ $('Create a row').item.json.nom_prenom }},\n\n{{ $('Basic LLM Chain').item.json.output.emailComplement }}\n\nCordialement,\n\nAline MARTIN\nResponsable RH\nBâtiment Services Construction\n\nRef: CVFFB69","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2096,-176],"id":"7f75f4d5-0d75-4d18-a52c-896cd52d1272","name":"email complementInfos","webhookId":"9dae3f40-1fcc-48a1-9765-57d03e4c1c07","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"operation":"getAll","tableId":"candidats","filters":{"conditions":[{"keyName":"threadId","condition":"eq","keyValue":"={{ $json.threadIdExtracted }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,416],"id":"9066858a-1161-4641-a819-d9488c36005c","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"jsonSchemaExample":"{\n\"analyseFinale\" : \"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien.\",\n\"noteFinale\": 97\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1952,1024],"id":"c5d6dacc-53bf-479f-a637-f3f5eaa2fcf1","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=tu es un DRH dans le bâtiment, tu as publié cette offre d'emploi.\nTu as publié cette fiche de poste : \n\n---- debut fiche de poste ----\n{{ $('Fiche de Poste').item.json.ficheDePoste }}\n\n\n---- fin fiche de poste ----\n\ntu as déja analysé le CV et noté ces points :\npositif : {{ $('Get many rows').item.json.plus }}\n\nnégatif : {{ $('Get many rows').item.json.moins }}\n\ntu as envoyé un email pour lever certains flous :\n{{ $('Get many rows').item.json.flou }}\n\net tu viens de recevoir cette réponse :\n{{ $('Get a message').item.json.text }}\n\n\nfais analyse finale et une note finale sur 100 pour cette candidature, tenant compte de la note déjà donnée {{ $('Get many rows').item.json.note }}et de sa réponse.\n\nsi tu penses que la réponse est à côté de la plaque mais \"reponse non pertinente\" dans l'analyse finale.\n\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1792,800],"id":"c2b8322d-4bd7-44c7-bf63-90eddfd61776","name":"analyse réponse"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[352,512],"id":"8017272b-ea17-425a-b358-aa92787651bc","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"b10a0207-0025-4471-805a-1013e3bc56fa","name":"row_id","value":"={{ $json.id !== undefined && $json.id !== \"\" ? $json.id : \"NULL\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,416],"id":"3530edc9-9e19-4db0-940e-337717fc6c80","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fc7ec7-d7b8-41ad-8dbc-3ce5313985d7","leftValue":"={{ $json.row_id }}","rightValue":"NULL","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[576,512],"id":"6f41dcac-2ecd-41d5-8ca1-75f807dc2306","name":"If1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1776,1024],"id":"34f973c0-6ee0-4a41-b508-66ea6ca987a0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"candidats","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Merge').item.json.row_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"analyseFinale","fieldValue":"={{ $('analyse réponse').item.json.output.analyseFinale }}"},{"fieldId":"noteFinale","fieldValue":"={{ $('analyse réponse').item.json.output.noteFinale }}"},{"fieldId":"statut","fieldValue":"finalisé"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2752,800],"id":"8ed4bebf-4c10-4017-b9c3-1890b98bf204","name":"Update a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $('Get a message').item.json.id }}","labelIds":["Label_6650065055059555946"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2608,-176],"id":"7816b7ea-f0be-4ede-850b-ffa3d987d0d1","name":"Remove label from message","webhookId":"a663e5f5-de59-4877-99e7-f3b54ae7f6f5","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_8660878827527039033"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2832,-176],"id":"814f809e-7647-4e16-b1d2-4b6c1d3a5ba3","name":"Add label to message","webhookId":"960aabc3-45cb-40f5-bab0-030af3023909","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const subject = item.json.Subject || item.json.subject || \"\";\n  const m = subject.match(/Réponse à votre candidature ref\\s*:\\s*(\\S+)/);\n  item.json.threadIdExtracted = m ? m[1] : \"NULL\";\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,416],"id":"c628a221-0bcf-432c-9571-468f338d9bd3","name":"Code"},{"parameters":{"path":"6359849c-db03-4feb-bb28-0adb9ab2e3e1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-992,512],"id":"ffb0a846-03f3-4d46-b4ba-9af0924ad98f","name":"Webhook","webhookId":"6359849c-db03-4feb-bb28-0adb9ab2e3e1"},{"parameters":{"operation":"getAll","limit":1,"filters":{"labelIds":["Label_6650065055059555946"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-768,512],"id":"6be530e0-3656-4e62-9c88-9b0b1e1bd65d","name":"Get many messages","webhookId":"73f5a077-dbc4-4999-83d6-fe168c23a87a","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[3888,416],"id":"2f7ece40-281d-45dc-b1f9-fffa540d0160","name":"Respond to Webhook"},{"parameters":{"resource":"thread","operation":"removeLabels","threadId":"={{ $('Get many messages').item.json.threadId }}","labelIds":["Label_6650065055059555946"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3024,800],"id":"c809db41-0ee0-4c16-9aa2-21a2e17db709","name":"Remove label from thread","webhookId":"a663e5f5-de59-4877-99e7-f3b54ae7f6f5","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"resource":"thread","operation":"addLabels","threadId":"={{ $json.id }}","labelIds":["Label_8660878827527039033"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3248,800],"id":"d536f86b-9a11-4ce0-adea-bbfb2761956e","name":"Add label to thread","webhookId":"960aabc3-45cb-40f5-bab0-030af3023909","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a02165ee-f716-45ae-84ea-5f8aef7e12b2","name":"ficheDePoste","value":"=## Offre d’emploi – Chef de chantier Gros Œuvre (H/F)\n\n**📍 Lyon – CDI – Démarrage immédiat**\n\n### Description du poste\nNous recherchons un Chef de chantier gros œuvre confirmé pour piloter des chantiers de construction et de rénovation dans la région lyonnaise.\n\nSous la responsabilité du Conducteur de travaux, vous serez en charge de :\n\n- Organiser et superviser les équipes sur le chantier (jusqu’à 20 personnes).\n- Garantir le respect des délais, du budget et des normes de sécurité.\n- Assurer le suivi technique et administratif du chantier.\n- Participer aux réunions de coordination avec les clients et les sous-traitants.\n- Contrôler la qualité de l’exécution et valider les étapes clés des travaux.\n\n### Profil recherché\n- **🎓 Formation** : Bac + 2 minimum (BTS Bâtiment / Travaux Publics, DUT Génie civil ou équivalent).\n- **🧰 Expérience** : Minimum 10 ans d’expérience sur des chantiers de gros œuvre, dont au moins 5 ans en tant que chef de chantier.\n\n#### Compétences techniques\n- Solides connaissances en gros œuvre et structures béton.\n- Maîtrise de la lecture de plans et de l’implantation.\n- Bonne maîtrise des outils numériques de suivi de chantier.\n\n#### 🤝 Qualités personnelles\nLeadership naturel, autonomie, sens du relationnel et capacité à motiver les équipes.\n\n- **🚗 Permis B obligatoire** (déplacements réguliers en région Auvergne–Rhône-Alpes).\n\n### Certifications exigées (critères IA – filtre CV)\n- **CACES** selon les engins utilisés (grue, nacelle… ; indispensable pour conduire des engins)\n- **Certification Amiante SS3** (obligatoire sur certains chantiers exposés à l’amiante)\n- **Formation / certification en sécurité (HSE BTP ou équivalent)** (indispensable pour la prévention des risques et la conformité QHSE)\n- **CQP Chef de Chantier Bâtiment** (atteste d’une reconnaissance professionnelle ciblée et d’un niveau confirmé)\n\n### Certifications souhaitées\n- **Cordiste (CATC / CQP / IRATA)** — très spécialisé, utile si le chantier requiert du travail en hauteur sur cordes\n- **Mention Qualibat ou label RGE** (le cas échéant si entreprise qualifiée) — valorise les expériences acquises dans une structure reconnue\n\n### Ce que nous offrons\n- Un salaire attractif (à négocier selon profil, base 42–50 k€).\n- Des chantiers d’envergure dans la région lyonnaise.\n- Un environnement de travail valorisant l’autonomie et la prise d’initiative.\n- Des perspectives d’évolution vers Conducteur de travaux.","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,512],"id":"35ae00e9-26a8-4b2b-9dec-7711d6e4532d","name":"Fiche de Poste"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cfe4a87e-1d71-4b81-813c-738e8fc30c89","mode":"list","cachedResultName":"Candidats","cachedResultUrl":"https://www.notion.so/cfe4a87e1d714b81813c738e8fc30c89"},"title":"={{ $json.output.nomPrenom }}","propertiesUi":{"propertyValues":[{"key":"Adresse|rich_text","textContent":"={{ $json.output.adresse }}"},{"key":"Téléphone|phone_number","phoneValue":"={{ $json.output.tel }}"},{"key":"Email|email","emailValue":"={{ $json.output.email }}"},{"key":"Plus|rich_text","textContent":"={{ $json.output.plus }}"},{"key":"Moins|rich_text","textContent":"={{ $json.output.moins }}"},{"key":"Flou|rich_text","textContent":"={{ $json.output.flou }}"},{"key":"Note|number","numberValue":"={{ $json.output.note }}"},{"key":"Statut|select","selectValue":"={{ $json.output.statut }}"},{"key":"Thread ID|rich_text","textContent":"={{ $('Get many messages').item.json.threadId }}"},{"key":"CV|files","fileUrls":{"fileUrl":[{"name":"mon cv","url":"={{ $json.downloadUrl }}"}]}},{"key":"CV URL|url","urlValue":"={{ $json.publicUrl }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[3056,384],"id":"a051dfcd-5333-49ca-aee8-b536e0a128b9","name":"Create a database page","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"operation":"update","tableId":"candidats","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statut","fieldValue":"sans suite"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-368],"id":"194134a7-083d-460c-9648-cbc19affd3d1","name":"statut refusé","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"candidats","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statut","fieldValue":"en cours"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,-176],"id":"6d421877-02b6-4952-8117-7a0bd5ab8ffb","name":"statut en cours","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"candidats","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"statut","fieldValue":"finalisé"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2384,16],"id":"d0fc3d71-0203-4c98-8c10-2fb86ba58c5d","name":"statut finalisé","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"// Parcourt tous les items en entrée\nfor (const item of $input.all()) {\n  const note = item.json.output.note;\n  const flou = item.json.output.flou;\n\n  let statut;\n\n  if (note < 50) {\n    statut = \"sans suite\";\n  } else if (!flou || flou.trim() === \"\") {\n    statut = \"accepté\";\n  } else {\n    statut = \"en cours\";\n  }\n\n  // Ajoute le champ statut dans l'objet output\n  item.json.output.statut = statut;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,128],"id":"6ca020f6-fd4d-43d0-9ed3-a89ea4b8732d","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-992,320],"id":"4fc7905d-b284-4405-8c53-64af91d10391","name":"When clicking ‘Execute workflow’"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"},{"mode":"everyX","value":5,"unit":"minutes"}]},"filters":{"labelIds":["Label_6650065055059555946"]}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-992,704],"id":"d6f7c326-f350-44c6-b550-c575f949f646","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"Jbg8DD2HP8FOjvUQ","name":"Gmail account"}}},{"parameters":{"field_name":"attachment_0"},"type":"@custom-js/n8n-nodes-pdf-toolkit.PdfToPng","typeVersion":1,"position":[784,-992],"id":"2effa203-ef88-410e-a647-526a9c0688f7","name":"Convert PDF into PNG","credentials":{"customJsApi":{"id":"18KMdDRpR9Lwznb0","name":"CustomJS account"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Extract the photo of the candidate and only his photo if there is one, and give me in json the coordinate of the image in order for me to crop it later\n\nalways like this\n```json\\n{\\n \"photo_coordinates\": {\\n \"top_left\": {\\n \"x\": 50,\\n \"y\": 50\\n },\\n \"bottom_right\": {\\n \"x\": 200,\\n \"y\": 250\\n }\\n }\\n}\\n```","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1024,-1088],"id":"e5850099-3e4c-408e-a4d5-2cbd68c90362","name":"Analyze image","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Nettoie et transforme le JSON \"top_left / bottom_right\"\n// en crop prêt pour le node Edit Image → Crop\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  let raw = item.json.content;\n\n  // Supprime les balises ```json et ```\n  raw = raw.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\n  // Parse le JSON\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    throw new Error(\"Impossible de parser le JSON : \" + raw);\n  }\n\n  // Récupère les coordonnées\n  const coords = parsed.photo_coordinates || parsed;\n  const topLeft = coords.top_left;\n  const bottomRight = coords.bottom_right;\n\n  // Calcule x, y, width, height\n  const x = topLeft.x;\n  const y = topLeft.y;\n  const width = bottomRight.x - topLeft.x;\n  const height = bottomRight.y - topLeft.y;\n\n  // Prépare la sortie pour Edit Image → Crop\n  output.push({\n    json: {\n      crop: { x, y, width, height },\n    },\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-1056],"id":"bd26219c-53ae-405d-93a2-9beac351fefa","name":"Code2"},{"parameters":{"operation":"crop","width":"={{ $json.crop.width }}","height":"={{ $json.crop.height }}","positionX":"={{ $json.crop.x }}","positionY":"={{ $json.crop.y }}","options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1872,-912],"id":"dc951c07-d467-4962-8279-7094cc4b01c5","name":"Edit Image"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,-896],"id":"4a4b2828-bcd1-4d4d-9e73-2a727359d986","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2256,-896],"id":"6ac4c534-640c-4305-81c3-c2d3a92c8ccb","name":"Merge2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2512,176],"id":"1dcfadc7-ca43-4d4e-93ae-3690afbb52c0","name":"Merge3"},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/cv-files/{{$json.fileName}}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"attachment_0","options":{}},"name":"Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[1456,400],"id":"c4eb9d65-71df-4402-ba95-b3ae7057ba28","typeVersion":4.2,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"},"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const baseUrl = \"https://supabasekong.eurekia-solutions.com/storage/v1/object/public\";\n\nreturn items.map(item => {\n  const key = item.json.Key;\n\n  // Séparer le dossier et le fichier\n  const parts = key.split('/');\n  const fileName = parts.pop(); // dernier élément = le fichier\n  const folder = parts.join('/'); // reste du chemin\n\n  // Encoder uniquement le fichier\n  const safeKey = `${folder}/${encodeURIComponent(fileName)}`;\n\n  const publicUrl = `${baseUrl}/${safeKey}`;\n  const downloadUrl = `${publicUrl}?download=1`;\n\n  return {\n    json: {\n      ...item.json,\n      publicUrl,\n      downloadUrl\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,384],"id":"430e4e4b-42e5-477e-b695-0559de8a9e53","name":"get public url"},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Analyse Finale|rich_text","textContent":"={{ $('analyse réponse').item.json.output.analyseFinale }}"},{"key":"Note Finale|number","numberValue":"={{ $('analyse réponse').item.json.output.noteFinale }}"},{"key":"Statut|select","selectValue":"Finalisé"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2448,800],"id":"ce7bb8a8-3d3a-4b39-8d3d-fe26531f1b63","name":"Update a database page","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"cfe4a87e-1d71-4b81-813c-738e8fc30c89","mode":"list","cachedResultName":"Candidats","cachedResultUrl":"https://www.notion.so/cfe4a87e1d714b81813c738e8fc30c89"},"limit":1,"filterType":"manual","filters":{"conditions":[{"key":"Thread ID|rich_text","condition":"equals","richTextValue":"={{ $('Code').item.json.threadIdExtracted }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2176,800],"id":"155998ab-d260-4ef6-b6ec-c34bd4a33841","name":"Get many database pages","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"jsCode":"return items.map(item => {\n  let fileName = null;\n\n  if (item.binary && item.binary.attachment_0 && item.binary.attachment_0.fileName) {\n    fileName = item.binary.attachment_0.fileName;\n  }\n\n  return {\n    json: {\n      ...item.json,\n      fileName\n    },\n    binary: item.binary\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,400],"id":"8fe09cd8-3abb-4acc-9bad-9eadd44f971d","name":"Code3"}],"connections":{"Get a message":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Create a row","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"email refus","type":"main","index":0}],[{"node":"email complementInfos","type":"main","index":0}],[{"node":"email ok","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"analyse réponse","type":"ai_outputParser","index":0}]]},"Merge":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If1":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Code3","type":"main","index":0}],[{"node":"analyse réponse","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"analyse réponse","type":"ai_languageModel","index":0}]]},"analyse réponse":{"main":[[{"node":"Get many database pages","type":"main","index":0}]]},"email complementInfos":{"main":[[{"node":"statut en cours","type":"main","index":0}]]},"Remove label from message":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"email refus":{"main":[[{"node":"statut refusé","type":"main","index":0}]]},"email ok":{"main":[[{"node":"statut finalisé","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Remove label from thread","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Fiche de Poste","type":"main","index":0}]]},"Add label to message":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Remove label from thread":{"main":[[{"node":"Add label to thread","type":"main","index":0}]]},"Add label to thread":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Fiche de Poste":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Get a message","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"statut refusé":{"main":[[{"node":"Remove label from message","type":"main","index":0}]]},"statut en cours":{"main":[[{"node":"Remove label from message","type":"main","index":0}]]},"statut finalisé":{"main":[[{"node":"Remove label from message","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Convert PDF into PNG":{"main":[[{"node":"Analyze image","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Analyze image":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[]]},"Merge3":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Upload to Storage":{"main":[[{"node":"get public url","type":"main","index":0}]]},"get public url":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Update a database page":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Get many database pages":{"main":[[{"node":"Update a database page","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Upload to Storage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4xKLB9RPfrowY9h4"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1758032594,"possibleDuplicates":["19951bcd126bdfb6"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7d83c67c-7090-4ff9-8e52-4d4a01e0f312","triggerCount":2,"shared":[{"createdAt":"2025-08-26T08:21:59.371Z","updatedAt":"2025-08-26T08:21:59.371Z","role":"workflow:owner","workflowId":"E0kIyPUycvEJAMm6","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}