outlook-allianced-boite-reception-z5uV9E7s8VkO3Y8e.json
{"createdAt":"2025-10-26T17:01:17.859Z","updatedAt":"2025-10-27T16:29:12.000Z","id":"z5uV9E7s8VkO3Y8e","name":"outlook allianced boite reception","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","limit":1,"filtersUI":{"values":{"filters":{"custom":"not(categories/any(c:c eq 'FileMaker OK'))","foldersToInclude":["AAMkADUwYjZmZjMzLWQ0OTUtNDg4Ni1iMzIyLWFkNjZlNGM3ZDM1NQAuAAAAAAAyMXv-ib38QLHCE0XsWsIkAQArzA-vm9W1Q62qHiRtIVbAAAAAAAEMAAA="]}}},"options":{"downloadAttachments":false}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[128,96],"id":"79637bc0-f722-4185-b288-3f54a6e7f7d3","name":"Get many messages","webhookId":"2cab75df-ec32-4230-9fbc-61adfb6a918d","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}},"notes":"dans boite de réception, sauf les labels \"FileMaker OK\" (déja traités donc)"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,96],"id":"33c86810-077b-408f-a391-ec1df2ab1fd3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"output":"fields","fields":["createdDateTime","from","hasAttachments","subject","sentDateTime","webLink","body"],"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[336,96],"id":"4e781c4a-772c-4dd0-bffa-78b9a9a7188f","name":"Get a message","webhookId":"cef5d437-51b5-44b3-8099-c273dc861532","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9dc09b1-18b6-4e90-b60a-a1f5c761f021","leftValue":"={{ $json.messages[0].code }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,96],"id":"25e03c28-3993-424f-9b80-7179acd2320f","name":"If"},{"parameters":{"action":"find","layout":"COM_raw","responseLayout":"COM_raw","queries":{"query":[{"fields":{"field":[{"name":"data","value":"=\"{{ $json.from.emailAddress.address }}\""}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[576,96],"id":"7f389065-61ee-4384-84d6-f758bd4e40a1","name":"seach COM","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"find","layout":"PRE_raw","responseLayout":"PRE_raw","queries":{"query":[{"fields":{"field":[{"name":"zkf_LOC","value":"={{ $json.response.data[0].fieldData.zkf_LOC }}"}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1008,0],"id":"e23c9372-a577-4245-a416-35418100b6e6","name":"seach PRE","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"find","layout":"BAI_raw","responseLayout":"BAI_raw","queries":{"query":[{"fields":{"field":[{"name":"zkp","value":"={{ $json.response.data[0].fieldData.zkf_BAI }}"}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1216,0],"id":"08a11936-ef13-4c34-bf46-ae90dce9fa6d","name":"seach BAI","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"create","layout":"EVT_raw","fieldsParametersUi":{"fields":[{"name":"type","value":"email"},{"name":"description","value":"={{ $('Get a message').item.json.body.content }}"},{"name":"zkf_BAI","value":"={{ $json.response.data[0].fieldData.zkp }}"},{"name":"dateEvenement","value":"={{ new Date($('Get a message').item.json.sentDateTime).toLocaleDateString('en-US', { timeZone: 'UTC' }) }}"},{"name":"heureEvenement","value":"={{ new Date($('Get a message').item.json.sentDateTime).toISOString().substring(11,19) }}"}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1424,0],"id":"685ef5e2-0799-47ee-b198-6fa05a1d143c","name":"create EVT","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"categories":["FileMaker ko"]}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[576,384],"id":"9add1a43-c3aa-432c-8504-6c59f1104ced","name":"label KO","webhookId":"cef5d437-51b5-44b3-8099-c273dc861532","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}}},{"parameters":{"operation":"update","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"updateFields":{"categories":["FileMaker ok"]}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[576,240],"id":"922d4033-e828-4313-9044-b5403a5489bf","name":"label OK","webhookId":"cef5d437-51b5-44b3-8099-c273dc861532","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}}},{"parameters":{"content":"## A PENSER\nchanger from en to selon qu'on interroge la boite d'envoi ou de réception"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,-144],"id":"c4bacbe7-2012-471a-b0ba-4f24bbad2a57","name":"Sticky Note"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"Get many messages":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"seach COM","type":"main","index":0}]]},"seach COM":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"seach PRE","type":"main","index":0}]]},"seach PRE":{"main":[[{"node":"seach BAI","type":"main","index":0}]]},"seach BAI":{"main":[[{"node":"create EVT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90e25895-0982-434b-9b56-1fb73abc600b","triggerCount":0,"shared":[{"createdAt":"2025-10-26T17:01:17.866Z","updatedAt":"2025-10-26T17:01:17.866Z","role":"workflow:owner","workflowId":"z5uV9E7s8VkO3Y8e","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}