sapitec_analysepaiement-k3bw9g9ZvvI52z4F.json
{"createdAt":"2025-10-20T08:21:04.679Z","updatedAt":"2025-10-20T09:09:17.000Z","id":"k3bw9g9ZvvI52z4F","name":"sapitec_analysePaiement","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-336,-80],"id":"7834ed9d-3f5e-4c33-833f-9706b178450f","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"a7fd748f-7e8b-481c-b109-630492969f09","name":"id_gmail","value":"={{ $json.id_gmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-80],"id":"293ffade-8464-4b72-a387-8f5ef4009382","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f596c0a0-0239-4ece-ad42-85c105156098","leftValue":"={{ $json.id_gmail }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-80],"id":"d349918b-7ccd-411a-b96c-4156ff275740","name":"If"},{"parameters":{"errorMessage":"l'id_email est vide, analyse paiement impossible"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[288,16],"id":"36545546-9dee-42e8-9af4-61fac15d10f4","name":"Stop and Error"},{"parameters":{"operation":"get","messageId":"={{ $json.id_gmail }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[288,-176],"id":"43c5ec58-105e-435b-95f0-a93701f37511","name":"Get a message","webhookId":"abedfccf-df77-415d-9e67-6cd4bdd56dd0","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"get","messageId":"=19a0074610fd91bc"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-176,-320],"id":"2adb7c6a-32ec-4ff5-a82c-1792bf5ba113","name":"Get a message1","webhookId":"abedfccf-df77-415d-9e67-6cd4bdd56dd0","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[848,-112],"id":"349a5f2d-fc55-4d2e-b3ef-aa79db7a95f0","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"nomClient\": \"Lamy Lyon Point du Jour\",\n  \"adresseClient\": \"51 Avenue du Point du Jour\",\n  \"codePostalClient\": \"69005\",\n  \"villeClient\": \"Lyon\",\n  \"prenomContact\": null,\n  \"nomContact\": null,\n  \"factures\": [\n    {\n      \"numeroFacture\": \"18526\",\n      \"montant\": 1072.50\n    },\n    {\n      \"numeroFacture\": \"18232\",\n      \"montant\": 528.00\n    }\n  ]\n}","options":{"systemPromptTemplate":"=Tu es un extracteur de données pour des avis de virement PDF de syndics immobiliers (Citya, Lamy, Immosquare, etc.).  \nTa mission est d’analyser le contenu textuel du PDF et d’en extraire les informations clés suivantes.\n\n⚙️ Données à extraire :\n- **nomClient** : nom du syndic ou société émettrice du virement (ex. Citya, Lamy, Immosquare, etc.)\n- **adresseClient** : adresse postale complète figurant sur le document pour le syndic\n- **codePostalClient**\n- **villeClient**\n- **prenomContact** : prénom du contact s’il est identifiable (sinon vide)\n- **nomContact** : nom du contact s’il est identifiable (sinon vide)\n- **factures** : tableau des factures réglées avec :\n  - **numeroFacture** : référence à 5 chiffres mentionnée (ex. 18940, 18526…)\n  - **montant** : montant TTC payé pour cette facture, au format nombre (ex. 539.00)\n\n🧾 Règles :\n- Ignore les IBAN, numéros de virement, mentions légales et salutations.\n- Si plusieurs factures sont listées, tu dois toutes les inclure dans le tableau `factures`.\n- Si une donnée n’est pas présente, renvoie `null` pour cette clé.\n- Les montants doivent être des nombres (pas de chaînes).\n\n🧩 Résultat attendu :\nRetourne uniquement du JSON strict, sans texte ni commentaire."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[864,-336],"id":"9055bacf-4a66-4783-8a00-7737d56f30f0","name":"Information Extractor1"},{"parameters":{"jsCode":"// Parcourt tous les items entrants\nconst results = [];\n\nfor (const item of $input.all()) {\n  const binaries = item.binary;\n\n  // Vérifie s'il y a bien des données binaires\n  if (!binaries) continue;\n\n  // Cherche un binaire PDF\n  const pdfEntry = Object.entries(binaries).find(\n    ([key, data]) => data.mimeType === 'application/pdf'\n  );\n\n  // Si on a trouvé un PDF, on le renomme en \"data\"\n  if (pdfEntry) {\n    const [key, data] = pdfEntry;\n    results.push({\n      json: item.json,\n      binary: { data }, // renommé ici\n    });\n  }\n}\n\n// Retourne uniquement les items contenant un PDF renommé en \"data\"\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-336],"id":"4465a8a0-d939-458f-a18d-9c82316d107d","name":"Code"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[656,-336],"id":"f0b39494-9b49-4f3b-9d0d-51a72d373eac","name":"Extract from File"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get a message","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Get a message":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get a message1":[{"json":{"id":"19a0074610fd91bc","threadId":"19a0074610fd91bc","snippet":"Vous pouvez télécharger vos fichiers sans tarder à l'adresse : https://gedlink.ics.fr/Ged/permalink?client=IMMOSQUARE_IVV&hash=e88140be61af463ea65462495fd5a11ec8c10f35fe4c44d9a3212cc82509a874","payload":{"mimeType":"multipart/mixed"},"sizeEstimate":115536,"historyId":"507135","internalDate":"1760944212000","labels":[{"id":"Label_1186542609664575387","name":"processed"},{"id":"Label_3039467312286841064","name":"test"},{"id":"Label_3772006204735817445","name":"test_processed"}],"Subject":"","To":"<contact@sapitec.fr>","From":"<compta@eurekaimmobilier.fr>"}}],"When Executed by Another Workflow":[{"json":{"output":{"type":"paiement","titre":"Avis de règlement pour factures","objet":"Veuillez trouver ci-joint la liste des factures correspondant au règlement effectué ce jour.","url_info":"","url_password":"","reference":"","client":{"raisonSociale":"","nomPrenom":"","adresse":"","codePostal":"","ville":"","tel":"","email":""},"lese":{"nomPrenom":"","adresse":"","codePostal":"","ville":"","tel":"","email":""}},"prompt":"Bonjour,<br/><br/>Veuillez trouver ci-joint la liste des factures correspondant au règlement effectué ce jour.<br/><br/>Cordialement,<br/>Le service comptable<br/><br/>NB : ce mail est automatique, merci de ne pas y répondre<br/>","id_email":"83be7dfe-d76c-4f10-a703-f23f1faa5e23","id_gmail":"199f2d9e4d14a300"}}]},"versionId":"af9125d4-62f6-4807-bff4-60c9ad584ca9","triggerCount":0,"shared":[{"createdAt":"2025-10-20T08:21:04.682Z","updatedAt":"2025-10-20T08:21:04.682Z","role":"workflow:owner","workflowId":"k3bw9g9ZvvI52z4F","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}