sapitec_suppr_emails_buckets-jT3Tjg56ZODU4eoj.json
{"createdAt":"2025-10-30T15:44:41.603Z","updatedAt":"2025-11-10T15:46:12.000Z","id":"jT3Tjg56ZODU4eoj","name":"sapitec_suppr_emails_buckets","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cleanup","responseMode":"responseNode","options":{}},"id":"498db3fa-d448-4c31-9cd0-e3891f89c1a1","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[96,64],"webhookId":"633d0277-ee06-4e41-9076-830999b21518"},{"parameters":{"method":"DELETE","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/email-attachments/{{ $('Webhook Trigger').item.json.body.dateSuppr }}/{{ $('HTTP Request').item.json.name }}/{{ $json.name }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"id":"0374cb68-5083-4d50-8cbe-9d18861afe5c","name":"Delete Files (Batch)","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[848,224],"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"message","value":"={{ $json.count_message }} fichiers ont été supprimés"}]}}},"id":"2e39e70d-f582-454f-8d0b-441e11bf555d","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1744,80]},{"parameters":{"content":"# Supprime les emails et buckets d'un certain jour\n","height":272,"width":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,-256],"id":"5cb08021-eedf-4d4c-86fb-f6f3f33ecda0","name":"Sticky Note"},{"parameters":{"operation":"delete","tableId":"emails","matchType":"allFilters","filters":{"conditions":[{"keyName":"email_date","condition":"gt","keyValue":"={{ $json.dateSuppr }}"},{"keyName":"email_date","condition":"lt","keyValue":"={{ $json.nextDay }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[848,-32],"id":"beea63c9-6b37-4dbd-8acd-27b8dca46a80","name":"Delete a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// n8n Code Node - ajoute +1 jour à dateSuppr et garde uniquement ces deux champs\n\nreturn $input.all().map(item => {\n  // 🔹 Récupère la date depuis l'entrée\n  const dateSuppr = item.json.body.dateSuppr;\n\n  // 🔹 Vérifie qu'on a bien une date\n  if (!dateSuppr) {\n    throw new Error(\"Le champ 'dateSuppr' est manquant dans l'entrée\");\n  }\n\n  // 🔹 Convertit en objet Date (UTC pour éviter les décalages)\n  const d = new Date(dateSuppr + \"T00:00:00Z\");\n\n  // 🔹 Ajoute un jour\n  d.setUTCDate(d.getUTCDate() + 1);\n\n  // 🔹 Formatte en YYYY-MM-DD\n  const nextDay = d.toISOString().split(\"T\")[0];\n\n  // 🔹 Retourne uniquement les deux champs demandés\n  return {\n    json: {\n      dateSuppr,\n      nextDay\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-32],"id":"26f731db-101b-412c-ae52-52cf22aad042","name":"intervalle temps"},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/list/email-attachments","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prefix","value":"={{ $json.body.dateSuppr }}/"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,224],"id":"6061f381-7086-407a-9355-390c7b709929","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}}},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/list/email-attachments","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"prefix","value":"={{ $('Webhook Trigger').item.json.body.dateSuppr }}/{{ $json.name }}/"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,224],"id":"b6b52c6a-9752-4db2-808b-3a57318a8294","name":"HTTP Request1","credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}}},{"parameters":{"content":"## Delete emails","height":384,"width":1424,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-256],"id":"f36488ea-01e3-465c-8e34-7bfbd4a0986f","name":"Sticky Note1"},{"parameters":{"content":"## Delete files","height":400,"width":1424,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,128],"id":"f8b21ce5-f07c-482e-8cef-d9ccaa287e61","name":"Sticky Note2"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"message"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1072,224],"id":"a28dd19f-2569-4159-8a7f-384b5d4b589a","name":"Summarize"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1072,-32],"id":"debd35ea-7471-48d6-9dc9-48d2f952b5ec","name":"Summarize1","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Si aucun output précédent\nif (!items || items.length === 0) {\n  return [{ json: { nbEmailsSupprimes: 0 } }];\n}\n\n// Si count_id existe dans le premier élément\nconst count = items[0].json.count_id ?? 0;\n\nreturn [{ json: { nbEmailsSupprimes: count } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-32],"id":"1717b22e-9b56-47cd-970a-64ef4da05fbb","name":"Code"},{"parameters":{"jsCode":"const items = $input.all();\n\n// Si aucun output précédent\nif (!items || items.length === 0) {\n  return [{ json: { nbFichiersSupprimes: 0 } }];\n}\n\n// Si count_message existe dans le premier élément\nconst count = items[0].json.count_message ?? 0;\n\nreturn [{ json: { nbFichiersSupprimes: count } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,224],"id":"7d0f54c2-4ccb-4307-bc17-d51018b9cb88","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1520,80],"id":"6d566302-0e1e-461b-a8b6-cb2cfb279518","name":"Merge"}],"connections":{"Webhook Trigger":{"main":[[{"node":"intervalle temps","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Delete Files (Batch)":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"intervalle temps":{"main":[[{"node":"Delete a row","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Delete Files (Batch)","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Delete a row":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb723f5b-6d2c-43ca-a0c4-b5eb8fd73fcf","triggerCount":1,"shared":[{"createdAt":"2025-10-30T15:44:41.610Z","updatedAt":"2025-10-30T15:44:41.610Z","role":"workflow:owner","workflowId":"jT3Tjg56ZODU4eoj","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}