sapitec_retreive-emails-gmail-Lj7eskpSCreLSdD5.json
{"createdAt":"2025-10-20T07:53:20.706Z","updatedAt":"2025-11-11T08:33:09.000Z","id":"Lj7eskpSCreLSdD5","name":"sapitec_retreive-emails-gmail","active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"emails","fieldsUi":{"fieldValues":[{"fieldId":"gmail_id","fieldValue":"={{ $json.email_id }}"},{"fieldId":"subject","fieldValue":"={{ $json.subject }}"},{"fieldId":"content","fieldValue":"={{ $json.body}}"},{"fieldId":"email_date","fieldValue":"={{ new Date($('getEmailAndAttach').item.json.date).toLocaleString('sv-SE', { timeZone: 'Europe/Paris' }).replace(' ', 'T') }}"},{"fieldId":"from_email","fieldValue":"={{ (() => { \n  const raw = $('getEmailAndAttach').item.json.from?.text;\n  if (!raw) return null; // si vide/undefined -> null\n  const str = Array.isArray(raw) ? raw[0] : raw;\n  return (str.match(/<([^>]+)>/)?.[1] \n       || str.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)?.[0] \n       || null);\n})() }}"},{"fieldId":"to_email","fieldValue":"={{ (() => { \n  const raw = $('getEmailAndAttach').item.json.to?.text;\n  if (!raw) return null; // si vide/undefined -> null\n  const str = Array.isArray(raw) ? raw[0] : raw;\n  return (str.match(/<([^>]+)>/)?.[1] \n       || str.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)?.[0] \n       || null);\n})() }}"}]}},"id":"401b7bc5-ebc5-47ea-9738-3421bfece711","name":"Insert Email","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-896,112],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/email-attachments/{{ $json.file_path }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[-896,640],"id":"1b066c7e-a554-4318-ae08-dd859d3b6a62","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{"tableId":"email_attachments","fieldsUi":{"fieldValues":[{"fieldId":"email_id","fieldValue":"={{ $json.email_id }}"},{"fieldId":"file_name","fieldValue":"={{ $json.file_name }}"},{"fieldId":"file_path","fieldValue":"={{ $json.file_path }}"},{"fieldId":"file_type","fieldValue":"={{ $json.file_type }}"}]}},"name":"Insert Attachment Row","type":"n8n-nodes-base.supabase","position":[592,432],"id":"4673379b-421c-4832-be12-d3f14e676497","typeVersion":1,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  const emailId = item.json.id;\n\n  // PJ binaires\n  if (item.binary && Object.keys(item.binary).length > 0) {\n    for (const [key, binaryData] of Object.entries(item.binary)) {\n      output.push({\n        json: {\n          email_id: emailId,\n          attachmentName: binaryData.fileName || key,\n          contentType: binaryData.mimeType || 'unknown',\n        },\n        binary: {\n          data: binaryData\n        }\n      });\n    }\n  }\n\n  // PJ dans json.attachments (si applicable)\n  else if (Array.isArray(item.json.attachments)) {\n    for (const attachment of item.json.attachments) {\n      output.push({\n        json: {\n          gmail_id: emailId,\n          attachmentId: attachment.attachmentId,\n          filename: attachment.filename,\n          mimeType: attachment.mimeType,\n          size: attachment.size\n        }\n      });\n    }\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1552,704],"id":"69d32f0c-9a8c-46b5-8991-97a43474bd50","name":"split attachments"},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  // ID de l’e-mail (priorité à email_id s’il existe)\n  const emailId = item.json.email_id ?? item.json.id;\n  if (!emailId) continue;\n\n  // Sujet : « non defini » si vide ou absent\n  const subject = (item.json.subject && item.json.subject.trim())\n    ? item.json.subject\n    : 'non defini';\n\n  // Corps : text en priorité, sinon html, sinon chaîne vide\n  const body = item.json.text ?? item.json.html ?? '';\n\n  // Comptage des pièces jointes\n  let count = 0;\n  if (item.binary && typeof item.binary === 'object' && Object.keys(item.binary).length) {\n    count = Object.keys(item.binary).length;\n  } else if (Array.isArray(item.json.attachments)) {\n    count = item.json.attachments.length;\n  }\n\n  // Construction de la sortie\n  output.push({\n    json: {\n      email_id: emailId,\n      subject,\n      body,\n      attachments_count: count\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,112],"id":"ebcdbb89-981b-4aff-89d7-19b36d7787e8","name":"Code"},{"parameters":{"jsCode":"const output = [];\n\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const emailId = item.json.id;\n  const gmailId = item.json.gmail_id;\n\n  if (!emailId || !gmailId || seen.has(gmailId)) {\n    continue;\n  }\n\n  seen.add(gmailId);\n\n  output.push({\n    json: {\n      email_id: emailId,\n      gmail_id: gmailId\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,432],"id":"a2afea96-7aba-4b01-a25a-e7b4ee525c3a","name":"Code1","onError":"continueErrorOutput"},{"parameters":{"mode":"combine","fieldsToMatchString":"gmail_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-240,512],"id":"30c84a0b-287f-40b0-a44c-d8d5ef45ea75","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,224],"id":"841b8e27-1e09-4d18-8209-1e6559455ad5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87a4e923-e491-4f86-9cfb-313144983569","leftValue":"={{ $('getEmailAndAttach').item.json.text }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,112],"id":"a761acb7-b646-4698-8809-7bfc1c222aec","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a312b388-e756-4e0b-8739-70a2df174ba3","name":"prompt","value":"={{ $('getEmailAndAttach').item.json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,32],"id":"b50b740a-01e9-43c0-97b0-599ad17996b0","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"00b70686-2440-4830-bf9a-ff6fdad0c5c8","name":"prompt","value":"={{ $('getEmailAndAttach').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,240],"id":"e92177df-c39b-471e-8ede-d81be6e6abce","name":"Edit Fields2"},{"parameters":{"fieldToSplitOut":"prompt","include":"selectedOtherFields","fieldsToInclude":"idEmail, threadId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-240,112],"id":"19f102d7-64de-461b-af54-caf33a701207","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"9a185dc7-4970-4f44-bc2f-cf899a7882b6","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"4afbab65-2fb1-4b71-bf65-faee9c1e5db9","name":"id_email","value":"={{ $('If').item.json.id }}","type":"string"},{"id":"89707c29-f120-484d-a969-7681182ffbfb","name":"id_gmail","value":"={{ $('getEmailAndAttach').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,112],"id":"a2046fbc-8505-4fe0-84a6-638d6994b4d5","name":"prompt"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[592,112],"id":"18613893-f744-4448-9fff-eec15914fba8","name":"Merge1"},{"parameters":{"text":"=Voici le texte e-mail à analyser et catégoriser : {{ $json.prompt }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"type\": \"suivi\",\n  \"titre\": \"Absence de devis joint\",\n  \"objet\": \"Demande de renvoi du devis réactualisé pour ESPACE EMERAUDE BAT C/D\",\n  \"url_info\": \"https://...\",\n  \"url_password\": \"2354\",\n  \"reference\": \"0197\",\n  \"client\": {\n    \"raisonSociale\": \"SOGELEM\",\n    \"nomPrenom\": \"Bryan Briard\",\n    \"adresse\": \"12, Cours Emile Zola\",\n    \"codePostal\": \"69100\",\n    \"ville\": \"Villeurbanne\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"bryan.briard@sogelem.fr\"\n  },\n  \"lese\": {\n    \"nomPrenom\": \"Gaelle Jos\",\n    \"adresse\": \"Immeuble les Fleurs\\r4rue de la paix\",\n    \"codePostal\": \"75008\",\n    \"ville\": \"Paris\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"gaelle.jos@sogelem.fr\"\n  }\n}","options":{"systemPromptTemplate":"=Vous êtes l'assistant d’analyse d’e-mails français de la société SAPITEC qui reçoit des emails de ses clients (Régies, Syndics en majorité) parlant d'intervention à faire dans des résidences chez des particuliers (le lésé), ou d'avis de paiement/réglement/virements.\n\nLes emails analysés peuvent être des emails tranférés en interne : il faut ignorer les noms, coordonnées et adresses emails des personnes semblant travailler chez SAPITEC. \n\nVotre tâche est purement extractive : ne gardez que les informations présentes explicitement dans l’e-mail.  \nIgnorez les noms, coordonnées et adresses emails des personnes travaillant chez SAPITEC.  \n\nChamps à produire :\n- Type : <suivi | demande | commande | paiement | autre> (obligatoire, jamais vide)  \n- titre : résumé court de l’email (jamais vide)\n\nurl\n - parfois une url est indique pour un complément d'information, télécharger une commande ou déposer un devis : à mettre dans url_info\n - il arrive que l'url soit fournie avec un mot de passe qui permet d'accéder au site de la régie, à renseigner dans url_password\n\n- Client : nom du client, engénral celui qui écrit l'email et donne les instructions (ou vide si non trouvé)\n\n- Contact client : en général celui qui signe l'email\n\n- Details : résumé concis en reprenant les mots originaux quand possible (ou vide)  \n\n- adresse : \n\n  • Numéro de voie + nom de voie  \n  • Ne jamais inclure le code postal ni la ville  \n- code postal : 5 chiffres si présent  \n- ville : mot(s) qui suivent immédiatement le code postal  \n\nLe lésé :\n\nParfois le nom du lésé n'est pas stipulé mais l'adresse l'est, souvent avec le nom de l'immeuble ou de la résidence dans ces cas : bien remplir les informations lésé sans stipuler le nom prénom juste.\n\n - Adresse lésé : Peut contenir “immeuble”, “résidence”, “copropriété”, “bâtiment” si présent. si tu trouves le nom associé le mettre avant l'adresse. Exemple \"Le Clos Fleuri - 29 rue Pierre Brunier\"\n - nom prénom : peut être défini comme le \"contact sur place\" ou \"le membre de la copropriété\" ou \"le locataire\" ou toute appellation qui fait penser que c'est la personne chez qui il faut intervenir, quand son nom est précisé.\n\nCatégorisation du champ Type :\n- suivi : relance, question, échange déjà en cours  \n- demande : première demande de prix (souvent via un lien ou formulaire)  \n- commande : accord explicite suite à un devis  \n- autre : paiements, communications internes, hors périmètre  \n\nRègles impératives :\n- Le champ Type est toujours obligatoire  \n- Si aucune catégorie ne correspond → écrire « autre »  \n- Si une information n’est pas clairement présente → laisser vide  \n- Ne pas écrire “N/A”, “exemple” ou une valeur fictive  \n- Ne jamais mettre “SAPITEC” comme client\n\nFormat de sortie JSON comme indiqué dans l'exemple.\n** IMPORTANT ** renseigner toutes les clés attendues, par exemple si nomPrenom du lésé est vide le mettre dans le json et mettre vide (\"\")\n\n## Exemples de format attendu (illustratifs uniquement) :\n\nEntrée :\n« Sauf erreur de notre part, nous n’avons pas eu de confirmation pour la demande suivante : »  \nSortie :\nType: suivi  \ntitre: Relance client affaire xxx  \n\nEntrée :\n« Peux tu reprendre rendez-vous avec… »  \nSortie :\nType: suivi  \ntitre: Suivi de RDV affaire xxx  \n\nEntrée :\n« Veuillez prendre connaissance de notre envoi via ce lien : https://formulaire-devis.example.com »  \nSortie :\nType: demande  \ntitre: Demande de devis affaire xxx  \n\nEntrée :\n« Nous confirmons notre commande pour le devis #1234. »  \nSortie :\nType: commande  \ntitre: Confirmation de commande pour le devis #1234  \n\nEntrée :\n\" Bonjour\nJe vous prie de trouver ci-joint le bordereau de factures pour le virement que je vous éffectue\nce jour\"\nSortie :\nType: paiement  \ntitre: Avis de règlement pour factures ... "}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[208,0],"id":"460d75c1-ee5c-4a2b-a385-2dcc2b4b6e9b","name":"catégoriser email","onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4000,1312],"id":"e28c98fc-a03c-48b3-abd7-98e71de3c0ac","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["INBOX"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-3232,1056],"id":"4c6c95d7-084b-4922-87f3-3e6d69d6347a","name":"getEmais","webhookId":"20f4593a-7010-4559-9965-6a2237916b82","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7378f2a-cc8c-4744-9406-0b2a92b166ce","leftValue":"={{ $json.From }}","rightValue":"3CX","operator":{"type":"string","operation":"contains"}},{"id":"74b601d5-4f37-48d7-9833-f68391725a8f","leftValue":"={{ $json.snippet }}","rightValue":"=^-- RAPPEL --","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2048,1200],"id":"2929a3a0-f0e4-44be-97ca-eb097d552347","name":"testFrom"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebb11565-64cb-4fda-a8ce-65dbede92410","leftValue":"={{ $json.test }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3504,1152],"id":"e360fb9a-656f-4daa-acba-c830e5e01caf","name":"If2"},{"parameters":{"operation":"getAll","filters":{"labelIds":["Label_3039467312286841064"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2976,1344],"id":"37212c59-6a20-4a70-a3f3-fe87c8b36933","name":"getEmail TEST","webhookId":"9ecaca26-50b9-4896-b702-089836a0cc1c","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1776,960],"id":"fa4c7f17-48f6-4df4-9b5b-c6abbe8a63c4","name":"getEmailAndAttach","webhookId":"e791bfa4-5b82-4b53-abe3-ecc785f3972b","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1328,1632],"id":"e7e1f57a-6039-4acd-9802-4215fb47e7f3","name":"remove label","webhookId":"fa6adaa5-b8e8-4cba-9b57-e434e4747a20","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["UNREAD"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1120,1632],"id":"a3181dcc-7d55-4760-9b09-61b368c70868","name":"unread","webhookId":"0b431313-b83f-4156-81bf-f5149546da5a","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1744436849750838610"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-672,1632],"id":"eec2ce37-c2f9-440b-b162-d7f85f97e05f","name":"sapitec_voiceMessage","webhookId":"b4d133d4-8814-4cb0-9ba4-a71a1ee24b78","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"deebff0e-ae56-48f7-9b4e-dfae9dad2a53","leftValue":"={{ $('If2').item.json.test }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,1776],"id":"bc35324e-ae26-4dd6-9b24-496426a2ab73","name":"If3"},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"type","fieldValue":"={{ $json.output.type }}"},{"fieldId":"client_raison_sociale","fieldValue":"={{ $json.output.client.raisonSociale }}"},{"fieldId":"client_prenom_nom","fieldValue":"={{ $json.output.client.nomPrenom }}"},{"fieldId":"client_adresse","fieldValue":"={{ $json.output.client.adresse }}"},{"fieldId":"client_code_postal","fieldValue":"={{ $json.output.client.codePostal }}"},{"fieldId":"client_ville","fieldValue":"={{ $json.output.client.ville }}"},{"fieldId":"lese_nom_prenom","fieldValue":"={{ $json.output.lese.nomPrenom }}"},{"fieldId":"lese_adresse","fieldValue":"={{ $json.output.lese.adresse }}"},{"fieldId":"lese_code_postal","fieldValue":"={{ $json.output.lese.codePostal }}"},{"fieldId":"lese_ville","fieldValue":"={{ $json.output.lese.ville }}"},{"fieldId":"lese_tel","fieldValue":"={{ $json.output.lese.tel }}"},{"fieldId":"lese_email","fieldValue":"={{ $json.output.lese.email }}"},{"fieldId":"client_tel","fieldValue":"={{ $json.output.client.tel }}"},{"fieldId":"client_email","fieldValue":"={{ $json.output.client.email }}"},{"fieldId":"titre","fieldValue":"={{ $json.output.titre }}"},{"fieldId":"reference","fieldValue":"={{ $json.output.reference }}"},{"fieldId":"url_ordre_service","fieldValue":"={{ $json.output.url_info }}"},{"fieldId":"url_password","fieldValue":"={{ $json.output.url_password }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[896,112],"id":"56264c56-a03c-48a7-9e73-cee8d28b38cd","name":"update_email","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d0b8b99d-fd3f-4451-bf7f-6630926fe477","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"e43dd72f-ade6-44ff-ac74-33f9a2a53883","name":"Id_bucket","value":"={{ $json.Id }}","type":"string"},{"id":"34228524-abcc-45c5-8faa-3391243f3429","name":"gmail_id","value":"={{ $('Path Builder').item.json.email_id }}","type":"string"},{"id":"5641a1fc-0d58-4b97-95ea-61145c2d20d3","name":"file_name","value":"={{ $('Path Builder').item.json.file_name }}","type":"string"},{"id":"254c0e41-721a-4512-8cce-bca04aeebd2b","name":"file_type","value":"={{ $('Path Builder').item.json.file_type }}","type":"string"},{"id":"1093e1cf-0efc-4937-aaa4-5839794fcb7d","name":"file_path","value":"={{ $('Path Builder').item.json.file_path }}","type":"string"},{"id":"5deee2e6-9e83-40a1-96d6-086ae0237162","name":"uploaded_at","value":"={{ $('Path Builder').item.json.uploaded_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,592],"id":"8c58c2a8-caa8-42af-af78-eb63a73e9767","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a8df2c18-02bf-42ee-9da8-d10dc05dec3f","name":"attachments_count","value":"={{ $('Code').item.json.attachments_count }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,432],"id":"39b2355b-bbdb-4259-86da-81091515488f","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38c6e327-aa6a-4acb-99fe-a3e703102eb5","leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"53711c5c-a896-4382-a449-bbbb81f0cc31","leftValue":"={{ $json.file_name }}","rightValue":"pdf","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,832],"id":"8a8297b3-5294-432b-9882-99d7c945bb2b","name":"If4"},{"parameters":{"operation":"pdf","options":{"joinPages":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,560],"id":"44cb6dc6-3885-498d-a84f-84ab7db2d636","name":"Extract from File","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,640],"id":"df362fba-eea7-4b81-ae7b-18c32659e0e4","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"gmail_id","field2":"email_id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-16,704],"id":"f08c86d6-34af-43f8-b0b1-c5e5aa340bc1","name":"Merge3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Id_bucket2","field2":"Id_bucket"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3392,496],"id":"c00ab7cd-35fa-46f2-95c3-781e6444efbf","name":"Merge4"},{"parameters":{"operation":"update","tableId":"email_attachments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_attachment }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"infoAttachement","fieldValue":"={{ $json.output }}"},{"fieldId":"gmail_id","fieldValue":"={{ $json.gmail_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3616,496],"id":"aff13c65-ea6a-4436-ac6f-f565b84dbdf7","name":"Supabase","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"/**\n * Transforme n’importe quel nom en clé 100 % sûre pour Supabase Storage\n * - enlève les accents\n * - remplace les caractères interdits par _\n * - condense les doubles _\n */\nfunction toSafeFileName(name = 'file.bin') {\n  return name\n    // 1️⃣ Sépare les signes diacritiques puis les supprime\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n\n    // 2️⃣ Remplace tout caractère NON présent dans la whitelist S3/Supa\n    .replace(/[^A-Za-z0-9 !_\\-.()*'&$@=;:+,?]/g, '_')\n\n    // 3️⃣ Condense __ successifs, retire _ en début/fin\n    .replace(/_+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\n// ────────────────────────────────\n// Code Node complet\n// ────────────────────────────────\nconst bucketName = 'email-attachment';\nconst projectUrl = 'https://drrgcimyszqllymfxqbm.supabase.co';\nconst today = new Date().toISOString().slice(0, 10); // ex. 2025-07-07\n\nreturn $input.all().map(item => {\n  const bin = item.binary?.data;\n  const emailId = item.json.email_id;\n\n  if (!emailId) {\n    throw new Error('email_id manquant dans l’item – injecte-le avant ce node');\n  }\n  if (!bin) {\n    throw new Error('Pièce jointe absente dans binary.data');\n  }\n\n  const rawFileName = bin.fileName || 'file.bin';\n  const mimeType    = bin.mimeType || 'application/octet-stream';\n  const fileSize    = bin.fileSize ?? Buffer.from(bin.data, 'base64').length;\n\n  // 🚀 Ici la magie :\n  const safeFileName = toSafeFileName(rawFileName);\n  const filePath     = `${today}/${emailId}/${safeFileName}`;\n\n  return {\n    json: {\n      email_id:    emailId,\n      file_name:   rawFileName,\n      file_type:   mimeType,\n      file_size:   fileSize,\n      file_path:   filePath,\n      uploaded_at: new Date().toISOString(),\n\n      // URLs d’upload direct\n      upload_rest_url: `${projectUrl}/storage/v1/object/${bucketName}/${filePath}`,\n      upload_s3_url:   `${projectUrl}/storage/v1/s3/${bucketName}/${filePath}`,\n    },\n    binary: { data: bin },\n  };\n});"},"name":"Path Builder","type":"n8n-nodes-base.code","position":[-1328,704],"id":"f6a6a6dd-38e7-4d6b-a803-b69634b818d7","typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"a680c564-36d6-4a60-869d-34af8349f15f","name":"id_attachment","value":"={{ $json.id }}","type":"string"},{"id":"f7aa66b9-6a46-45cf-8694-bc5fc78bf0f9","name":"Id_bucket","value":"={{ $('Edit Fields').item.json.Id_bucket }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,432],"id":"c274e355-9251-43be-b059-c0f483190451","name":"Edit Fields5"},{"parameters":{"jsCode":"return $input.all().map((item, index) => {\n  return {\n    json: {\n      index,\n      fullText: Array.isArray(item.json.text) ? item.json.text.join('\\n') : '',\n      Id_bucket: item.json.Id_bucket,\n      ...item.json\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,640],"id":"86c800b7-2eb1-49cd-997b-3a2060d5c003","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"effa1acf-5453-44b1-81ff-6201dc229822","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"0f8b37cf-7199-4b0a-b109-d986aa6755cd","name":"Id_bucket2","value":"={{ $('Merge5').item.json.Id_bucket }}","type":"string"},{"id":"431a1084-4aee-4a6b-ae57-dc9c49d33888","name":"id_attachment","value":"={{ $('Merge5').item.json.id_attachment }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3104,272],"id":"819b1c62-e461-4074-af8d-1b74de2bfa74","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"55f595c5-bf95-4ba4-a049-3f5bd2800864","name":"Id_bucket","value":"={{ $json.Id_bucket }}","type":"string"},{"id":"62051e15-6888-4fce-be6e-d4e8a758d6c5","name":"gmail_id","value":"={{ $json.gmail_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,832],"id":"41227a9e-46aa-404a-ba52-2a047d8f294c","name":"Edit Fields6"},{"parameters":{"mode":"combine","fieldsToMatchString":"Id_bucket","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1024,512],"id":"6458424d-ab05-447f-b710-953c47b39136","name":"Merge5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[592,704],"id":"803b7bf1-10d2-41a9-8f58-c4852dd5307a","name":"Merge6"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3772006204735817445"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1120,1840],"id":"ceaf4aaa-7294-409f-a06c-4194db7153e6","name":"operaTech_outbox","webhookId":"5af112c9-2fc5-4089-b428-a9ce441a081b","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["Label_3039467312286841064"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1328,1840],"id":"dd717369-5457-457c-8b65-a642cdc356af","name":"remove label1","webhookId":"7e15e55d-c57e-4517-b89b-cc6f5ed695eb","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-896,1200],"id":"2cdba68f-293e-4cf2-839c-95b28a4c9065","name":"Convert to File"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1552,1104],"id":"33c8d80c-7843-43d9-b8af-f8113158574b","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/email-attachments/{{ $('Code3').item.json.filePath }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage1","type":"n8n-nodes-base.httpRequest","position":[-672,1200],"id":"63ab4a44-aa28-4165-aea3-d96aec01c5c6","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"gmail_id","keyValue":"={{ $json.id_gmail }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-896,1008],"id":"87fa8c49-91f5-46c9-a8de-63ac7186febf","name":"Supabase2","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a2f86bc2-2887-4cd3-a623-4bf35c992db2","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"4264577f-642a-43d1-8079-dcd77c49c6b7","name":"Id_bucket","value":"={{ $json.Id }}","type":"string"},{"id":"9cbd3984-7a08-48a1-9304-7810911a1327","name":"id_gmail","value":"={{ $('Code3').item.json.id_gmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,1200],"id":"8036a390-8879-4730-b949-4c6c64addb5c","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"4b6fdf84-ad82-4045-81bc-f03a75512275","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"b3f56fea-a23d-4c4d-bef2-83235c5ddff8","name":"Id_bucket","value":"={{ $json.Id_bucket }}","type":"string"},{"id":"78bbface-6f1c-4a92-ad4c-c531ce6e1da3","name":"id_gmail","value":"={{ $json.id_gmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,1008],"id":"48cc2c78-aef6-459a-a464-17475ef867b0","name":"Edit Fields8"},{"parameters":{"assignments":{"assignments":[{"id":"1de02bc6-d6cf-429c-8c50-8cc8b1e917b6","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"a03fdb3a-dd20-4bb8-9a58-50c46464f49a","name":"id_gmail","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,1200],"id":"b6d3cb9d-aef3-4a7e-a68a-5e6f6fcf4d3a","name":"Edit Fields9"},{"parameters":{"jsCode":"// Paramètres d'entrée\nconst emailId = $json.id_gmail || 'unknown_id';\nconst fileName = 'email.txt';\n\n// Crée la date du jour au format YYYY-MM-DD\nconst today = new Date().toISOString().split('T')[0];\n\n// Nettoie le nom de fichier (remplace les caractères spéciaux)\nconst safeFileName = fileName.replace(/[\\[\\]#?\\\\]/g, '_');\n\n// Construit le chemin final dans le bucket\nconst filePath = `${today}/${emailId}/${safeFileName}`;\n\n// Ajoute le champ filePath à l'item\nreturn [\n  {\n    json: {\n      ...$json,\n      filePath, // ← utilisable dans ton node d'upload\n    },\n    binary: $binary, // Si tu as déjà un fichier binaire attaché\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,1200],"id":"6b9c2492-74bb-485d-9358-5a93a079e922","name":"Code3"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const fullKey = item.json.Key || '';\n  const cleanKey = fullKey.replace(/^email-attachments\\//, '');\n\n  return {\n    json: {\n      ...item.json,\n      Key: cleanKey\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,1008],"id":"e2a80964-382c-462c-8bb7-a378c8fa441b","name":"Code4"},{"parameters":{"tableId":"email_attachments","fieldsUi":{"fieldValues":[{"fieldId":"file_name","fieldValue":"email.txt"},{"fieldId":"file_path","fieldValue":"={{ $('Edit Fields8').item.json.Key }}"},{"fieldId":"email_id","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,1008],"id":"6a18564a-f611-45b9-9ebd-006c2ef8c946","name":"Supabase1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3984,1152],"id":"376fd36a-8219-45a9-ae02-7c4d7061eb60","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1186542609664575387"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-672,1856],"id":"bc23b11e-0252-4765-85d0-a80000ddd296","name":"sapitec_processed","webhookId":"99c45257-4e77-4d08-8f95-f387cb888428","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('testFrom').item.json.snippet }}","rightValue":"^-- RAPPEL --","operator":{"type":"string","operation":"regex"},"id":"eba25079-2e15-432b-9f9d-252549d72028"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d79cc8c2-b04b-44a2-8d0e-c2534ae74428","leftValue":"={{ $('testFrom').item.json.From }}","rightValue":"3CX","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-912,1616],"id":"a6e29b27-a100-4a8c-97cc-a8a4ceda1496","name":"Switch"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5571337795333333673"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-672,1440],"id":"e6d6c506-b74f-460c-a31a-b153c7f12421","name":"sapitec_rappel","webhookId":"62f27dfa-2cbd-4c2e-889f-0dd6478fe611","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const html = item.json.body ?? '';\n  // Enlève <img ...> (auto-fermée ou non) et un éventuel </img>\n  item.json.body = html.replace(\n    /<img\\b[^>]*?(?:\\/>|>)(?:\\s*<\\/img>)?/gi,\n    ''\n  );\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,112],"id":"34965ccf-a6b0-4f0c-b7fd-cbb93446ca30","name":"regex img"},{"parameters":{"errorMessage":"Authorization Gmail VPS1 Sapitec"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-2976,1200],"id":"c90215c1-7fc4-4a91-9f02-0f0c88195eb0","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[592,912],"id":"0ee9293d-849e-44f4-8586-e033947f49b6","name":"DebugHelper","onError":"continueRegularOutput"},{"parameters":{"content":"## déplacement des emails après traitements","height":608,"width":2368},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,1424],"id":"40d9b599-67c7-4bb6-bd5d-4f5e26e96abf","name":"Sticky Note"},{"parameters":{"throwErrorMessage":"problème url upload supabase (vérifier VPS)"},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[-624,752],"id":"a844292a-d474-449b-83a7-fd20fef1f151","name":"DebugHelper1"},{"parameters":{"jsCode":"return $input.all().filter(item => {\n  const text = (item.json.fullText ?? '').replace(/\\s+/g, '');\n  return text.length > 0;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,512],"id":"2da81790-f782-4734-9cb6-28746de3af1d","name":"Code5"},{"parameters":{"jsCode":"const MIN_SIZE = 25 * 1024; // 45 Ko en octets\n\n// Fonction utilitaire pour convertir \"229 kB\", \"7.05 kB\", etc. en octets\nfunction parseSize(sizeStr) {\n  const match = sizeStr.match(/^([\\d.]+)\\s*(kB|MB|B)$/i);\n  if (!match) return 0;\n\n  const value = parseFloat(match[1]);\n  const unit = match[2].toLowerCase();\n\n  if (unit === 'kb') return value * 1024;\n  if (unit === 'mb') return value * 1024 * 1024;\n  if (unit === 'b')  return value;\n  return 0;\n}\n\n// Filtrer les items en fonction de leur taille,\n// mais garder les PDF quelle que soit leur taille\nconst filtered = $input.all().filter(item => {\n  const fileName = item.json.file_name || ''; // ou le champ correspondant dans tes données\n  const sizeStr = item.json.file_size;\n  const bytes = parseSize(sizeStr);\n\n  const isPDF = /\\.pdf$/i.test(fileName);\n  return isPDF || bytes >= MIN_SIZE;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,704],"id":"aaa6227a-2576-41f8-bad0-c5e393d816b3","name":"sizeFilter1 sauf pdf"},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"gmail_id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"is_complete","fieldValue":"True"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,1680],"id":"e5649fd8-490f-4fbf-9a39-03e574eca80c","name":"is_complete True","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a072ceb-d620-4cf2-bac5-d79dfa9fe3a9","leftValue":"={{$json.output.type}}","rightValue":"paiement","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,288],"id":"a498db5a-6add-4c42-950d-0d1354d1442a","name":"If1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1136,528],"id":"fcb4db7f-c637-41fa-94be-0302f51a9494","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"text":"={{ $('Code5').item.json.fullText }}","schemaType":"fromJson","jsonSchemaExample":"{\n\n\t\t\"client_adresse\" : \"12 Rue de la République\",\n\t\t\"client_code_postal\" : \"69002\",\n\t\t\"client_email\" : \"claire.morel@francia.fr\",\n\t\t\"client_id\" : null,\n\t\t\"client_prenom_nom\" : \"Claire Morel\",\n\t\t\"client_raison_sociale\" : \"FRANCIA SARL\",\n\t\t\"client_tel\" : \"04 72 56 23 89\",\n\t\t\"client_ville\" : \"Lyon\",\n\n\t\t\"lese_adresse\" : \"45 Avenue des Tilleuls\",\n\t\t\"lese_code_postal\" : \"69008\",\n\t\t\"lese_email\" : \"jean.dupont@example.com\",\n\t\t\"lese_info_compl\" : null,\n\t\t\"lese_nom_prenom\" : \"Jean Dupont\",\n\t\t\"lese_tel\" : \"06 78 90 12 34\",\n\t\t\"lese_ville\" : \"Lyon\",\n\n\t\t\"reference\" : \"AX123456\",\n  \t\t\"numDevis\" : \"D25073703\",\n  \t\t\"type\" : \"intervention\"  \n\t}","options":{"systemPromptTemplate":"=# contexte\ntu es un analyseur de PDF hors pair. Tu analyses les pièces jointes en PDF envoyé par un client (régie, syndic) à la société Sapitec qui fait des interventions.\n\n\n# ta mission\n\nTu es capable de repérer qui est le client (syndic, régie, celui qui fait la demande) et chez qui il faut intervenir (lésé, lieu d'intervention) en extrayant les coordonnées nécessaires de chacun.\n\n**IMPORTANT** Si tu ne trouves pas une information tu n'inventes jamais rien, tu laisses vide.\n\ntu travailles pour la société SAPITEC, le client ou le lésé ne peuvent JAMAIS être SAPITEC, 3 Rue Louis Lachenal, 69740 Genas.\n\ncas d'une COMMANDE  (devis sapitec validé) : \n* Parfois tu devras analyser un PDF qui sera le devis de la société SAPITEC, qui a été envoyé au client (entête et pied de page sapitec, présence de \"Genas le :\" puis la date. Dans ce cas seulement tu devras récupérer le numéro de devis qui est toujours sous la forme D + 8chiffres. Exemple \"D25073703\". Le mettre dans la clé \"numDevis\"\n* si c'est une commande, le lese_nom_prenom ne peut en aucun cas être la même personne que le client_prenom_nom.\n * les infos du lésé de l'intervention est en général précisé dans \"Affaire:\""}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2192,480],"id":"da333069-0369-4d98-9964-8d77d8c0bd5c","name":"commande extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,352],"id":"51400f3d-ba37-40af-897c-f7018183b918","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"text":"={{ $('Code5').item.json.fullText }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"nomClient\": \"Lamy Lyon Point du Jour\",\n  \"adresseClient\": \"51 Avenue du Point du Jour\",\n  \"codePostalClient\": \"69005\",\n  \"villeClient\": \"Lyon\",\n  \"prenomContact\": null,\n  \"nomContact\": null,\n  \"factures\": [\n    {\n      \"numeroFacture\": \"18526\",\n      \"montant\": 1072.50\n    },\n    {\n      \"numeroFacture\": \"18232\",\n      \"montant\": 528.00\n    }\n  ]\n}","options":{"systemPromptTemplate":"=Tu es un extracteur de données pour des avis de virement PDF de syndics immobiliers (Citya, Lamy, Immosquare, etc.).\n\nTu travailles pour la société SAPITEC rue Louis Lachenal, donc le client **ne peut pas être SAPITEC** puisque le client envoie un email à Sapitec\n\nSi tu ne trouves pas le client dans l'entête car c'est une image sur le pdf, alors vraisemblablement tu trouveras les infos en pied de page.\n\nSi tu ne trouves pas d'autres infos que celels de sapitec je préfères que tu ne renseignes pas les infos client du tout.\n\nTa mission est d’analyser le contenu textuel du PDF et d’en extraire les informations clés suivantes.\n\n⚙️ Données à extraire :\n- **nomClient** : nom du syndic ou société émettrice du virement (ex. Citya, Lamy, Immosquare, etc.)\n- **adresseClient** : adresse postale complète figurant sur le document pour le syndic\n- **codePostalClient**\n- **villeClient**\n- **prenomContact** : prénom du contact s’il est identifiable (sinon vide)\n- **nomContact** : nom du contact s’il est identifiable (sinon vide)\n- **factures** : tableau des factures réglées avec :\n  - **numeroFacture** : référence à 5 chiffres mentionnée (ex. 18940, 18526…)\n  - **montant** : montant TTC payé pour cette facture, au format nombre (ex. 539.00)\n\n🧾 Règles :\n- Ignore les IBAN, numéros de virement, mentions légales et salutations.\n- Si plusieurs factures sont listées, tu dois toutes les inclure dans le tableau `factures`.\n- Si une donnée n’est pas présente, renvoie `null` pour cette clé.\n- Les montants doivent être des nombres (pas de chaînes).\n\n🧩 Résultat attendu :\nRetourne uniquement du JSON strict, sans texte ni commentaire."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[2192,144],"id":"498628fc-5a5e-48dc-8074-49c688501233","name":"paiement Extractor"},{"parameters":{"text":"={{ $json.fullText }}","attributes":{"attributes":[{"name":"type","description":"autre","required":true}]},"options":{"systemPromptTemplate":"=tu es un analyseur de PDF compétent, tu dois simplement classifier le pdf en me disant s'il s'agit d'un avis de paiement, virement, réèglement de facture ou d'autre chose.\n\nSi c'est le cas tu définis le type comme \"paiement\", sinon comme \"autre\"\n\nUn paiement s'appelle en général \"avis de virement\", \"avis de paiement\", \"relevé de situation\" ou en tout cas suggère une liste de règlements qui ont été fait pour une ou plusieurs factures. \n\n** ne pas confondre **\nAvec par exemple un devis sapitec signé. Le devis contient un descriptif de travaux à faire avec des prix, à un numéro qui commence par D.....\n\ntype ne peut pas être null\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1440,512],"id":"cd08bff2-255b-45bc-91a6-421942cab440","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1376,720],"id":"6a0f1d47-a849-4ebc-ad67-033a8da3c2d0","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"z_isTest","fieldValue":"={{ $('set email test').item.json.test }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,16],"id":"84b39174-577e-4eab-8290-5fabf53b4dc2","name":"Update a row","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"throwErrorMessage":"impossible d'updater la table emails"},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[1152,176],"id":"ba4f513a-cb7c-4169-8630-98c72d28a392","name":"DebugHelper2"},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Merge').item.json.email_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"client_raison_sociale","fieldValue":"={{ $json.output.nomClient }}"},{"fieldId":"client_adresse","fieldValue":"={{ $json.output.adresseClient }}"},{"fieldId":"client_code_postal","fieldValue":"={{ $json.output.codePostalClient }}"},{"fieldId":"client_ville","fieldValue":"={{ $json.output.villeClient }}"},{"fieldId":"client_prenom_nom","fieldValue":"={{ $json.output.prenomContact }} {{ $json.output.nomContact }}"},{"fieldId":"type","fieldValue":"paiement"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2544,144],"id":"7c3a0c6d-639b-4462-a7ed-bce215366e0c","name":"Update a row1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6714ac6a-6179-443e-aa70-1eec4d35a637","name":"output","value":"={{ $('paiement Extractor').item.json.output }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2752,144],"id":"9067c2a1-7389-4e15-94d3-1127860b2491","name":"Edit Fields10"},{"parameters":{"assignments":{"assignments":[{"id":"048ac137-749b-4341-affb-4c7a3ee1d7f0","name":"test","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3728,1152],"id":"5c511539-d8f1-45b6-9365-4b003da581df","name":"_isTestTrue"},{"parameters":{"assignments":{"assignments":[{"id":"048ac137-749b-4341-affb-4c7a3ee1d7f0","name":"test","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3728,1312],"id":"9c187faf-1d4d-4db3-abed-d7dd43c2ede0","name":"_isTestFalse"},{"parameters":{"content":"## lancement test\n\nPour emails label = test\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4160,928],"id":"af99f833-4edf-4e0d-912b-fd1f8e84d5a3","name":"Sticky Note3"},{"parameters":{"content":"## cron production"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4144,1472],"id":"d4a3f0fe-53a5-40eb-af51-32cac3e0e894","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"d1b6f8b1-2b3a-41d4-8688-504c5d986de8","name":"test","value":"={{ $('If2').item.json.test }}","type":"boolean"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2320,1120],"id":"ea49914e-2735-477c-877b-f03756eb322f","name":"set email test"},{"parameters":{"content":"## 2025_10_25\n\nLe workflow peut désormais marcher en test ou prod selon qu'on active le trigger ou déclenché par le CRON\n\nLes emails sont flagués test ou non dans supabase automatiquement \n\nPasser en mode test dans FileMaker pour ramener les emails\n","height":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4448,784],"id":"c124b2f4-62fa-4f5e-a4b1-327467182063","name":"Sticky Note5"},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"labelIds":["INBOX"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-4656,144],"id":"0d9adc74-f49c-4c6a-8746-0b9e3d33acf6","name":"getEmais1","webhookId":"20f4593a-7010-4559-9965-6a2237916b82","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","returnAll":true,"filtersUI":{"values":{"filters":{"foldersToInclude":["AQMkAGNiOGI3MTg2LTBjNGYtNDhjZS05OGRhLWU4ZGFhAGM3YTRmMzkALgAAAySKGxAy1G1KtvOGb8vV_4MBAM7bo0t_p8ZGqlTK7VzfN8YAAAIBDAAAAA=="]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[-4512,-144],"id":"4c0e7dde-a0ab-4b1a-94ee-1971a7ea793a","name":"Get many messages","webhookId":"80f34345-220f-4c17-baba-77b5c6255c3b","credentials":{"microsoftOutlookOAuth2Api":{"id":"xQceaIQe7UpfOYSO","name":"Microsoft Outlook account sapitec"}}},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"internalDate"}]},"options":{"disableDotNotation":false}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-2976,1040],"id":"c9f9a6e5-84a3-4d45-9345-567b9c52c2da","name":"Sort"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2752,1040],"id":"839ef76f-5bdf-4dec-893e-4f04c093f05c","name":"Limit"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-3584,288],"id":"b35a1c7b-6c98-41c2-8499-e9d1e264f845","name":"getEmailAndAttach1","webhookId":"e791bfa4-5b82-4b53-abe3-ecc785f3972b","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3039467312286841064"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-3808,48],"id":"ee8f7b3d-74e3-474d-a13c-c5df565cb9da","name":"Add label to message","webhookId":"6c0945a9-d380-46e5-b8b6-271710e203c2","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}}],"connections":{"Insert Email":{"main":[[{"node":"If","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Upload to Storage":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"DebugHelper1","type":"main","index":0}]]},"Insert Attachment Row":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"split attachments":{"main":[[{"node":"Path Builder","type":"main","index":0}]]},"Code":{"main":[[{"node":"regex img","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Insert Attachment Row","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"catégoriser email","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"prompt","type":"main","index":0}]]},"prompt":{"main":[[{"node":"catégoriser email","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"update_email","type":"main","index":0}]]},"catégoriser email":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"_isTestFalse","type":"main","index":0}]]},"getEmais":{"main":[[{"node":"Sort","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"testFrom":{"main":[[{"node":"remove label","type":"main","index":0}],[{"node":"getEmailAndAttach","type":"main","index":0}]]},"If2":{"main":[[{"node":"getEmais","type":"main","index":0}],[{"node":"getEmail TEST","type":"main","index":0}]]},"getEmail TEST":{"main":[[{"node":"set email test","type":"main","index":0}]]},"getEmailAndAttach":{"main":[[{"node":"split attachments","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"remove label":{"main":[[{"node":"unread","type":"main","index":0}]]},"unread":{"main":[[{"node":"Switch","type":"main","index":0}]]},"sapitec_voiceMessage":{"main":[[{"node":"is_complete True","type":"main","index":0}]]},"If3":{"main":[[{"node":"remove label","type":"main","index":0}],[{"node":"remove label1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"Merge6","type":"main","index":0}],[{"node":"DebugHelper","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"commande extractor","type":"ai_languageModel","index":0}]]},"Merge3":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Path Builder":{"main":[[{"node":"sizeFilter1 sauf pdf","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Edit Fields4":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Edit Fields6","type":"main","index":0},{"node":"Code2","type":"main","index":0}]]},"operaTech_outbox":{"main":[[{"node":"is_complete True","type":"main","index":0}]]},"remove label1":{"main":[[{"node":"operaTech_outbox","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload to Storage1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Upload to Storage1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"_isTestTrue","type":"main","index":0}]]},"sapitec_processed":{"main":[[{"node":"is_complete True","type":"main","index":0}]]},"Switch":{"main":[[{"node":"sapitec_rappel","type":"main","index":0}],[{"node":"sapitec_voiceMessage","type":"main","index":0}],[{"node":"sapitec_processed","type":"main","index":0}]]},"sapitec_rappel":{"main":[[{"node":"is_complete True","type":"main","index":0}]]},"regex img":{"main":[[{"node":"Insert Email","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"sizeFilter1 sauf pdf":{"main":[[{"node":"If4","type":"main","index":0},{"node":"Upload to Storage","type":"main","index":0}]]},"If1":{"main":[[{"node":"paiement Extractor","type":"main","index":0}],[{"node":"commande extractor","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[]]},"commande extractor":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"paiement Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"If1","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"paiement Extractor":{"main":[[{"node":"Update a row1","type":"main","index":0}]]},"Supabase":{"main":[[]]},"update_email":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"DebugHelper2","type":"main","index":0}]]},"Update a row1":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"_isTestTrue":{"main":[[{"node":"If2","type":"main","index":0}]]},"_isTestFalse":{"main":[[{"node":"If2","type":"main","index":0}]]},"set email test":{"main":[[{"node":"testFrom","type":"main","index":0}]]},"Get many messages":{"main":[[]]},"getEmais1":{"main":[[]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"set email test","type":"main","index":0}]]},"getEmailAndAttach1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4xKLB9RPfrowY9h4"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-11-10T19:30:49.003+01:00","Readable date":"November 10th 2025, 7:30:49 pm","Readable time":"7:30:49 pm","Day of week":"Monday","Year":"2025","Month":"November","Day of month":"10","Hour":"19","Minute":"30","Second":"49","Timezone":"Europe/Berlin (UTC+01:00)"}}]},"versionId":"3938c29a-32d7-4ffe-b1a1-c6e5250bdc46","triggerCount":1,"shared":[{"createdAt":"2025-10-20T07:53:20.712Z","updatedAt":"2025-10-20T07:53:20.712Z","role":"workflow:owner","workflowId":"Lj7eskpSCreLSdD5","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}