sapitec_reanalyzeattachment-SX1sbrgVIWU9oN8k.json
{"createdAt":"2025-09-11T08:10:18.502Z","updatedAt":"2025-09-16T15:19:46.000Z","id":"SX1sbrgVIWU9oN8k","name":"sapitec_reanalyzeattachment","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.query.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,112],"id":"0f038623-cc9c-4cdf-8e2a-05cf852ff4c8","name":"HTTP Request"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-880,32],"id":"34e70826-fc7d-4380-a9dc-65117191dddc","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"9a185dc7-4970-4f44-bc2f-cf899a7882b6","name":"prompt","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,208],"id":"b4786628-727d-45f6-b508-ce37090fa28f","name":"prompt"},{"parameters":{"text":"=Voici le texte e-mail à analyser et catégoriser : {{ $json.prompt }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"type\": \"suivi\",\n  \"titre\": \"Absence de devis joint\",\n  \"objet\": \"Demande de renvoi du devis réactualisé pour ESPACE EMERAUDE BAT C/D\",\n  \"url_info\": \"https://...\",\n  \"url_password\": \"2354\",\n  \"reference\": \"0197\",\n  \"client\": {\n    \"raisonSociale\": \"SOGELEM\",\n    \"nomPrenom\": \"Bryan Briard\",\n    \"adresse\": \"12, Cours Emile Zola\",\n    \"codePostal\": \"69100\",\n    \"ville\": \"Villeurbanne\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"bryan.briard@sogelem.fr\"\n  },\n  \"lese\": {\n    \"nomPrenom\": \"Gaelle Jos\",\n    \"adresse\": \"Immeuble les Fleurs\\r4rue de la paix\",\n    \"codePostal\": \"75008\",\n    \"ville\": \"Paris\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"gaelle.jos@sogelem.fr\"\n  },\n  \"numDevis\" : \"D25073703\"\n}","options":{"systemPromptTemplate":"=Vous êtes l’assistant d’analyse de PDF français de la société SAPITEC qui reçoit des emails de ses clients (Régies, Syndics en majorité) parlant d’interventions à réaliser dans des résidences chez des particuliers (le lésé).\n\nVotre tâche est purement extractive :\n\t•\tNe gardez que les informations présentes explicitement dans l’email.\n\t•\tIgnorez les noms, coordonnées et adresses emails des personnes travaillant chez SAPITEC.\n\nChamps à produire :\n\t•\ttype : <suivi | demande | commande | autre> (obligatoire, jamais vide)\n\t•\ttitre : résumé court de l’email, max 30 caractères (jamais vide)\n\t•\tobjet : ce qui doit être fait, max 50 caractères (jamais vide)\n\t•\turl_info : parfois une URL est indiquée pour un complément d’information, télécharger une commande ou déposer un devis → renseigner ici\n\t•\turl_password : si l’URL est fournie avec un mot de passe → renseigner ici\n\t•\tnumDevis : numéro de devis si présent au format DXXXXXXXX (ex. D25262321), sinon vide\n\t•\tclient : nom du client, en général celui qui écrit l’email et donne les instructions (ou vide si non trouvé)\n\t•\tcontactClient : en général celui qui signe l’email (ou vide si non trouvé)\n\t•\tdetails : résumé concis en reprenant les mots originaux quand possible (ou vide)\n\t•\tadresse : numéro de voie + nom de voie (ne jamais inclure le code postal ni la ville)\n\t•\tcodePostal : 5 chiffres si présent\n\t•\tville : mot(s) qui suivent immédiatement le code postal\n\nLe lésé :\n\t•\tadresseLese : peut contenir “immeuble”, “résidence”, “copropriété”, “bâtiment” si présent.\n\t•\tSi un nom d’immeuble/résidence est mentionné → le placer avant l’adresse.\n\t•\tExemple : \"Le Clos Fleuri - 29 rue Pierre Brunier\".\n\t•\tnomPrenomLese : peut être défini comme le “contact sur place”, le “locataire”, ou toute appellation laissant entendre que c’est la personne chez qui il faut intervenir (si précisé, sinon vide).\n\nCatégorisation du champ type :\n\t•\tsuivi : relance, question, échange déjà en cours\n\t•\tdemande : première demande de prix (souvent via un lien ou formulaire)\n\t•\tcommande : accord explicite suite à un devis\n\t•\tautre : paiements, communications internes, hors périmètre\n\nRègles impératives :\n\t•\tLe champ type est toujours obligatoire.\n\t•\tSi aucune catégorie ne correspond → écrire \"autre\".\n\t•\tSi une information n’est pas clairement présente → laisser vide \"\".\n\t•\tNe pas écrire \"N/A\", \"exemple\", ou une valeur fictive.\n\t•\tNe jamais mettre \"SAPITEC\" comme client."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[880,112],"id":"9383cd14-1fa5-49b4-ba5d-d7e727a5dfb0","name":"catégoriser email","onError":"continueErrorOutput"},{"parameters":{"options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1264,112],"id":"f7c81fed-4eb2-49d5-9005-449a42c5bf9f","name":"Respond to Webhook"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[976,320],"id":"2180ec19-d9ce-4880-8be5-abd7acb05dcd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const text = item.json.text || \"\";\n  \n  // Marquer si OCR nécessaire\n  item.json.needsOCR = text.trim().length === 0;\n  \n  // ⚠️ Très important : conserver le binary\n  // Sinon ton fichier PDF disparaît et l'OCR ne pourra pas l'utiliser\n  if (item.binary) {\n    item.binary = item.binary;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,32],"id":"01922bb0-a521-45a1-86cc-440fc483c5dd","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-448,112],"id":"8049ca64-15d3-4a0c-b70b-dba0a6a1b3bf","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ebdaf62-d929-44e9-a655-b72b3cc03030","leftValue":"={{ $json.needsOCR }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,112],"id":"912a475c-3e30-4d23-b995-5eeea0966517","name":"If"},{"parameters":{"method":"POST","url":" https://api.ocr.space/parse/image","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"apikey","value":"K84250646088957"},{"name":"language","value":"fre"},{"name":"isOverlayRequired","value":"false"},{"name":"filetype","value":"pdf"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"scale","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"1bc3c303-a9df-4d54-b203-024e3af55eeb","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"05603944-f24b-47e4-9553-003c6969405d","name":"prompt_system","value":"Vous êtes l’assistant d’analyse de PDF français de la société SAPITEC qui reçoit des emails de ses clients (Régies, Syndics en majorité) parlant d’interventions à réaliser dans des résidences chez des particuliers (le lésé).  Votre tâche est purement extractive : \t•\tNe gardez que les informations présentes explicitement dans l’email. \t•\tIgnorez les noms, coordonnées et adresses emails des personnes travaillant chez SAPITEC.  Champs à produire : \t•\ttype : <suivi | demande | commande | autre> (obligatoire, jamais vide) \t•\ttitre : résumé court de l’email (jamais vide) \t•\turl_info : parfois une URL est indiquée pour un complément d’information, télécharger une commande ou déposer un devis → renseigner ici \t•\turl_password : si l’URL est fournie avec un mot de passe → renseigner ici \t•\tnumDevis : numéro de devis si présent au format DXXXXXXXX (ex. D25262321), sinon vide \t•\tclient : nom du client, en général celui qui écrit l’email et donne les instructions (ou vide si non trouvé) \t•\tcontactClient : en général celui qui signe l’email (ou vide si non trouvé) \t•\tdetails : résumé concis en reprenant les mots originaux quand possible (ou vide) \t•\tadresse : numéro de voie + nom de voie (ne jamais inclure le code postal ni la ville) \t•\tcodePostal : 5 chiffres si présent \t•\tville : mot(s) qui suivent immédiatement le code postal  Le lésé : \t•\tadresseLese : peut contenir “immeuble”, “résidence”, “copropriété”, “bâtiment” si présent. \t•\tSi un nom d’immeuble/résidence est mentionné → le placer avant l’adresse. \t•\tExemple : \"Le Clos Fleuri - 29 rue Pierre Brunier\". \t•\tnomPrenomLese : peut être défini comme le “contact sur place”, le “locataire”, ou toute appellation laissant entendre que c’est la personne chez qui il faut intervenir (si précisé, sinon vide).  Catégorisation du champ type : \t•\tsuivi : relance, question, échange déjà en cours \t•\tdemande : première demande de prix (souvent via un lien ou formulaire) \t•\tcommande : accord explicite suite à un devis \t•\tautre : paiements, communications internes, hors périmètre  Règles impératives : \t•\tLe champ type est toujours obligatoire. \t•\tSi aucune catégorie ne correspond → écrire \"autre\". \t•\tSi une information n’est pas clairement présente → laisser vide \"\". \t•\tNe pas écrire \"N/A\", \"exemple\", ou une valeur fictive. \t•\tNe jamais mettre \"SAPITEC\" comme client.","type":"string"},{"id":"6388fa06-96a0-462c-8842-c68508176fd0","name":"prompt","value":"={{ $json.prompt }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,112],"id":"c481f1a2-dc42-46ac-a01b-0a4a9a9f438e","name":"prompt system","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4c2cbb21-342e-4394-b64e-104929ae5947","name":"prompt","value":"={{ $json.ParsedResults[0].ParsedText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"713a02dd-7515-4e58-8d57-123327d9d090","name":"prompt_ocr"},{"parameters":{"path":"4cfa0d39-335e-414f-9110-a1c24f81d264","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1344,112],"id":"c3e01efa-b99d-4720-981e-00c01cc79b82","name":"Webhook","webhookId":"4cfa0d39-335e-414f-9110-a1c24f81d264"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"prompt":{"main":[[{"node":"prompt system","type":"main","index":0}]]},"catégoriser email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"catégoriser email","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"prompt","type":"main","index":0}]]},"prompt system":{"main":[[{"node":"catégoriser email","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"prompt_ocr","type":"main","index":0}]]},"prompt_ocr":{"main":[[{"node":"prompt system","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4xKLB9RPfrowY9h4"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ba5be58e-3237-44b0-a26a-93aaf19319cd","triggerCount":1,"shared":[{"createdAt":"2025-09-11T08:10:18.506Z","updatedAt":"2025-09-11T08:10:18.506Z","role":"workflow:owner","workflowId":"SX1sbrgVIWU9oN8k","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}