sapitec_retreive-emails-supabase_-2025_10_20-o44vZwEXXzDdJNxn.json
{"createdAt":"2025-09-11T08:08:22.513Z","updatedAt":"2025-10-20T15:26:44.000Z","id":"o44vZwEXXzDdJNxn","name":"sapitec_retreive-emails-supabase_ 2025_10_20","active":false,"isArchived":false,"nodes":[{"parameters":{"tableId":"emails","fieldsUi":{"fieldValues":[{"fieldId":"gmail_id","fieldValue":"={{ $json.email_id }}"},{"fieldId":"subject","fieldValue":"={{ $json.subject }}"},{"fieldId":"content","fieldValue":"={{ $json.body}}"},{"fieldId":"email_date","fieldValue":"={{ new Date($('getEmailAndAttach').item.json.date).toLocaleString('sv-SE', { timeZone: 'Europe/Paris' }).replace(' ', 'T') }}"},{"fieldId":"from_email","fieldValue":"={{ (() => { \n  const raw = $('getEmailAndAttach').item.json.from?.text;\n  if (!raw) return null; // si vide/undefined -> null\n  const str = Array.isArray(raw) ? raw[0] : raw;\n  return (str.match(/<([^>]+)>/)?.[1] \n       || str.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)?.[0] \n       || null);\n})() }}"},{"fieldId":"to_email","fieldValue":"={{ (() => { \n  const raw = $('getEmailAndAttach').item.json.to?.text;\n  if (!raw) return null; // si vide/undefined -> null\n  const str = Array.isArray(raw) ? raw[0] : raw;\n  return (str.match(/<([^>]+)>/)?.[1] \n       || str.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/)?.[0] \n       || null);\n})() }}"}]}},"id":"98b0d3a8-069c-40aa-b168-59c06970dfe3","name":"Insert Email","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1312,112],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/email-attachments/{{ $json.file_path }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage","type":"n8n-nodes-base.httpRequest","position":[-1312,640],"id":"9c35789b-4ae4-41cf-8adb-bbb8e280f1c0","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{"tableId":"email_attachments","fieldsUi":{"fieldValues":[{"fieldId":"email_id","fieldValue":"={{ $json.email_id }}"},{"fieldId":"file_name","fieldValue":"={{ $json.file_name }}"},{"fieldId":"file_path","fieldValue":"={{ $json.file_path }}"},{"fieldId":"file_type","fieldValue":"={{ $json.file_type }}"}]}},"name":"Insert Attachment Row","type":"n8n-nodes-base.supabase","position":[176,432],"id":"3d0aea33-85f3-4bfa-96e7-dad9c43a9f72","typeVersion":1,"credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  const emailId = item.json.id;\n\n  // PJ binaires\n  if (item.binary && Object.keys(item.binary).length > 0) {\n    for (const [key, binaryData] of Object.entries(item.binary)) {\n      output.push({\n        json: {\n          email_id: emailId,\n          attachmentName: binaryData.fileName || key,\n          contentType: binaryData.mimeType || 'unknown',\n        },\n        binary: {\n          data: binaryData\n        }\n      });\n    }\n  }\n\n  // PJ dans json.attachments (si applicable)\n  else if (Array.isArray(item.json.attachments)) {\n    for (const attachment of item.json.attachments) {\n      output.push({\n        json: {\n          gmail_id: emailId,\n          attachmentId: attachment.attachmentId,\n          filename: attachment.filename,\n          mimeType: attachment.mimeType,\n          size: attachment.size\n        }\n      });\n    }\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,704],"id":"35e1cbcd-c18d-4a46-a30e-fc53838c7bf7","name":"split attachments"},{"parameters":{"jsCode":"const output = [];\n\nfor (const item of $input.all()) {\n  // ID de l’e-mail (priorité à email_id s’il existe)\n  const emailId = item.json.email_id ?? item.json.id;\n  if (!emailId) continue;\n\n  // Sujet : « non defini » si vide ou absent\n  const subject = (item.json.subject && item.json.subject.trim())\n    ? item.json.subject\n    : 'non defini';\n\n  // Corps : text en priorité, sinon html, sinon chaîne vide\n  const body = item.json.text ?? item.json.html ?? '';\n\n  // Comptage des pièces jointes\n  let count = 0;\n  if (item.binary && typeof item.binary === 'object' && Object.keys(item.binary).length) {\n    count = Object.keys(item.binary).length;\n  } else if (Array.isArray(item.json.attachments)) {\n    count = item.json.attachments.length;\n  }\n\n  // Construction de la sortie\n  output.push({\n    json: {\n      email_id: emailId,\n      subject,\n      body,\n      attachments_count: count\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,112],"id":"6a214f9c-4fce-4455-b3db-17a6ca860123","name":"Code"},{"parameters":{"jsCode":"const output = [];\n\nconst seen = new Set();\n\nfor (const item of $input.all()) {\n  const emailId = item.json.id;\n  const gmailId = item.json.gmail_id;\n\n  if (!emailId || !gmailId || seen.has(gmailId)) {\n    continue;\n  }\n\n  seen.add(gmailId);\n\n  output.push({\n    json: {\n      email_id: emailId,\n      gmail_id: gmailId\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,432],"id":"0e5ce9df-1be7-46c7-97ff-71f1aa8bcc0c","name":"Code1","onError":"continueErrorOutput"},{"parameters":{"mode":"combine","fieldsToMatchString":"gmail_id","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-656,512],"id":"3ce29b7e-c8ad-40f2-a42a-03d1ec622134","name":"Merge"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-128,224],"id":"5ab7d491-896e-417d-b287-7ff50e0c41e7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87a4e923-e491-4f86-9cfb-313144983569","leftValue":"={{ $('getEmailAndAttach').item.json.text }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,112],"id":"9e9e1a46-661a-4034-9e4e-b48ca65c7c40","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a312b388-e756-4e0b-8739-70a2df174ba3","name":"prompt","value":"={{ $('getEmailAndAttach').item.json.html }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,32],"id":"12e7f72e-1cce-49a7-93a4-eed5f9e4ffcf","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"00b70686-2440-4830-bf9a-ff6fdad0c5c8","name":"prompt","value":"={{ $('getEmailAndAttach').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,240],"id":"f2843461-6f31-40a5-81d9-6e8fc7b649b6","name":"Edit Fields2"},{"parameters":{"fieldToSplitOut":"prompt","include":"selectedOtherFields","fieldsToInclude":"idEmail, threadId","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-656,112],"id":"1feb2277-994f-40c2-95cf-45ad044abe3e","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"9a185dc7-4970-4f44-bc2f-cf899a7882b6","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"4afbab65-2fb1-4b71-bf65-faee9c1e5db9","name":"id_email","value":"={{ $('If').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,112],"id":"cb6d480b-069a-4bc0-a625-6443edd87e53","name":"prompt"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[176,112],"id":"b041f0b7-adb0-4c64-98b5-1e94df080744","name":"Merge1"},{"parameters":{"text":"=Voici le texte e-mail à analyser et catégoriser : {{ $json.prompt }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"type\": \"suivi\",\n  \"titre\": \"Absence de devis joint\",\n  \"objet\": \"Demande de renvoi du devis réactualisé pour ESPACE EMERAUDE BAT C/D\",\n  \"url_info\": \"https://...\",\n  \"url_password\": \"2354\",\n  \"reference\": \"0197\",\n  \"client\": {\n    \"raisonSociale\": \"SOGELEM\",\n    \"nomPrenom\": \"Bryan Briard\",\n    \"adresse\": \"12, Cours Emile Zola\",\n    \"codePostal\": \"69100\",\n    \"ville\": \"Villeurbanne\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"bryan.briard@sogelem.fr\"\n  },\n  \"lese\": {\n    \"nomPrenom\": \"Gaelle Jos\",\n    \"adresse\": \"Immeuble les Fleurs\\r4rue de la paix\",\n    \"codePostal\": \"75008\",\n    \"ville\": \"Paris\",\n    \"tel\": \"04 72 98 25 21\",\n    \"email\": \"gaelle.jos@sogelem.fr\"\n  }\n}","options":{"systemPromptTemplate":"=Vous êtes l'assistant d’analyse d’e-mails français de la société SAPITEC qui reçoit des emails de ses clients (Régies, Syndics en majorité) parlant d'intervention à faire dans des résidences chez des particuliers (le lésé).\n\nLes emails analysés peuvent être des emails tranférés en interne : il faut ignorer les noms, coordonnées et adresses emails des personnes semblant travailler chez SAPITEC. \n\nVotre tâche est purement extractive : ne gardez que les informations présentes explicitement dans l’e-mail.  \nIgnorez les noms, coordonnées et adresses emails des personnes travaillant chez SAPITEC.  \n\nChamps à produire :\n- Type : <suivi | demande | commande | autre> (obligatoire, jamais vide)  \n- titre : résumé court de l’email (jamais vide)\n\nurl\n - parfois une url est indique pour un complément d'information, télécharger une commande ou déposer un devis : à mettre dans url_info\n - il arrive que l'url soit fournie avec un mot de passe qui permet d'accéder au site de la régie, à renseigner dans url_password\n\n- Client : nom du client, engénral celui qui écrit l'email et donne les instructions (ou vide si non trouvé)\n\n- Contact client : en général celui qui signe l'email\n\n- Details : résumé concis en reprenant les mots originaux quand possible (ou vide)  \n\n- adresse : \n\n  • Numéro de voie + nom de voie  \n  • Ne jamais inclure le code postal ni la ville  \n- code postal : 5 chiffres si présent  \n- ville : mot(s) qui suivent immédiatement le code postal  \n\nLe lésé :\n\nParfois le nom du lésé n'est pas stipulé mais l'adresse l'est, souvent avec le nom de l'immeuble ou de la résidence dans ces cas : bien remplir les informations lésé sans stipuler le nom prénom juste.\n\n - Adresse lésé : Peut contenir “immeuble”, “résidence”, “copropriété”, “bâtiment” si présent. si tu trouves le nom associé le mettre avant l'adresse. Exemple \"Le Clos Fleuri - 29 rue Pierre Brunier\"\n - nom prénom : peut être défini comme le \"contact sur place\" ou \"le membre de la copropriété\" ou \"le locataire\" ou toute appellation qui fait penser que c'est la personne chez qui il faut intervenir, quand son nom est précisé.\n\nCatégorisation du champ Type :\n- suivi : relance, question, échange déjà en cours  \n- demande : première demande de prix (souvent via un lien ou formulaire)  \n- commande : accord explicite suite à un devis  \n- autre : paiements, communications internes, hors périmètre  \n\nRègles impératives :\n- Le champ Type est toujours obligatoire  \n- Si aucune catégorie ne correspond → écrire « autre »  \n- Si une information n’est pas clairement présente → laisser vide  \n- Ne pas écrire “N/A”, “exemple” ou une valeur fictive  \n- Ne jamais mettre “SAPITEC” comme client\n\nFormat de sortie JSON comme indiqué dans l'exemple.\n** IMPORTANT ** renseigner toutes les clés attendues, par exemple si nomPrenom du lésé est vide le mettre dans le json et mettre vide (\"\")\n\nExemples de format attendu (illustratifs uniquement) :\n\nEntrée :\n« Sauf erreur de notre part, nous n’avons pas eu de confirmation pour la demande suivante : »  \nSortie :\nType: suivi  \ntitre: Relance client affaire xxx  \n\nEntrée :\n« Peux tu reprendre rendez-vous avec… »  \nSortie :\nType: suivi  \ntitre: Suivi de RDV affaire xxx  \n\nEntrée :\n« Veuillez prendre connaissance de notre envoi via ce lien : https://formulaire-devis.example.com »  \nSortie :\nType: demande  \ntitre: Demande de devis affaire xxx  \n\nEntrée :\n« Nous confirmons notre commande pour le devis #1234. »  \nSortie :\nType: commande  \ntitre: Confirmation de commande pour le devis #1234  "}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-208,0],"id":"61b0440a-0b05-49f8-a7d3-b9bba58cf4ff","name":"catégoriser email","onError":"continueErrorOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-3296,1312],"id":"98bb32e5-cc57-453d-a04a-92c3f71a86f2","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","limit":3,"filters":{"labelIds":["INBOX"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2624,1104],"id":"1eba4a63-f3e2-4cc7-96b6-e5ba32843799","name":"getEmais","webhookId":"c4f2eae1-b352-4ef7-872f-3f214363a221","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7378f2a-cc8c-4744-9406-0b2a92b166ce","leftValue":"={{ $json.From }}","rightValue":"3CX","operator":{"type":"string","operation":"contains"}},{"id":"74b601d5-4f37-48d7-9833-f68391725a8f","leftValue":"={{ $json.snippet }}","rightValue":"=^-- RAPPEL --","operator":{"type":"string","operation":"regex"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2416,1200],"id":"ddb02508-5b06-4cb2-b69b-d77564665b1b","name":"testFrom"},{"parameters":{"assignments":{"assignments":[{"id":"048ac137-749b-4341-affb-4c7a3ee1d7f0","name":"test","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3072,1200],"id":"c7d815da-1f58-4ad8-9481-205cb39aa360","name":"_isTest"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ebb11565-64cb-4fda-a8ce-65dbede92410","leftValue":"={{ $json.test }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2848,1200],"id":"2fde6cd2-2a64-4ec6-be83-1fa3092e07ef","name":"If2"},{"parameters":{"operation":"getAll","limit":2,"filters":{"labelIds":["Label_3039467312286841064"]}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2624,1312],"id":"36c4e16f-ef8b-43c7-b13a-f3d568d7bbc5","name":"getEmail TEST","webhookId":"349ba4b9-a949-4133-a6fc-052dffd72b6a","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2192,960],"id":"4d5d54d5-8828-4277-b77b-ed255763c1a7","name":"getEmailAndAttach","webhookId":"714b65e2-c664-460e-8b21-5230490b77e9","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1744,1632],"id":"f503a58b-6bc2-46d7-965e-827e20f7edcb","name":"remove label","webhookId":"c69537bd-296c-4590-a133-53322140ccc0","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["UNREAD"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1536,1632],"id":"afccfb99-ece2-431a-b848-2fbb6899af2f","name":"unread","webhookId":"8f7f53d1-085d-4395-a57b-f85dd5a54f17","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1744436849750838610"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1088,1648],"id":"59d5eb8e-f4cb-453b-8f5e-1a7aa20167da","name":"sapitec_voiceMessage","webhookId":"759a7404-ea5d-4d9c-9168-cf5de5c63469","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"deebff0e-ae56-48f7-9b4e-dfae9dad2a53","leftValue":"={{ $('_isTest').item.json.test }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2032,1776],"id":"7bc9b76b-2aa2-4fe8-8296-897b0bc6958b","name":"If3"},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_email }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"type","fieldValue":"={{ $json.output.type }}"},{"fieldId":"client_raison_sociale","fieldValue":"={{ $json.output.client.raisonSociale }}"},{"fieldId":"client_prenom_nom","fieldValue":"={{ $json.output.client.nomPrenom }}"},{"fieldId":"client_adresse","fieldValue":"={{ $json.output.client.adresse }}"},{"fieldId":"client_code_postal","fieldValue":"={{ $json.output.client.codePostal }}"},{"fieldId":"client_ville","fieldValue":"={{ $json.output.client.ville }}"},{"fieldId":"lese_nom_prenom","fieldValue":"={{ $json.output.lese.nomPrenom }}"},{"fieldId":"lese_adresse","fieldValue":"={{ $json.output.lese.adresse }}"},{"fieldId":"lese_code_postal","fieldValue":"={{ $json.output.lese.codePostal }}"},{"fieldId":"lese_ville","fieldValue":"={{ $json.output.lese.ville }}"},{"fieldId":"lese_tel","fieldValue":"={{ $json.output.lese.tel }}"},{"fieldId":"lese_email","fieldValue":"={{ $json.output.lese.email }}"},{"fieldId":"client_tel","fieldValue":"={{ $json.output.client.tel }}"},{"fieldId":"client_email","fieldValue":"={{ $json.output.client.email }}"},{"fieldId":"titre","fieldValue":"={{ $json.output.titre }}"},{"fieldId":"reference","fieldValue":"={{ $json.output.reference }}"},{"fieldId":"url_ordre_service","fieldValue":"={{ $json.output.url_info }}"},{"fieldId":"url_password","fieldValue":"={{ $json.output.url_password }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,112],"id":"f89e875a-8e4b-4703-a53d-704093866525","name":"update_email","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"d0b8b99d-fd3f-4451-bf7f-6630926fe477","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"e43dd72f-ade6-44ff-ac74-33f9a2a53883","name":"Id_bucket","value":"={{ $json.Id }}","type":"string"},{"id":"34228524-abcc-45c5-8faa-3391243f3429","name":"gmail_id","value":"={{ $('Path Builder').item.json.email_id }}","type":"string"},{"id":"5641a1fc-0d58-4b97-95ea-61145c2d20d3","name":"file_name","value":"={{ $('Path Builder').item.json.file_name }}","type":"string"},{"id":"254c0e41-721a-4512-8cce-bca04aeebd2b","name":"file_type","value":"={{ $('Path Builder').item.json.file_type }}","type":"string"},{"id":"1093e1cf-0efc-4937-aaa4-5839794fcb7d","name":"file_path","value":"={{ $('Path Builder').item.json.file_path }}","type":"string"},{"id":"5deee2e6-9e83-40a1-96d6-086ae0237162","name":"uploaded_at","value":"={{ $('Path Builder').item.json.uploaded_at }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,592],"id":"ebb3ed28-d078-40c4-bf02-448d4abb355d","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"a8df2c18-02bf-42ee-9da8-d10dc05dec3f","name":"attachments_count","value":"={{ $('Code').item.json.attachments_count }}","type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,432],"id":"ed5ff8d4-c803-46e5-bb0b-92a8499b1f19","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"38c6e327-aa6a-4acb-99fe-a3e703102eb5","leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"53711c5c-a896-4382-a449-bbbb81f0cc31","leftValue":"={{ $json.file_name }}","rightValue":"pdf","operator":{"type":"string","operation":"endsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,832],"id":"6814500d-57b0-4535-8d5e-6d6e8058c98c","name":"If4"},{"parameters":{"operation":"pdf","options":{"joinPages":false}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-112,560],"id":"cb838adf-3e88-462b-a4b3-c2eaf7444624","name":"Extract from File","onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1136,720],"id":"eb6c9c86-01f4-406d-a3ed-e2d820176e5d","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"text":"={{ $json.fullText }}","schemaType":"fromJson","jsonSchemaExample":"{\n\n\t\t\"client_adresse\" : \"12 Rue de la République\",\n\t\t\"client_code_postal\" : \"69002\",\n\t\t\"client_email\" : \"claire.morel@francia.fr\",\n\t\t\"client_id\" : null,\n\t\t\"client_prenom_nom\" : \"Claire Morel\",\n\t\t\"client_raison_sociale\" : \"FRANCIA SARL\",\n\t\t\"client_tel\" : \"04 72 56 23 89\",\n\t\t\"client_ville\" : \"Lyon\",\n\n\t\t\"lese_adresse\" : \"45 Avenue des Tilleuls\",\n\t\t\"lese_code_postal\" : \"69008\",\n\t\t\"lese_email\" : \"jean.dupont@example.com\",\n\t\t\"lese_info_compl\" : null,\n\t\t\"lese_nom_prenom\" : \"Jean Dupont\",\n\t\t\"lese_tel\" : \"06 78 90 12 34\",\n\t\t\"lese_ville\" : \"Lyon\",\n\n\t\t\"reference\" : \"AX123456\",\n  \t\t\"numDevis\" : \"D25073703\"\n\t}","options":{"systemPromptTemplate":"=tu es un analyseur de PDF hors pair. Tu analyses les pièces jointes en PDF envoyé par un client (régie, syndic) à la société Sapitec qui fait des interventions.\n\nTu es capable de repérer qui est le client (syndic, régie, celui qui fait la demande) et chez qui il faut intervenir (lésé, lieu d'intervention) en extrayant les coordonnées nécessaires de chacun.\n\n**IMPORTANT** Si tu ne trouves pas une information tu n'inventes jamais rien, tu laisses vide.\n\ntu travailles pour la société SAPITEC, le client ou le lésé ne peuvent JAMAIS être SAPITEC, 3 Rue Louis Lachenal, 69740 Genas.\n\ncas d'une COMMANDE  (devis sapitec validé) : \n* Parfois tu devras analyser un PDF qui sera le devis de la société SAPITEC, qui a été envoyé au client (entête et pied de page sapitec, présence de \"Genas le :\" puis la date. Dans ce cas seulement tu devras récupérer le numéro de devis qui est toujours sous la forme D + 8chiffres. Exemple \"D25073703\". Le mettre dans la clé \"numDevis\"\n* si c'est une commande, le lese_nom_prenom ne peut en aucun cas être la même personne que le client_prenom_nom.\n * les infos du lésé de l'intervention est en général précisé dans \"Affaire:\""}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[1040,512],"id":"8980f4a6-0137-41a3-8692-a50efec621ca","name":"Information Extractor1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"gmail_id","field2":"email_id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-432,704],"id":"ec5c1a31-af55-4371-8663-ab226014d7c5","name":"Merge3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Id_bucket2","field2":"Id_bucket"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1632,512],"id":"15d97745-8f92-458f-9774-8298a0c0899a","name":"Merge4"},{"parameters":{"operation":"update","tableId":"email_attachments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_attachment }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"infoAttachement","fieldValue":"={{ $json.output }}"},{"fieldId":"gmail_id","fieldValue":"={{ $json.gmail_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1856,512],"id":"273e2821-c684-434f-839b-e2fc60fc4f00","name":"Supabase","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"jsCode":"/**\n * Transforme n’importe quel nom en clé 100 % sûre pour Supabase Storage\n * - enlève les accents\n * - remplace les caractères interdits par _\n * - condense les doubles _\n */\nfunction toSafeFileName(name = 'file.bin') {\n  return name\n    // 1️⃣ Sépare les signes diacritiques puis les supprime\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n\n    // 2️⃣ Remplace tout caractère NON présent dans la whitelist S3/Supa\n    .replace(/[^A-Za-z0-9 !_\\-.()*'&$@=;:+,?]/g, '_')\n\n    // 3️⃣ Condense __ successifs, retire _ en début/fin\n    .replace(/_+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\n// ────────────────────────────────\n// Code Node complet\n// ────────────────────────────────\nconst bucketName = 'email-attachment';\nconst projectUrl = 'https://drrgcimyszqllymfxqbm.supabase.co';\nconst today = new Date().toISOString().slice(0, 10); // ex. 2025-07-07\n\nreturn $input.all().map(item => {\n  const bin = item.binary?.data;\n  const emailId = item.json.email_id;\n\n  if (!emailId) {\n    throw new Error('email_id manquant dans l’item – injecte-le avant ce node');\n  }\n  if (!bin) {\n    throw new Error('Pièce jointe absente dans binary.data');\n  }\n\n  const rawFileName = bin.fileName || 'file.bin';\n  const mimeType    = bin.mimeType || 'application/octet-stream';\n  const fileSize    = bin.fileSize ?? Buffer.from(bin.data, 'base64').length;\n\n  // 🚀 Ici la magie :\n  const safeFileName = toSafeFileName(rawFileName);\n  const filePath     = `${today}/${emailId}/${safeFileName}`;\n\n  return {\n    json: {\n      email_id:    emailId,\n      file_name:   rawFileName,\n      file_type:   mimeType,\n      file_size:   fileSize,\n      file_path:   filePath,\n      uploaded_at: new Date().toISOString(),\n\n      // URLs d’upload direct\n      upload_rest_url: `${projectUrl}/storage/v1/object/${bucketName}/${filePath}`,\n      upload_s3_url:   `${projectUrl}/storage/v1/s3/${bucketName}/${filePath}`,\n    },\n    binary: { data: bin },\n  };\n});"},"name":"Path Builder","type":"n8n-nodes-base.code","position":[-1744,704],"id":"94930c5e-7600-4efc-92fd-4de50b104c2c","typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"a680c564-36d6-4a60-869d-34af8349f15f","name":"id_attachment","value":"={{ $json.id }}","type":"string"},{"id":"f7aa66b9-6a46-45cf-8694-bc5fc78bf0f9","name":"Id_bucket","value":"={{ $('Edit Fields').item.json.Id_bucket }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,432],"id":"79ab96b6-912f-42ba-8dee-700da0f1780f","name":"Edit Fields5"},{"parameters":{"jsCode":"return $input.all().map((item, index) => {\n  return {\n    json: {\n      index,\n      fullText: Array.isArray(item.json.text) ? item.json.text.join('\\n') : '',\n      Id_bucket: item.json.Id_bucket,\n      ...item.json\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,640],"id":"c4358f92-79b1-41fb-b127-b8a1a01d5efc","name":"Code2"},{"parameters":{"assignments":{"assignments":[{"id":"effa1acf-5453-44b1-81ff-6201dc229822","name":"output","value":"={{ $json.output }}","type":"object"},{"id":"0f8b37cf-7199-4b0a-b109-d986aa6755cd","name":"Id_bucket2","value":"={{ $('Merge5').item.json.Id_bucket }}","type":"string"},{"id":"431a1084-4aee-4a6b-ae57-dc9c49d33888","name":"id_attachment","value":"={{ $('Merge5').item.json.id_attachment }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,512],"id":"db9073c9-c14d-4e8c-9979-b5d70350f7dc","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"55f595c5-bf95-4ba4-a049-3f5bd2800864","name":"Id_bucket","value":"={{ $('Merge3').item.json.Id_bucket }}","type":"string"},{"id":"62051e15-6888-4fce-be6e-d4e8a758d6c5","name":"gmail_id","value":"={{ $('Merge3').item.json.gmail_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,832],"id":"59f552d2-e868-4393-913e-719518d784ad","name":"Edit Fields6"},{"parameters":{"mode":"combine","fieldsToMatchString":"Id_bucket","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[608,512],"id":"6df0cd0c-6d13-4a7e-a0e4-d529219d2467","name":"Merge5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[176,704],"id":"7aac29ef-aa4b-4165-a7fc-7fdf11cb5581","name":"Merge6"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1186542609664575387"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1536,1840],"id":"46b83175-82ba-459e-aaf3-4e919e038d7a","name":"operaTech_outbox","webhookId":"6753ef15-ea68-4b09-93a8-b7173785c47d","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"removeLabels","messageId":"={{ $json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1744,1840],"id":"76fa4d97-ea71-4057-aac3-9ffb401a93b0","name":"remove label1","webhookId":"3bbf9dac-354e-4dd6-828c-3799fba731f0","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"toText","sourceProperty":"text","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1312,1200],"id":"25c33c9f-c8eb-40d5-843e-54b56e2fd2f0","name":"Convert to File"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1968,1104],"id":"9de60b2b-2623-4b1f-9ff5-30866030bc1a","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/email-attachments/{{ $('Code3').item.json.filePath }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"Upload to Storage1","type":"n8n-nodes-base.httpRequest","position":[-1088,1200],"id":"e8bafd18-5bde-4cf7-ac74-6ac2758d03de","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"get","tableId":"emails","filters":{"conditions":[{"keyName":"gmail_id","keyValue":"={{ $json.id_gmail }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1312,1008],"id":"1ab31a4c-afcc-42dd-8ba0-679d00afde50","name":"Supabase2","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a2f86bc2-2887-4cd3-a623-4bf35c992db2","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"4264577f-642a-43d1-8079-dcd77c49c6b7","name":"Id_bucket","value":"={{ $json.Id }}","type":"string"},{"id":"9cbd3984-7a08-48a1-9304-7810911a1327","name":"id_gmail","value":"={{ $('Code3').item.json.id_gmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-864,1200],"id":"8d9740bf-b78c-4834-971f-a5e48532a672","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"4b6fdf84-ad82-4045-81bc-f03a75512275","name":"Key","value":"={{ $json.Key }}","type":"string"},{"id":"b3f56fea-a23d-4c4d-bef2-83235c5ddff8","name":"Id_bucket","value":"={{ $json.Id_bucket }}","type":"string"},{"id":"78bbface-6f1c-4a92-ad4c-c531ce6e1da3","name":"id_gmail","value":"={{ $json.id_gmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,1008],"id":"9530201f-31cc-450f-8317-9c68700b7e1e","name":"Edit Fields8"},{"parameters":{"assignments":{"assignments":[{"id":"1de02bc6-d6cf-429c-8c50-8cc8b1e917b6","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"a03fdb3a-dd20-4bb8-9a58-50c46464f49a","name":"id_gmail","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1744,1200],"id":"397d4b3c-a7d0-4d2b-b810-b9fea2f8ac19","name":"Edit Fields9"},{"parameters":{"jsCode":"// Paramètres d'entrée\nconst emailId = $json.id_gmail || 'unknown_id';\nconst fileName = 'email.txt';\n\n// Crée la date du jour au format YYYY-MM-DD\nconst today = new Date().toISOString().split('T')[0];\n\n// Nettoie le nom de fichier (remplace les caractères spéciaux)\nconst safeFileName = fileName.replace(/[\\[\\]#?\\\\]/g, '_');\n\n// Construit le chemin final dans le bucket\nconst filePath = `${today}/${emailId}/${safeFileName}`;\n\n// Ajoute le champ filePath à l'item\nreturn [\n  {\n    json: {\n      ...$json,\n      filePath, // ← utilisable dans ton node d'upload\n    },\n    binary: $binary, // Si tu as déjà un fichier binaire attaché\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,1200],"id":"bbe4e92e-24f0-4c48-a8aa-4edfde1d92f4","name":"Code3"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const fullKey = item.json.Key || '';\n  const cleanKey = fullKey.replace(/^email-attachments\\//, '');\n\n  return {\n    json: {\n      ...item.json,\n      Key: cleanKey\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1744,1008],"id":"978a6967-b0d7-4708-aeb1-7daa4382b6d6","name":"Code4"},{"parameters":{"tableId":"email_attachments","fieldsUi":{"fieldValues":[{"fieldId":"file_name","fieldValue":"email.txt"},{"fieldId":"file_path","fieldValue":"={{ $('Edit Fields8').item.json.Key }}"},{"fieldId":"email_id","fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1088,1008],"id":"7a08d02e-c5e3-417a-a0f5-c7e2da78b07c","name":"Supabase1","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3296,1104],"id":"4fd09d98-b7c6-4c26-ab13-4ecaba61e97b","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1186542609664575387"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1088,1904],"id":"32b3ef55-d9c2-4f4f-b678-383af0edb60b","name":"sapitec_processed","webhookId":"567fdcea-ef95-49fc-8c29-b036df7ab3aa","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"operation":"update","tableId":"emails","filters":{"conditions":[{"keyName":"gmail_id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"is_complete","fieldValue":"True"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-496,1600],"id":"ff23f00d-db88-4310-b7bb-660bded2fd8b","name":"is_compete True","credentials":{"supabaseApi":{"id":"c6pA96O6wOcfq8wb","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('testFrom').item.json.snippet }}","rightValue":"^-- RAPPEL --","operator":{"type":"string","operation":"regex"},"id":"eba25079-2e15-432b-9f9d-252549d72028"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d79cc8c2-b04b-44a2-8d0e-c2534ae74428","leftValue":"={{ $('testFrom').item.json.From }}","rightValue":"3CX","operator":{"type":"string","operation":"contains"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1312,1632],"id":"ed15daf7-c03b-4d6a-9553-0e69cfce930f","name":"Switch"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5571337795333333673"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1088,1440],"id":"07aaaeff-77b6-4426-bd8c-788aff720b10","name":"sapitec_rappel","webhookId":"567fdcea-ef95-49fc-8c29-b036df7ab3aa","credentials":{"gmailOAuth2":{"id":"g5jOu8vwcyLtJevm","name":"Gmail account Sapitec"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const html = item.json.body ?? '';\n  // Enlève <img ...> (auto-fermée ou non) et un éventuel </img>\n  item.json.body = html.replace(\n    /<img\\b[^>]*?(?:\\/>|>)(?:\\s*<\\/img>)?/gi,\n    ''\n  );\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,112],"id":"f276f17b-7b38-472f-b5f0-c5a4c8fae275","name":"regex img"},{"parameters":{"errorMessage":"Authorization Gmail VPS1 Sapitec"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-2368,880],"id":"ccc8e95b-c287-4df9-8972-9ddfb66bece8","name":"Stop and Error"},{"parameters":{},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[176,912],"id":"ce82d5e3-c308-4b40-9ecb-fbdd5f28dc68","name":"DebugHelper"},{"parameters":{"content":"## Rebrancher cette partie ensuite","height":608,"width":2224},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2192,1488],"id":"668b29d1-946a-4ca8-a9ef-224707851bdb","name":"Sticky Note"},{"parameters":{"throwErrorMessage":"problème url upload supabase (vérifier VPS)"},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[-1040,752],"id":"e9ce6284-26c9-4ef0-8ca0-771f917e4782","name":"DebugHelper1"},{"parameters":{"jsCode":"return $input.all().filter(item => {\n  const text = (item.json.fullText ?? '').replace(/\\s+/g, '');\n  return text.length > 0;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,512],"id":"bfe1f9ae-f922-4b3a-a9d7-7b4efe9d520a","name":"Code5"},{"parameters":{"jsCode":"const MIN_SIZE = 25 * 1024; // 45 Ko en octets\n\n// Fonction utilitaire pour convertir \"229 kB\", \"7.05 kB\", etc. en octets\nfunction parseSize(sizeStr) {\n  const match = sizeStr.match(/^([\\d.]+)\\s*(kB|MB|B)$/i);\n  if (!match) return 0;\n\n  const value = parseFloat(match[1]);\n  const unit = match[2].toLowerCase();\n\n  if (unit === 'kb') return value * 1024;\n  if (unit === 'mb') return value * 1024 * 1024;\n  if (unit === 'b')  return value;\n  return 0;\n}\n\n// Filtrer les items en fonction de leur taille,\n// mais garder les PDF quelle que soit leur taille\nconst filtered = $input.all().filter(item => {\n  const fileName = item.json.file_name || ''; // ou le champ correspondant dans tes données\n  const sizeStr = item.json.file_size;\n  const bytes = parseSize(sizeStr);\n\n  const isPDF = /\\.pdf$/i.test(fileName);\n  return isPDF || bytes >= MIN_SIZE;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,704],"id":"296a6838-74cb-41cf-8306-b96da3ddb52a","name":"sizeFilter1 sauf pdf"}],"connections":{"Insert Email":{"main":[[{"node":"If","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Upload to Storage":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"DebugHelper1","type":"main","index":0}]]},"Insert Attachment Row":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"split attachments":{"main":[[{"node":"Path Builder","type":"main","index":0}]]},"Code":{"main":[[{"node":"regex img","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Insert Attachment Row","type":"main","index":0},{"node":"Merge3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"catégoriser email","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"prompt","type":"main","index":0}]]},"prompt":{"main":[[{"node":"catégoriser email","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"update_email","type":"main","index":0}]]},"catégoriser email":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"_isTest","type":"main","index":0}]]},"getEmais":{"main":[[{"node":"testFrom","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"testFrom":{"main":[[{"node":"remove label","type":"main","index":0}],[{"node":"getEmailAndAttach","type":"main","index":0}]]},"_isTest":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"getEmais","type":"main","index":0}],[{"node":"getEmail TEST","type":"main","index":0}]]},"getEmail TEST":{"main":[[{"node":"testFrom","type":"main","index":0}]]},"getEmailAndAttach":{"main":[[{"node":"split attachments","type":"main","index":0},{"node":"If3","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"remove label":{"main":[[{"node":"unread","type":"main","index":0}]]},"unread":{"main":[[{"node":"Switch","type":"main","index":0}]]},"sapitec_voiceMessage":{"main":[[{"node":"is_compete True","type":"main","index":0}]]},"If3":{"main":[[{"node":"remove label","type":"main","index":0}],[{"node":"remove label1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Code1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"Merge6","type":"main","index":0}],[{"node":"DebugHelper","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Information Extractor1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Merge4":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Path Builder":{"main":[[{"node":"sizeFilter1 sauf pdf","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Edit Fields4":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"Edit Fields6","type":"main","index":0},{"node":"Code2","type":"main","index":0}]]},"operaTech_outbox":{"main":[[{"node":"is_compete True","type":"main","index":0}]]},"remove label1":{"main":[[{"node":"operaTech_outbox","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload to Storage1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Upload to Storage1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Supabase2","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"_isTest","type":"main","index":0}]]},"sapitec_processed":{"main":[[{"node":"is_compete True","type":"main","index":0}]]},"Switch":{"main":[[{"node":"sapitec_rappel","type":"main","index":0}],[{"node":"sapitec_voiceMessage","type":"main","index":0}],[{"node":"sapitec_processed","type":"main","index":0}]]},"sapitec_rappel":{"main":[[{"node":"is_compete True","type":"main","index":0}]]},"regex img":{"main":[[{"node":"Insert Email","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Information Extractor1","type":"main","index":0}]]},"sizeFilter1 sauf pdf":{"main":[[{"node":"If4","type":"main","index":0},{"node":"Upload to Storage","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4xKLB9RPfrowY9h4"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87d728f0-db70-4c61-89ee-6f3950db3751","triggerCount":1,"shared":[{"createdAt":"2025-09-11T08:08:22.523Z","updatedAt":"2025-09-11T08:08:22.523Z","role":"workflow:owner","workflowId":"o44vZwEXXzDdJNxn","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}