support-eurekia_ia-b9ToHlhX25sQTeUL.json
{"createdAt":"2025-10-17T14:33:49.039Z","updatedAt":"2025-11-13T10:26:58.000Z","id":"b9ToHlhX25sQTeUL","name":"support eurekia_IA","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"d38ecf86-28d2-47de-b069-1b33e2d4229c","mode":"list","cachedResultName":"Tickets client","cachedResultUrl":"https://www.notion.so/d38ecf8628d247deb0691b33e2d4229c"},"title":"={{ $json.output.titre }}","propertiesUi":{"propertyValues":[{"key":"Description|rich_text","textContent":"={{ $json.output.texte }}"},{"key":"fromEmail|email","emailValue":"={{ $('Edit Fields1').item.json.fromEmail }}"},{"key":"fromNom|rich_text","textContent":"={{ $('Edit Fields1').item.json.fromNom }}"},{"key":"Statut|status","statusValue":"En cours"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1632,-624],"id":"f0b29b1c-3633-4698-9e97-b103a552e58c","name":"Create a database page","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/support-attachments/{{ $json.uid }}/{{ $json.fileName }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"supabase bucket upload","type":"n8n-nodes-base.httpRequest","position":[4144,-176],"id":"48e4072c-ce21-4d4e-bc91-b13141cd7e3a","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,-816],"id":"efac7e5c-ea4d-4312-8321-c6c51d1ded77","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"46b4e998-b73e-480b-8f5d-63401bf780d9","name":"fileUrl","value":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/public/{{ $json.Key }}","type":"string"},{"id":"20944649-878e-417a-8d12-803d241ffe2a","name":"uid","value":"={{ $('Loop Over Items').item.json.uid }}","type":"string"},{"id":"a261897d-a2d8-445c-865b-8bae41cda435","name":"fileName","value":"={{ $('Loop Over Items').item.json.fileName }}","type":"string"},{"id":"6c79d606-38d6-46b9-846f-e381078798d0","name":"urlNotion","value":"={{ $('Loop Over Items').item.json.url }}","type":"string"},{"id":"d1f99e54-3f0a-4ce5-99f7-8e7dea00d0c2","name":"idEmail","value":"={{ $('Merge1').item.json.idEmail }}","type":"string"},{"id":"47c01390-b005-471d-8d8e-1e9715ec752c","name":"fromEmail","value":"={{ $('Merge1').item.json.fromEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4416,-64],"id":"7b1c3dc5-a386-49b3-bfd3-f5eb877c5bca","name":"Edit Fields"},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.uid }}","destinationMailbox":{"__rl":true,"value":"INBOX.processed","mode":"list","cachedResultName":"INBOX.processed"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[80,-352],"id":"4970d136-6208-4f95-8ba3-27364ab7f927","name":"MoveEmail email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailDateRange":{"since":""},"emailFlags":{},"emailSearchFilters":{}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[-224,-720],"id":"115042ed-8c6f-40dd-8e52-dbaad86dea64","name":"GetEmailsList email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"downloadEml","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.uid }}"},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[32,-720],"id":"f18b6401-6684-4ea6-aead-fffc19130204","name":"DownloadEml email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"emlContent":"=data {{ $json.emlContent }}","includeAttachments":true},"type":"n8n-nodes-eml.eml","typeVersion":1,"position":[400,-720],"id":"c025812c-79c7-4399-aef5-b858825a8b49","name":"ParseEml eml"},{"parameters":{"jsCode":"// Convertit le binaire \"data\" en texte RFC822\nreturn $input.all().map(item => {\n  const emlRaw = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n  return {\n    json: {\n      emlContent: emlRaw,   // texte brut RFC822\n    },\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,-720],"id":"42fc3d1d-e2b4-439e-8460-3b9de4a9926a","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"1f801798-16b4-48ec-9acf-1cf24408079e","name":"text","value":"={{ $json.body_text }}","type":"string"},{"id":"d54e8f3e-efb2-4141-828c-be5dd4fdf440","name":"fromNom","value":"={{ $json.envelope.from[0].name }}","type":"string"},{"id":"9b8600e5-3efe-4f4d-8c13-2e7f6a07623c","name":"fromEmail","value":"={{ $json.envelope.from[0].email }}","type":"string"},{"id":"e4bb7237-8224-4d43-b461-381281338cb6","name":"subject","value":"={{ $json.envelope.subject }}","type":"string"},{"id":"9ccad91b-e074-430f-8ece-456f6079622d","name":"emailDate","value":"={{ $json.envelope.date }}","type":"string"},{"id":"cb18a450-0388-4f27-96ee-39145e1d88f5","name":"uid","value":"={{ $('GetEmailsList email').item.json.uid }}","type":"number"},{"id":"7f2319d7-41dc-417c-b494-0203ccec5154","name":"idEmail","value":"={{ $('GetEmailsList email').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-928],"id":"882f5978-bc6b-4e06-b3f2-c0febc1dfb10","name":"Edit Fields1"},{"parameters":{"jsCode":"const items = $input.all();\nconst results = [];\n\n// Récupère la liste de référence si elle existe (uid, id)\nlet refEmails = [];\ntry {\n  refEmails = $('GetEmailsList email').all();\n} catch (e) {\n  refEmails = [];\n}\n\nfunction cleanMessageId(mid) {\n  if (typeof mid !== 'string') return null;\n  return mid.replace(/^<|>$/g, '').trim();\n}\n\n// ✅ Ajout : fonction de nettoyage de nom de fichier\nfunction cleanFileName(name = '') {\n  return name\n    .normalize('NFD')                      // décompose les accents\n    .replace(/[\\u0300-\\u036f]/g, '')       // supprime les diacritiques\n    .replace(/[^a-zA-Z0-9._-]/g, '_')      // remplace tout ce qui n’est pas autorisé\n    .replace(/_+/g, '_')                   // compresse les underscores\n    .replace(/^_+|_+$/g, '');              // trim les underscores en début/fin\n}\n\nfor (let index = 0; index < items.length; index++) {\n  const emailData = items[index].json || {};\n  const binaries = items[index].binary || {};\n\n  // 1) depuis le node de référence\n  const ref = refEmails[index]?.json || {};\n\n  // 2) fallback message-id de l'entête\n  const headerMsgId = cleanMessageId(emailData.headers?.['message-id']);\n\n  const uid = ref.uid ?? emailData.uid ?? null;\n  const idEmail = ref.id ?? emailData.id ?? headerMsgId ?? null;\n\n  const fromEmail = emailData.envelope?.from?.[0]?.email ?? null;\n\n  const hasAttachment = Array.isArray(emailData.attachments) && emailData.attachments.length > 0;\n\n  if (!hasAttachment) {\n    results.push({\n      json: { uid, idEmail, fromEmail, hasAttachment: false },\n    });\n    continue;\n  }\n\n  // ✅ Nettoyage intégré du nom de fichier avant insertion\n  for (const [key, binaryData] of Object.entries(binaries)) {\n    const rawName = binaryData?.fileName || key;\n    const safeFileName = cleanFileName(rawName);\n\n    results.push({\n      json: {\n        uid,\n        idEmail,\n        fromEmail,\n        fileName: safeFileName,\n        hasAttachment: true,\n      },\n      binary: { data: binaryData },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,-400],"id":"bc8ee94d-6623-4166-879d-bba02e47b04b","name":"Code1"},{"parameters":{"batchSize":"={{$input.all().length}}","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3408,-304],"id":"e4ecbbf8-d0c4-4a92-9224-b41a278d1099","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3764eec9-6f8f-43de-a03c-0682164940d0","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"57d3c648-39f1-4d06-8aaf-c919923e18f9","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"f175cd15-2192-4ea3-ab3e-c22cab5b8e48","name":"uid","value":"={{ $('GetEmailsList email').item.json.uid }}","type":"number"},{"id":"31c81313-2234-44a8-9168-560d39acca27","name":"idEmail","value":"={{ $('GetEmailsList email').item.json.id }}","type":"string"},{"id":"7955a832-c170-4ea4-b7eb-379831ec832e","name":"urlNotion","value":"={{ $json.url }}","type":"string"},{"id":"988761c7-8dd1-4dc5-980b-55d07c838972","name":"fromEmail","value":"={{ $('ParseEml eml').item.json.envelope.from[0].email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,-624],"id":"720640af-31e8-40a1-bf81-f90136d74f50","name":"Edit Fields2"},{"parameters":{"mode":"combine","fieldsToMatchString":"uid","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,-464],"id":"ae4ddbc1-dd03-4f63-a2aa-74d5cbe3a396","name":"Merge1"},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/pages/{{ $json.pageId }}","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.notionPayload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4304,-368],"id":"1eb43e94-b050-4238-a3f5-08d1cd6e7748","name":"notion update multi attachments","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst grouped = {};\n\n// Récupère tous les emails du node \"GetEmailsList email\"\nconst emails = $('GetEmailsList email').all();\n\n// Regrouper les fichiers par URL Notion (donc par page)\nfor (const item of items) {\n  const { fileUrl, fileName, urlNotion, uid, idEmail: itemIdEmail, fromEmail: itemFromEmail } = item.json;\n  if (!urlNotion) continue;\n\n  // Cherche dans les emails le bon id via uid\n  const email = emails.find(e => e.json.uid === uid);\n  const idEmail = email ? email.json.id : itemIdEmail || null;\n  const fromEmail = email ? email.json.fromEmail : itemFromEmail || null;\n\n  // Extraire le pageId (32 caractères hexadécimaux)\n  const match = urlNotion.match(/([0-9a-f]{32})/i);\n  if (!match) continue;\n  const pageId = match[1];\n\n  // Si pas encore de groupe pour cette page → en créer un\n  if (!grouped[pageId]) {\n    grouped[pageId] = {\n      pageId,\n      urlNotion,\n      uid,\n      idEmail,\n      fromEmail,\n      files: []\n    };\n  }\n\n  // Ajouter le fichier à cette page\n  grouped[pageId].files.push({\n    name: fileName,\n    external: { url: fileUrl }\n  });\n}\n\n// Construire le payload Notion (1 item = 1 page)\nconst results = Object.values(grouped).map(group => ({\n  json: {\n    pageId: group.pageId,\n    uid: group.uid || null,\n    idEmail: group.idEmail || null,\n    fromEmail: group.fromEmail || null,\n    notionPayload: {\n      properties: {\n        \"Pièces jointes\": {\n          files: group.files\n        }\n      }\n    }\n  }\n}));\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,-368],"id":"533367e4-38dd-4b02-a262-aca0f6e08363","name":"payload building"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-448,-608],"id":"91272e37-d65d-4744-bb42-bfca2ebedf28","name":"Schedule Trigger"},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\n\t\"categorie\": \"bug\",\n    \"titre\": \"devis non retrouvé\",\n  \t\"texte\": \"Idem, il ne retrouve pas ce numéro de devis qui date de janvier\"\n}","options":{"systemPromptTemplate":"=##ROLE##\nTu es mon assistant expert en lecture et analyse de mes emails.\n\n##TACHE##\nTu analyse le texte reçu et le classe forcément en 3 catégories possibles :\n - bug => rapport d'un bug ou dysfonctionnement\n - question => le client se demande comment faire une action dans le logiciel\n - autre => tout autre cas de figure\n\n### complément d'infos :\n - si catégorie = bug ou categorie = autre\n    -- tu supprimes le texte inutile de bas de page s'il y en a (signature de l'email), pour ne garder que le texte de la demande, sans le modifier. \n    -- en fonction du contexte de la demande tu crées un titre de quelques mots, maxi 6, qui le résume\n\n - si catégorie = \"question\", pas besoin d 'autres éléments.\n\n\n\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[896,-928],"id":"0c6de249-f057-4245-a0ac-1e5551d7359e","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[976,-688],"id":"4d1bc7f4-ae10-4afc-9e72-d960fbf906cf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"jsCode":"// 🔹 Étape 1 : récupérer tous les blocs Notion\nconst blocks = $input.all().map(i => i.json);\n\n// 🔹 Étape 2 : regrouper les heading_2 (questions) avec le paragraphe suivant (réponse)\nconst faqs = [];\nfor (let i = 0; i < blocks.length; i++) {\n  const block = blocks[i];\n  if (block.type === 'heading_2' && blocks[i + 1] && blocks[i + 1].type === 'paragraph') {\n    faqs.push({\n      question: block.content?.trim() || '',\n      answer: blocks[i + 1].content?.trim() || ''\n    });\n  }\n}\n\n// 🔹 Étape 3 : transformer le tout en texte lisible (Markdown ou brut)\nconst faqText = faqs\n  .map(f => `### ${f.question}\\n${f.answer}`)\n  .join('\\n\\n---\\n\\n');\n\n// 🔹 Étape 4 : produire un seul item propre pour ton node OpenAI\nreturn [\n  {\n    json: {\n      faqText,   // version texte prête à insérer dans ton prompt\n      faqs       // version JSON complète si tu veux l’utiliser ailleurs\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,-1184],"id":"25503479-9ea3-45e2-8001-a957b903b2a9","name":"Code2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2432,-960],"id":"2dee44fc-693b-46f7-87f6-c4fd89173f3b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"w9SlUWDfkUpRmR78","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.question }}","messages":{"messageValues":[{"message":"=#ROLE## Tu es mon assistant ADV qui sait répondre précisément aux demandes concernant l'utilisation du logiciel.  \n\n##CONTEXTE## Tes ressources sont contenues ici, tu es capable de renseigner les questions dont les infos sont dans la faq ci-dessous. Tu es totalement honnête et n'invente rien, si tu ne trouves pas la réponse tu réponds dans ce cas \"je ne sais pas\" et rien d'autre.\n\n##La réponse##\n\nMettre Bonjour et le nom de la personne ou prénoom, tond étendu et professionnel.\nPréciser que c'est l'agent IA qui répond.\nRappeler le contexte :\n - Vous vous êtes posé cette question :...\n - LA réponse est la suivante : ...\n\nLe tout formulé plus naturellement.\n\n\n## La FAQ ##  {{ $json.faqText }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2352,-1184],"id":"53c5722f-fcee-40c6-a5aa-9d5e3407d079","name":"Basic LLM Chain"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2128,-1088],"id":"af8c97ca-d9fc-4193-b713-4b8a3e50fd5f","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"caf444c0-3b9c-4c17-a5d2-0b863afebbe4","name":"categorie","value":"={{ $json.output.categorie }}","type":"string"},{"id":"1c8efbe9-a98a-45b3-918e-4cd247aabaf7","name":"question","value":"={{ $('Edit Fields1').item.json.text }}","type":"string"},{"id":"69f13c94-43fd-4543-a526-3b6c06ae7778","name":"reply","value":"={{ $('GetEmailsList email').item.json.envelope.replyTo[0].address }}","type":"string"},{"id":"057d6fdb-0238-4678-937a-b0532d2b1480","name":"uid","value":"={{ $('GetEmailsList email').item.json.uid }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1696,-944],"id":"589c99b0-757e-47c5-adfc-710a7c85a0d5","name":"Edit Fields3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"{{json.text}}","rightValue":"\"je  ne sais pas\"","operator":{"type":"string","operation":"notEquals"},"id":"95cdf6f3-73b9-4d38-8707-b2575d14bfce"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2704,-1088],"id":"2d7b448c-278c-4ddb-9367-1df328773cf9","name":"Switch1"},{"parameters":{"fromEmail":"support@eurekia.io","toEmail":"={{ $('Merge').item.json.reply }}","subject":"Réponse à votre question","emailFormat":"text","text":"={{ $json.text }} ","options":{"ccEmail":"martial888@gmail.com"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2928,-1088],"id":"b045dd59-060a-40cc-bd94-596837867f12","name":"envoi réponse","webhookId":"62d76379-ec32-4bb0-975d-7470e5578d3c","credentials":{"smtp":{"id":"rp2FwQuZzPyHzlx9","name":"SMTP account"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $('Edit Fields3').item.json.uid }}","destinationMailbox":{"__rl":true,"value":"INBOX.processed","mode":"list","cachedResultName":"INBOX.processed"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[3136,-1088],"id":"9d047e0c-61fe-4fb6-9093-e1e2649a046f","name":"MoveEmail email1","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"content":"## Objet\n\n### Analyse un email sur la boite support\n\n- Si analysé comme bug => saisi d'un nouveau ticket dans Notion\n- Si analysé comme question => réponse à la question par email via la FAQ dans Notion","height":320,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-800,-1280],"id":"085c4a70-8a5f-44b8-8f77-af08d56f982e","name":"Sticky Note"},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"https://www.notion.so/FAQ-Clients-28fbbe5a99a1805ab068f351a6167045","mode":"url"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1680,-1184],"id":"65d5aae4-6bf1-411d-981c-30ed56c2aa6c","name":"Get many child blocks","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"errorMessage":"impossible de charger la pièce jointe"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3888,-80],"id":"2bb6ade1-6628-4659-8669-6071acd382e7","name":"Stop and Error"},{"parameters":{"content":"## Réponses aux question\n\n### Analyse le contenu avec la FAQ dans le prompt\n","height":560,"width":3392,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-1360],"id":"599c9501-10d0-4b86-b512-3ddb4a54ec92","name":"Sticky Note1"},{"parameters":{"content":"## Création nouveau bug\n\n### crée un bug et analyse le texte pour créer un titre cohérent et nettoyer le texte de l'email (signature)","height":912,"width":3392,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1408,-784],"id":"601c31a8-dff5-4dc0-9dba-502b4a45b641","name":"Sticky Note2"},{"parameters":{"content":"## Analyse email = question ou bug?\n","height":528,"width":704},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[656,-1040],"id":"fc3bcfaa-a047-4c94-a7c9-5b90b3875bb0","name":"Sticky Note3"},{"parameters":{"content":"## passer par de l'eml\n\nseul moyen trouvé de récupérer le texte de l'email proprement!","height":320,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-832],"id":"6437bffd-9f80-4d45-b38d-005f7918b3cf","name":"Sticky Note4"},{"parameters":{"content":"## passer l'email en \"processed\"\nEt qu'il ne soit pas traité indéfinimment dans la boite de réception","height":320,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-496],"id":"805b2ca0-9694-47d6-9b00-c692d91f7c73","name":"Sticky Note5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2af3b5e3-574d-4319-a2ed-9669320f2f42","leftValue":"={{ $json.hasAttachment }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2720,-464],"id":"f157fe3c-1ca7-4c0f-930d-1d6171ea4784","name":"If"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const fileName = item.json.fileName;\n  item.json.hasAttachment = !!(fileName && fileName.trim() !== '');\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,-464],"id":"a5fa3233-86d2-4302-80e3-ca018704dd02","name":"check attachments","disabled":true},{"parameters":{"fromEmail":"support@eurekia.io","toEmail":"={{ $json.toEmail }}","subject":"Nouveau Ticket créé","html":"={{ $json.message }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[4560,-624],"id":"865b7b4b-1075-44d1-b55f-2b67293051c8","name":"email new ticket no attach","webhookId":"62d76379-ec32-4bb0-975d-7470e5578d3c","credentials":{"smtp":{"id":"rp2FwQuZzPyHzlx9","name":"SMTP account"}}},{"parameters":{"fromEmail":"support@eurekia.io","toEmail":"={{ $('payload building').item.json.fromEmail }}","subject":"Nouveau Ticket créé","emailFormat":"text","text":"=Un nouveau ticket Notion a été créé :  {{ $json.url }}","options":{"bccEmail":"martial@eurekia.io"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[4560,-368],"id":"8d19a8a9-c11a-4eed-b049-fd85c2642f1e","name":"email new ticket attach","webhookId":"62d76379-ec32-4bb0-975d-7470e5578d3c","credentials":{"smtp":{"id":"rp2FwQuZzPyHzlx9","name":"SMTP account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output.categorie }}","rightValue":"question","operator":{"type":"string","operation":"equals"},"id":"bfaba38f-9dde-4171-b715-c79659865321"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b01b1caf-da23-47ae-addd-388301f2dbba","leftValue":"={{ $json.output.categorie }}","rightValue":"bug","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1232,-1200],"id":"410e04ba-6a8b-4067-8b90-8fa5717589a4","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"093a647c-c46d-4eb5-b90f-eac52616c075","leftValue":"={{ $json.output.categorie }}","rightValue":"question","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,-960],"id":"0d3f56e7-aef6-48c2-99a4-886f43814535","name":"If question true"},{"parameters":{"jsCode":"const items = $input.all();\nconst grouped = {};\n\n// Regrouper par URL Notion\nfor (const item of items) {\n  const { urlNotion, fromEmail, hasAttachment } = item.json;\n  if (!urlNotion) continue;\n\n  if (!grouped[urlNotion]) {\n    grouped[urlNotion] = {\n      urlNotion,\n      fromEmail,\n      hasAttachmentList: [],\n    };\n  }\n\n  grouped[urlNotion].hasAttachmentList.push(hasAttachment);\n}\n\n// Créer un item par URL Notion sans pièce jointe\nconst results = [];\n\nfor (const [urlNotion, data] of Object.entries(grouped)) {\n  const hasAnyAttachment = data.hasAttachmentList.some(a => a === true);\n  if (!hasAnyAttachment) {\n    results.push({\n      json: {\n        toEmail: data.fromEmail,\n        subject: \"Un ticket Notion a été créé\",\n        message: `Bonjour,<br><br>Un nouveau ticket a été créé dans Notion :<br>\n        <a href=\"${urlNotion}\">${urlNotion}</a><br><br>\n        Cordialement,<br>Eurekia Automatisation`,\n        urlNotion,\n      }\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,-624],"id":"e41d129e-5ed9-4cd6-b966-192557dd632d","name":"un email par url"}],"connections":{"supabase bucket upload":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"GetEmailsList email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"GetEmailsList email":{"main":[[{"node":"DownloadEml email","type":"main","index":0},{"node":"MoveEmail email","type":"main","index":0}]]},"DownloadEml email":{"main":[[{"node":"Code","type":"main","index":0}]]},"ParseEml eml":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"ParseEml eml","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Loop Over Items":{"main":[[{"node":"payload building","type":"main","index":0}],[{"node":"supabase bucket upload","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"check attachments","type":"main","index":0}]]},"notion update multi attachments":{"main":[[{"node":"email new ticket attach","type":"main","index":0}]]},"payload building":{"main":[[{"node":"notion update multi attachments","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GetEmailsList email","type":"main","index":0}]]},"MoveEmail email":{"main":[[]]},"Information Extractor":{"main":[[{"node":"If question true","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Basic LLM Chain":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"envoi réponse","type":"main","index":0}]]},"envoi réponse":{"main":[[{"node":"MoveEmail email1","type":"main","index":0}]]},"Get many child blocks":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"un email par url","type":"main","index":0}]]},"check attachments":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch":{"main":[[],[],[]]},"If question true":{"main":[[{"node":"Get many child blocks","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Create a database page","type":"main","index":0}]]},"un email par url":{"main":[[{"node":"email new ticket no attach","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"4xKLB9RPfrowY9h4"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":5},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f12c30f7-2f6d-4a45-aa3d-34f1d89be553","triggerCount":1,"shared":[{"createdAt":"2025-10-17T14:33:49.045Z","updatedAt":"2025-10-17T14:33:49.045Z","role":"workflow:owner","workflowId":"b9ToHlhX25sQTeUL","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}