test_allmysms_send_allianced-QO7FMvMVHwCxMk5p.json
{"createdAt":"2025-11-25T09:30:32.411Z","updatedAt":"2025-11-25T09:49:16.000Z","id":"QO7FMvMVHwCxMk5p","name":"test_allmysms_send_allianced","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-48,0],"id":"62e15e59-65cf-4e9f-8a21-4329d19eca61","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"=https://api.allmysms.com/http/9.0/?login=eurekia&apiKey=bb9028b29972d8e&message=helloWorldMartial\\rmonLoulou&mobile=33660969330&tpoa=allianceD","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"12e4688b-0d51-4c49-bbef-6507aaeefd60","name":"HTTP Request"},{"parameters":{"jsCode":"// Récupère le JSON brut renvoyé par AllMySMS\nconst raw = $json.data;\n\n// Parse proprement (il est encodé en string)\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"Impossible de parser la réponse AllMySMS : \" + raw);\n}\n\n// Extraction sécurisée\nconst smsInfo = parsed.smsIds && parsed.smsIds.length > 0\n  ? parsed.smsIds[0]\n  : { smsId: null, phoneNumber: null };\n\n// Construction d'un output propre\nreturn [\n  {\n    json: {\n      status: parsed.status,\n      statusText: parsed.statusText,\n      campaignId: parsed.campaignId,\n      provider_sms_id: smsInfo.smsId,\n      phone: smsInfo.phoneNumber,\n      nbContacts: parsed.nbContacts,\n      nbSms: parsed.nbSms,\n      creditCost: parsed.cost,\n      creditsUsed: parsed.creditsUsed,\n      creditsRemaining: parsed.credits,\n      raw_response: parsed   // utile pour debug / traces\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"a0f63149-e67a-45e3-b8e4-3df5e1e9e82b","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b723e3d8-3eeb-4b99-89e6-8aba6218ad70","triggerCount":0,"shared":[{"createdAt":"2025-11-25T09:30:32.416Z","updatedAt":"2025-11-25T09:30:32.416Z","role":"workflow:owner","workflowId":"QO7FMvMVHwCxMk5p","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}