test-outlook-sapitec-YtVUFXKeFdJivhLX.json
{"createdAt":"2025-10-08T13:43:40.209Z","updatedAt":"2025-11-03T13:23:32.000Z","id":"YtVUFXKeFdJivhLX","name":"test outlook sapitec","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,96],"id":"33c86810-077b-408f-a391-ec1df2ab1fd3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","messageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"downloadAttachments":false}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[352,96],"id":"4e781c4a-772c-4dd0-bffa-78b9a9a7188f","name":"Get a message","webhookId":"cef5d437-51b5-44b3-8099-c273dc861532","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9dc09b1-18b6-4e90-b60a-a1f5c761f021","leftValue":"={{ $json.messages[0].code }}","rightValue":"0","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,96],"id":"25e03c28-3993-424f-9b80-7179acd2320f","name":"If"},{"parameters":{"action":"find","layout":"COM_raw","responseLayout":"COM_raw","queries":{"query":[{"fields":{"field":[{"name":"data","value":"=\"{{ $json.to[0] }}\""}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[576,96],"id":"7f389065-61ee-4384-84d6-f758bd4e40a1","name":"seach COM","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"find","layout":"PRE_raw","responseLayout":"PRE_raw","queries":{"query":[{"fields":{"field":[{"name":"zkf_LOC","value":"={{ $json.response.data[1].fieldData.zkf_LOC }}"}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1008,0],"id":"e23c9372-a577-4245-a416-35418100b6e6","name":"seach PRE","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"find","layout":"BAI_raw","responseLayout":"BAI_raw","queries":{"query":[{"fields":{"field":[{"name":"zkp","value":"={{ $json.response.data[0].fieldData.zkf_BAI }}"}]}}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1216,0],"id":"08a11936-ef13-4c34-bf46-ae90dce9fa6d","name":"seach BAI","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"action":"create","layout":"EVT_raw","fieldsParametersUi":{"fields":[{"name":"type","value":"email"},{"name":"description","value":"={{ $('Get a message').item.json.bodyPreview }}"},{"name":"zkf_BAI","value":"={{ $json.response.data[0].fieldData.zkp }}"},{"name":"dateEvenement","value":"2025-10-25T16:35:00+02:00 "}]}},"type":"n8n-nodes-base.filemaker","typeVersion":1,"position":[1424,0],"id":"685ef5e2-0799-47ee-b198-6fa05a1d143c","name":"create EVT","credentials":{"fileMaker":{"id":"7POHnCS2jSsrBpKZ","name":"FileMaker account"}}},{"parameters":{"operation":"getAll","limit":3,"filtersUI":{"values":{"filters":{"foldersToInclude":["AQMkAGNiOGI3MTg2LTBjNGYtNDhjZS05OGRhLWU4ZGFhAGM3YTRmMzkALgAAAySKGxAy1G1KtvOGb8vV_4MBAM7bo0t_p8ZGqlTK7VzfN8YAAAIBDAAAAA=="]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[112,-160],"id":"72bae300-793c-43c3-b49c-d1a524703f57","name":"SAPITEC Get many messages1","webhookId":"2cab75df-ec32-4230-9fbc-61adfb6a918d","credentials":{"microsoftOutlookOAuth2Api":{"id":"xQceaIQe7UpfOYSO","name":"Microsoft Outlook account sapitec"}}},{"parameters":{"operation":"getAll","limit":1,"filtersUI":{"values":{"filters":{"foldersToInclude":["AAMkADUwYjZmZjMzLWQ0OTUtNDg4Ni1iMzIyLWFkNjZlNGM3ZDM1NQAuAAAAAAAyMXv-ib38QLHCE0XsWsIkAQArzA-vm9W1Q62qHiRtIVbAAAAAAAEJAAA="]}}},"options":{}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[128,96],"id":"79637bc0-f722-4185-b288-3f54a6e7f7d3","name":"ALLIANCED Get many messages","webhookId":"2cab75df-ec32-4230-9fbc-61adfb6a918d","credentials":{"microsoftOutlookOAuth2Api":{"id":"N0tKKghr2HewG7c4","name":"Microsoft Outlook allianced"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"ALLIANCED Get many messages","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"seach COM","type":"main","index":0}]]},"seach COM":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"seach PRE","type":"main","index":0}]]},"seach PRE":{"main":[[{"node":"seach BAI","type":"main","index":0}]]},"seach BAI":{"main":[[{"node":"create EVT","type":"main","index":0}]]},"ALLIANCED Get many messages":{"main":[[{"node":"Get a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get a message":[{"json":{"id":"AAMkADUwYjZmZjMzLWQ0OTUtNDg4Ni1iMzIyLWFkNjZlNGM3ZDM1NQBGAAAAAAAyMXv-ib38QLHCE0XsWsIkBwArzA-vm9W1Q62qHiRtIVbAAAAAAAEJAAArzA-vm9W1Q62qHiRtIVbAAAEfrZClAAA=","conversationId":"AAQkADUwYjZmZjMzLWQ0OTUtNDg4Ni1iMzIyLWFkNjZlNGM3ZDM1NQAQAIBxyRBCltJNjxgDDeUace4=","subject":"remarque syndic","bodyPreview":"merci d'enlever le matela stocké dans la cour interieur \r\n\r\nBien cordialement.\r\n\r\nMarc FAYOLLE \r\nGérant\r\n\r\n-----Message d'origine-----\r\nDe : Immobilier Alliance Developpement <immobilier@alliance-developpement.fr> \r\nEnvoyé : vendredi 24 octobre 2025 12:01","from":"immobilier@alliance-developpement.fr","to":["ahlemjemni@hotmail.com"],"categories":[],"hasAttachments":true}}]},"versionId":"c06273bc-66bc-4dc7-b370-158e93d3aec2","triggerCount":0,"shared":[{"createdAt":"2025-10-08T13:43:40.217Z","updatedAt":"2025-10-08T13:43:40.217Z","role":"workflow:owner","workflowId":"YtVUFXKeFdJivhLX","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}