zzz_support-eurekia_noia-UWdxdRr1JEvoyTf5.json
{"createdAt":"2025-10-16T10:16:39.877Z","updatedAt":"2025-10-20T07:38:26.000Z","id":"UWdxdRr1JEvoyTf5","name":"zzz_support eurekia_noIA","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"d38ecf86-28d2-47de-b069-1b33e2d4229c","mode":"list","cachedResultName":"Tickets client","cachedResultUrl":"https://www.notion.so/d38ecf8628d247deb0691b33e2d4229c"},"title":"={{ $json.subject }}","propertiesUi":{"propertyValues":[{"key":"Description|rich_text","textContent":"={{ $json.text }}"},{"key":"fromEmail|email","emailValue":"={{ $json.fromEmail }}"},{"key":"fromNom|rich_text","textContent":"={{ $json.fromNom }}"},{"key":"Statut|status","statusValue":"En cours"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[960,-720],"id":"f994defc-1424-4680-93ed-34fde5a57ca5","name":"Create a database page","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"method":"POST","url":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/support-attachments/{{ $('GetEmailsList email').item.json.uid }}/{{ $json.fileName }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"  x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"name":"supabase bucket upload","type":"n8n-nodes-base.httpRequest","position":[1888,-480],"id":"d53f8ff2-d468-4271-a2ae-f85705f03097","typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"LcmmlniTWcYXU9cu","name":"Bearer Auth supabase SERVICE KEY"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,-464],"id":"feb7602c-9141-4ba4-ba5f-b8defc2abea0","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"46b4e998-b73e-480b-8f5d-63401bf780d9","name":"fileUrl","value":"=https://supabasekong.eurekia-solutions.com/storage/v1/object/public/{{ $json.Key }}","type":"string"},{"id":"20944649-878e-417a-8d12-803d241ffe2a","name":"uid","value":"={{ $('Loop Over Items').item.json.uid }}","type":"string"},{"id":"a261897d-a2d8-445c-865b-8bae41cda435","name":"fileName","value":"={{ $('Loop Over Items').item.json.fileName }}","type":"string"},{"id":"6c79d606-38d6-46b9-846f-e381078798d0","name":"urlNotion","value":"={{ $('Loop Over Items').item.json.url }}","type":"string"},{"id":"d1f99e54-3f0a-4ce5-99f7-8e7dea00d0c2","name":"idEmail","value":"={{ $('Merge1').item.json.idEmail }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2288,-448],"id":"53d47b28-2168-417f-ba21-77aa1f00b6f8","name":"Edit Fields"},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"moveEmail","sourceMailbox":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $('payload building').item.json.uid }}","destinationMailbox":{"__rl":true,"value":"INBOX.processed","mode":"list","cachedResultName":"INBOX.processed"}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[2304,-672],"id":"eb67a89a-f6dc-4e18-971c-e6400e285576","name":"MoveEmail email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailDateRange":{"since":""},"emailFlags":{},"emailSearchFilters":{}},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[-160,-448],"id":"1e662618-6a7a-4ee6-bf77-c129b0e06af2","name":"GetEmailsList email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"authentication":"coreImapAccount","resource":"email","operation":"downloadEml","mailboxPath":{"__rl":true,"mode":"list","value":"INBOX"},"emailUid":"={{ $json.uid }}"},"type":"n8n-nodes-imap.imap","typeVersion":1,"position":[64,-448],"id":"295b6a54-ae71-4a12-9637-78c73831230e","name":"DownloadEml email","credentials":{"imap":{"id":"C97EbM3SnzLcdvLP","name":"OVH Support eurekia"}}},{"parameters":{"emlContent":"=data {{ $json.emlContent }}","includeAttachments":true},"type":"n8n-nodes-eml.eml","typeVersion":1,"position":[512,-448],"id":"e25ccc22-94f7-47f3-a440-63e952ee9683","name":"ParseEml eml"},{"parameters":{"jsCode":"// Convertit le binaire \"data\" en texte RFC822\nreturn $input.all().map(item => {\n  const emlRaw = Buffer.from(item.binary.data.data, 'base64').toString('utf8');\n  return {\n    json: {\n      emlContent: emlRaw,   // texte brut RFC822\n    },\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-448],"id":"f4d21ba7-a438-485b-9158-96bc0fba476c","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"1f801798-16b4-48ec-9acf-1cf24408079e","name":"text","value":"={{ $json.body_text }}","type":"string"},{"id":"d54e8f3e-efb2-4141-828c-be5dd4fdf440","name":"fromNom","value":"={{ $json.envelope.from[0].name }}","type":"string"},{"id":"9b8600e5-3efe-4f4d-8c13-2e7f6a07623c","name":"fromEmail","value":"={{ $json.envelope.from[0].email }}","type":"string"},{"id":"e4bb7237-8224-4d43-b461-381281338cb6","name":"subject","value":"={{ $json.envelope.subject }}","type":"string"},{"id":"9ccad91b-e074-430f-8ece-456f6079622d","name":"emailDate","value":"={{ $json.envelope.date }}","type":"string"},{"id":"cb18a450-0388-4f27-96ee-39145e1d88f5","name":"uid","value":"={{ $('GetEmailsList email').item.json.uid }}","type":"number"},{"id":"7f2319d7-41dc-417c-b494-0203ccec5154","name":"idEmail","value":"={{ $('GetEmailsList email').item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-720],"id":"92d61d34-7ef6-47b2-b3e9-9347ef8dc459","name":"Edit Fields1"},{"parameters":{"jsCode":"// Récupère tous les items du node précédent\nconst items = $input.all();\nconst results = [];\n\n// Tous les emails du node \"GetEmailsList email\" (même ordre / même index)\nconst emails = $('GetEmailsList email').all();\n\n// Fonction de nettoyage du nom de fichier\nfunction cleanFileName(name) {\n  return name\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^a-zA-Z0-9._-]/g, \"_\")\n    .replace(/_+/g, \"_\")\n    .replace(/^_+|_+$/g, \"\");\n}\n\nfor (let index = 0; index < items.length; index++) {\n  const item = items[index];\n  const binaries = item.binary || {};\n\n  // idEmail & uid alignés sur le même index que l'item\n  const emailAtIndex = emails[index]?.json || {};\n  const uid = emailAtIndex.uid ?? null;\n  const idEmail = emailAtIndex.id ?? null;\n\n  if (Object.keys(binaries).length === 0) continue;\n\n  for (const [key, binaryData] of Object.entries(binaries)) {\n    const rawFileName = binaryData.fileName || key;\n    const safeFileName = cleanFileName(rawFileName);\n\n    results.push({\n      json: {\n        uid,\n        idEmail,                // ✅ idEmail spécifique à CET item\n        fileName: safeFileName,\n      },\n      binary: {\n        data: binaryData,\n      },\n    });\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-448],"id":"2f1b41ef-4efd-46a8-9734-1fb32e91a448","name":"Code1"},{"parameters":{"batchSize":"={{$input.all().length}}","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1616,-512],"id":"099977c2-7579-4d6b-a949-9a7e224ac343","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"3764eec9-6f8f-43de-a03c-0682164940d0","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"57d3c648-39f1-4d06-8aaf-c919923e18f9","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"f175cd15-2192-4ea3-ab3e-c22cab5b8e48","name":"uid","value":"={{ $('GetEmailsList email').item.json.uid }}","type":"number"},{"id":"31c81313-2234-44a8-9168-560d39acca27","name":"idEmail","value":"={{ $('GetEmailsList email').item.json.id }}","type":"string"},{"id":"7955a832-c170-4ea4-b7eb-379831ec832e","name":"urlNotion","value":"={{ $json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,-720],"id":"ae624699-2232-484b-be17-134dd95cf745","name":"Edit Fields2"},{"parameters":{"mode":"combine","fieldsToMatchString":"idEmail","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1392,-560],"id":"71f83d29-4216-4775-975f-f9fa27de2864","name":"Merge1"},{"parameters":{"method":"PATCH","url":"=https://api.notion.com/v1/pages/{{ $json.pageId }}","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendBody":true,"specifyBody":"json","jsonBody":"={{$json.notionPayload}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,-672],"id":"d7a1bb7e-c6d2-492e-8272-d641ed9c44f6","name":"notion update multi attachments","credentials":{"notionApi":{"id":"q0dbCGRA3dXKCUXG","name":"Notion account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst grouped = {};\n\n// Récupère tous les emails du node \"GetEmailsList email\"\nconst emails = $('GetEmailsList email').all();\n\n// Regrouper les fichiers par URL Notion (donc par page)\nfor (const item of items) {\n  const { fileUrl, fileName, urlNotion, uid, idEmail: itemIdEmail } = item.json;\n  if (!urlNotion) continue;\n\n  // Cherche dans les emails le bon id via uid\n  const email = emails.find(e => e.json.uid === uid);\n  const idEmail = email ? email.json.id : itemIdEmail || null;\n\n  // Extraire le pageId (32 caractères hexadécimaux)\n  const match = urlNotion.match(/([0-9a-f]{32})/i);\n  if (!match) continue;\n  const pageId = match[1];\n\n  // Si pas encore de groupe pour cette page → en créer un\n  if (!grouped[pageId]) {\n    grouped[pageId] = {\n      pageId,\n      urlNotion,\n      uid,\n      idEmail,\n      files: []\n    };\n  }\n\n  // Ajouter le fichier à cette page\n  grouped[pageId].files.push({\n    name: fileName,\n    external: { url: fileUrl }\n  });\n}\n\n// Construire le payload Notion (1 item = 1 page)\nconst results = Object.values(grouped).map(group => ({\n  json: {\n    pageId: group.pageId,\n    uid: group.uid || null,\n    idEmail: group.idEmail || null,\n    notionPayload: {\n      properties: {\n        \"Pièces jointes\": {\n          files: group.files\n        }\n      }\n    }\n  }\n}));\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,-672],"id":"fe97f4e6-a135-41a7-8359-4c28960c5426","name":"payload building"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-272],"id":"2dec351d-cf37-41d8-a83d-727fe1ed0cdf","name":"Schedule Trigger"},{"parameters":{"fromEmail":"support@eurekia.io","toEmail":"martial888@gmail.com","subject":"Nouveau Ticket créé","emailFormat":"text","text":"=Un nouveau ticket Notion a été créé :  {{ $('notion update multi attachments').item.json.url }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2592,-672],"id":"2177c643-c219-405d-b68c-330851ae2527","name":"Send email","webhookId":"0ba0c4a8-b347-4070-848b-398b4cf82520","credentials":{"smtp":{"id":"rp2FwQuZzPyHzlx9","name":"SMTP account"}}}],"connections":{"supabase bucket upload":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"GetEmailsList email","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a database page":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"GetEmailsList email":{"main":[[{"node":"DownloadEml email","type":"main","index":0}]]},"DownloadEml email":{"main":[[{"node":"Code","type":"main","index":0}]]},"ParseEml eml":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"ParseEml eml","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create a database page","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Loop Over Items":{"main":[[{"node":"payload building","type":"main","index":0}],[{"node":"supabase bucket upload","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"notion update multi attachments":{"main":[[{"node":"MoveEmail email","type":"main","index":0}]]},"payload building":{"main":[[{"node":"notion update multi attachments","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"GetEmailsList email","type":"main","index":0}]]},"MoveEmail email":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Email Trigger (IMAP)":{"lastMessageUid":5},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35123b64-9c80-49be-8009-7f75422582db","triggerCount":1,"shared":[{"createdAt":"2025-10-16T10:16:39.889Z","updatedAt":"2025-10-16T10:16:39.889Z","role":"workflow:owner","workflowId":"UWdxdRr1JEvoyTf5","projectId":"3csiRTB7Dv0MNPzt"}],"tags":[]}